Repository surrealdb/surrealdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tobiemh, @surrealdb/security, @surrealdb/api, @surrealdb/indexing, @surrealdb/scripting, @surrealdb/cli, @surrealdb/monitoring, @phughk

.github/CODEOWNERS:

# Default owners for the repository
* @tobiemh

# Configuration for GitHub
/.github/ @tobiemh

# Code for fuzzing configuration
/lib/fuzz/ @surrealdb/security

# Code and tests for the Rust API
/lib/CARGO.md @surrealdb/api
/lib/README.md @surrealdb/api
/lib/examples/ @surrealdb/api
/lib/src/api/ @surrealdb/api
/lib/src/tests/api/ @surrealdb/api
/lib/src/tests/api.rs @surrealdb/api

# Code and tests for indexing
/lib/src/idx/ @surrealdb/indexing

# Code and tests for scripting
/lib/src/fnc/script/ @surrealdb/scripting

# Code and tests for the server
/src/net/ @surrealdb/api
/src/rpc/ @surrealdb/api
/tests/http_integration.rs @surrealdb/api
/tests/ws_integration.rs @surrealdb/api

# Code and tests for the command-line
/src/cli/ @surrealdb/cli
/tests/cli_integration.rs @surrealdb/cli

# Code and tests for opentelemetry
/src/telemetry/ @surrealdb/monitoring

# Tests related to the key-value store
/lib/src/kvs/tests/ @tobiemh @phughk

# IAM
/lib/src/iam/ @surrealdb/api @surrealdb/security

[ci] Fixes for cli_integration. Debugging for websocket tests
  .github/workflows/ci.yml
  Makefile.ci.toml
  flake.lock
  tests/common/mod.rs
Owners: @tobiemh

fix cli integration tests
  .github/workflows/ci.yml
Owners: @tobiemh

fail if init has errors
  Makefile.ci.toml
Owners: @tobiemh

restore ci.yaml. Remove unnecessary wrapping of start_tls
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  tests/cli_integration.rs
  tests/common/mod.rs
Owners: @tobiemh, @surrealdb/cli

Ensure types are revisioned
  lib/src/sql/statements/show.rs
Owners: @tobiemh

[ci] Fixes for cli_integration. Debugging for websocket tests (#2453)
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  Makefile.ci.toml
  flake.lock
  tests/cli_integration.rs
  tests/common/mod.rs
Owners: @tobiemh, @surrealdb/cli

feat: Ability to show changes using timestamp (#2408)
  lib/src/api/conn.rs
  lib/src/api/engine/local/mod.rs
  lib/src/api/engine/remote/http/mod.rs
  lib/src/api/engine/remote/ws/native.rs
  lib/src/api/method/mod.rs
  lib/src/api/method/tests/server.rs
  lib/src/api/method/tick.rs
  lib/src/cf/reader.rs
  lib/src/cf/writer.rs
  lib/src/sql/statements/show.rs
  lib/tests/api.rs
  lib/tests/api/local.rs
Owners: @surrealdb/api, @tobiemh

Add ns/db/tb IDs for aliasing (#2441)
  lib/src/idg/mod.rs
  lib/src/idg/u32.rs
  lib/src/key/database/mod.rs
  lib/src/key/database/ti.rs
  lib/src/key/mod.rs
  lib/src/key/namespace/di.rs
  lib/src/key/namespace/mod.rs
  lib/src/key/root/mod.rs
  lib/src/key/root/ni.rs
  lib/src/kvs/cache.rs
  lib/src/kvs/ds.rs
  lib/src/kvs/tests/tb.rs
  lib/src/kvs/tx.rs
  lib/src/lib.rs
  lib/src/sql/statements/define.rs
Owners: @tobiemh, @phughk

[ws-tests/lq] Fix the LQ tests and account for unordered WS messages
  tests/common/mod.rs
  tests/ws_integration.rs
Owners: @tobiemh, @surrealdb/api

address comments
  tests/ws_integration.rs
Owners: @surrealdb/api

fixups
  lib/src/api/method/mod.rs
Owners: @surrealdb/api

[ws-tests/lq] Fix the LQ tests and account for unordered WS messages (#2456)
  tests/common/mod.rs
  tests/ws_integration.rs
Owners: @tobiemh, @surrealdb/api

Some fixes that I think are changing
  lib/Cargo.toml
  lib/src/api/method/mod.rs
  src/net/rpc.rs
  src/rpc/connection.rs
Owners: @tobiemh, @surrealdb/api
