Repository surrealdb/surrealdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tobiemh, @surrealdb/surrealdb, @surrealdb/ci, @surrealdb/security, @surrealdb/ix, @surrealdb/kv

Cleanup
  src/net/file.rs
  src/net/mod.rs
Owners: @tobiemh, @surrealdb/surrealdb

Improve bytes display impl
  crates/core/src/sql/bytes.rs
Owners: @tobiemh, @surrealdb/surrealdb

Add type::file() method
  crates/core/src/fnc/mod.rs
  crates/core/src/fnc/type.rs
  crates/core/src/syn/parser/builtin.rs
Owners: @tobiemh, @surrealdb/surrealdb

gave updates its own variant 'assignment' to preapre for rpc integration
  crates/core/src/doc/alter.rs
  crates/core/src/idx/planner/rewriter.rs
  crates/core/src/sql/assignment.rs
  crates/core/src/sql/data.rs
  crates/core/src/sql/mod.rs
  crates/core/src/sql/statements/insert.rs
  crates/core/src/sql/value/into_json.rs
  crates/core/src/sql/value/serde/de/mod.rs
  crates/core/src/sql/value/serde/ser/mod.rs
  crates/core/src/sql/value/serde/ser/struct.rs
  crates/core/src/sql/value/value.rs
  crates/core/src/syn/parser/stmt/insert.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
Owners: @tobiemh, @surrealdb/surrealdb, @surrealdb/ix

Reverted Hash and PartialOrd for Data
  crates/core/src/sql/data.rs
Owners: @tobiemh, @surrealdb/surrealdb

Don't publish Docker images unless we are actually publishing
  .github/workflows/publish-version.yml
Owners: @surrealdb/ci

Add more granular publish gates
  .github/workflows/publish-version.yml
Owners: @surrealdb/ci

Move from cache to map
  crates/core/src/buc/connection.rs
  crates/core/src/buc/mod.rs
  crates/core/src/ctx/context.rs
  crates/core/src/kvs/buckets.rs
  crates/core/src/kvs/cache/ds/entry.rs
  crates/core/src/kvs/cache/ds/key.rs
  crates/core/src/kvs/cache/ds/lookup.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/sql/statements/define/bucket.rs
Owners: @tobiemh, @surrealdb/surrealdb, @surrealdb/kv

Simplify display impl
  crates/core/src/sql/statements/define/bucket.rs
Owners: @tobiemh, @surrealdb/surrealdb

Upgrade object_store
  Cargo.lock
  Cargo.toml
Owners: @surrealdb/security

Improve array index field handling and validation
  crates/core/src/doc/field.rs
  crates/core/src/err/mod.rs
  crates/core/src/sql/kind.rs
  crates/core/src/sql/statements/define/field.rs
  crates/language-tests/tests/language/statements/define/field/array_index.surql
Owners: @tobiemh, @surrealdb/surrealdb

Need more burgers (the safe ones)
  crates/core/src/buc/connection.rs
Owners: @tobiemh, @surrealdb/surrealdb

Avoid duplicate id fields
  crates/core/src/gql/tables.rs
  tests/graphql_integration.rs
Owners: @tobiemh, @surrealdb/surrealdb

Actually these mut methods won't be useful
  crates/sdk/src/api/value/mod.rs
  crates/sdk/tests/api_integration/basic.rs
Owners: @tobiemh, @surrealdb/surrealdb

Disable enterprise feature by default
  crates/core/Cargo.toml
  crates/core/src/buc/controller.rs
  crates/core/src/syn/parser/file.rs
Owners: @surrealdb/security, @tobiemh, @surrealdb/surrealdb

Cleanup
  crates/core/src/buc/config.rs
  crates/core/src/buc/connection.rs
  crates/core/src/buc/controller.rs
  crates/core/src/buc/mod.rs
  crates/core/src/cnf/mod.rs
  crates/core/src/ctx/context.rs
  crates/core/src/key/database/bu.rs
  crates/core/src/kvs/buckets.rs
  crates/core/src/sql/file.rs
  crates/core/src/sql/statements/define/bucket.rs
  crates/core/src/sql/statements/define/mod.rs
  crates/core/src/sql/value/serde/ser/mod.rs
  crates/core/src/sql/value/serde/ser/struct.rs
  crates/core/src/sql/value/value.rs
  src/cnf/mod.rs
Owners: @tobiemh, @surrealdb/surrealdb, @surrealdb/kv

Improve parse impl
  crates/core/src/syn/lexer/mod.rs
  crates/core/src/syn/parser/file.rs
Owners: @tobiemh, @surrealdb/surrealdb

Add more granular publish gates (#5679)
  .github/workflows/publish-version.yml
Owners: @surrealdb/ci

Make the code a bit more dry
  crates/sdk/src/api/value/mod.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix allocator features
  crates/core/src/mem/track.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix response format
  src/net/api.rs
Owners: @tobiemh, @surrealdb/surrealdb

Add errors
  crates/core/src/buc/connection.rs
  crates/core/src/buc/controller.rs
  crates/core/src/ctx/context.rs
  crates/core/src/err/mod.rs
  crates/core/src/fnc/file.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix allocator features (#5683)
  crates/core/src/mem/track.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix response format (#5684)
  src/net/api.rs
Owners: @tobiemh, @surrealdb/surrealdb

Bug - GraphQL- Avoid duplicate id fields (#5680)
  crates/core/src/gql/tables.rs
  tests/graphql_integration.rs
Owners: @tobiemh, @surrealdb/surrealdb

Start change to impl Index instead
  crates/sdk/src/api/value/mod.rs
Owners: @tobiemh, @surrealdb/surrealdb

Change file pointer syntax
  crates/core/src/buc/controller.rs
  crates/core/src/fnc/type.rs
  crates/core/src/sql/file.rs
  crates/core/src/syn/lexer/byte.rs
  crates/core/src/syn/lexer/compound/file.rs
  crates/core/src/syn/lexer/compound/mod.rs
  crates/core/src/syn/parser/basic/mod.rs
  crates/core/src/syn/parser/file.rs
  crates/core/src/syn/parser/glue.rs
  crates/core/src/syn/parser/mod.rs
  crates/core/src/syn/parser/prime.rs
  crates/core/src/syn/token/mac.rs
  crates/core/src/syn/token/mod.rs
Owners: @tobiemh, @surrealdb/surrealdb

Update error size
  core/src/sql/value/value.rs
Owners: @tobiemh, @surrealdb/surrealdb

Add `file` kind
  crates/core/src/sql/file.rs
  crates/core/src/sql/kind.rs
  crates/core/src/sql/value/value.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/kind.rs
  crates/core/src/syn/token/keyword.rs
Owners: @tobiemh, @surrealdb/surrealdb

Implement kind regex (#5654)
  crates/core/src/gql/schema.rs
  crates/core/src/gql/tables.rs
  crates/core/src/sql/kind.rs
  crates/core/src/sql/value/value.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/kind.rs
  crates/core/src/syn/token/keyword.rs
  crates/language-tests/tests/language/cast/regex.surql
  crates/language-tests/tests/language/coerce/regex.surql
  crates/language-tests/tests/language/functions/array/sort_strings_lexical.surql
  crates/language-tests/tests/language/functions/parse/email/host.surql
  crates/language-tests/tests/parsing/strings/unicode_escape_sequence.surql
  revision.lock
Owners: @tobiemh, @surrealdb/surrealdb

Fix GQL
  crates/core/src/gql/schema.rs
  crates/core/src/gql/tables.rs
Owners: @tobiemh, @surrealdb/surrealdb

Improve file parsing
  crates/core/src/syn/lexer/compound/file.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix clippy
  crates/core/src/fnc/args.rs
  crates/core/src/fnc/array.rs
  crates/core/src/idx/trees/vector.rs
  crates/core/src/sql/value/convert/cast.rs
  crates/core/src/sql/value/convert/coerce.rs
Owners: @tobiemh, @surrealdb/surrealdb, @surrealdb/ix

Make experimental
  crates/core/src/ctx/context.rs
  crates/core/src/dbs/capabilities.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/sql/statements/define/bucket.rs
  crates/core/src/syn/mod.rs
  crates/core/src/syn/parser/basic/mod.rs
  crates/core/src/syn/parser/mod.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/language-tests/src/cmd/run/mod.rs
Owners: @tobiemh, @surrealdb/surrealdb, @surrealdb/kv

Fix language tests
  crates/language-tests/src/tests/schema/mod.rs
  crates/language-tests/tests/doc_examples/surrealql/datemodel/arrays/header_arrays_example_4.surql
  crates/language-tests/tests/language/cast/regex.surql
  crates/language-tests/tests/language/closure/basic.surql
  crates/language-tests/tests/language/coerce/regex.surql
  crates/language-tests/tests/language/functions/array/shuffle.surql
  crates/language-tests/tests/language/functions/bytes/len.surql
  crates/language-tests/tests/language/functions/math/bottom.surql
  crates/language-tests/tests/language/functions/math/top.surql
  crates/language-tests/tests/language/functions/object/entries.surql
  crates/language-tests/tests/language/functions/parse/url/domain.surql
  crates/language-tests/tests/language/functions/parse/url/path.surql
  crates/language-tests/tests/language/statements/define/table/redefinition.surql
  crates/language-tests/tests/language/statements/define/table/relation_in_out.surql
  crates/language-tests/tests/language/statements/define/table/relation_redefinition.surql
  crates/language-tests/tests/language/statements/relate/schemafull_fail.surql
Owners: @tobiemh, @surrealdb/surrealdb

Fix more tests
  crates/core/src/err/mod.rs
  crates/core/src/fnc/string.rs
  crates/core/src/idx/trees/vector.rs
  crates/core/src/sql/model.rs
  crates/core/src/sql/value/convert/cast.rs
  crates/language-tests/tests/language/statements/upsert/new_and_update_records_content_merge.surql
  crates/sdk/tests/function.rs
  crates/sdk/tests/idiom.rs
  crates/sdk/tests/relate.rs
  crates/sdk/tests/set.rs
  crates/sdk/tests/typing.rs
  crates/sdk/tests/upsert.rs
Owners: @tobiemh, @surrealdb/surrealdb, @surrealdb/ix

Fix more tests
  crates/core/src/sql/model.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix clippy
  crates/core/src/sql/value/convert/coerce.rs
Owners: @tobiemh, @surrealdb/surrealdb

Add .get() method, return an Option
  crates/sdk/src/api/value/mod.rs
  crates/sdk/tests/api_integration/basic.rs
Owners: @tobiemh, @surrealdb/surrealdb

Update dependencies
  Cargo.lock
  crates/fuzz/Cargo.lock
  crates/language-tests/Cargo.lock
Owners: @surrealdb/security

.github/CODEOWNERS:

# Default owners for the repository
* @tobiemh @surrealdb/surrealdb

# Configuration for CI
/.github/ @surrealdb/ci

# Configuration for deployment
.dockerignore @surrealdb/ci
build.rs @surrealdb/ci
*.nix @surrealdb/ci
flake.lock @surrealdb/ci
/.cargo/ @surrealdb/ci
/.config/ @surrealdb/ci
/dev/ @surrealdb/ci
/pkg/ @surrealdb/ci
Makefile @surrealdb/ci
Makefile.* @surrealdb/ci

# Configuration for Rust dependencies
Cargo.lock @surrealdb/security
Cargo.toml @surrealdb/security
crates/core/Cargo.toml @surrealdb/security
crates/sdk/Cargo.toml @surrealdb/security
cackle.toml @surrealdb/security
supply-chain/* @surrealdb/security
deny.toml @surrealdb/security

# Code for fuzzing configuration
/crates/fuzz/ @surrealdb/security
SECURITY.md @surrealdb/security

# Code and tests for indexing
/crates/core/src/idx/ @surrealdb/ix

# Tests related to the storage
/crates/core/src/key/ @surrealdb/kv
/crates/core/src/kvs/ @surrealdb/kv
