Repository surrealdb/surrealdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @surrealdb/surrealdb, @surrealdb/ci, @surrealdb/security, @surrealdb/kv

.github/CODEOWNERS:

# Default owners for the repository
* @surrealdb/surrealdb

# Configuration for CI
/.github/ @surrealdb/ci

# Configuration for deployment
.dockerignore @surrealdb/ci
build.rs @surrealdb/ci
*.nix @surrealdb/ci
flake.lock @surrealdb/ci
/.cargo/ @surrealdb/ci
/.config/ @surrealdb/ci
/dev/ @surrealdb/ci
/pkg/ @surrealdb/ci
Makefile @surrealdb/ci
Makefile.* @surrealdb/ci

# Configuration for Rust dependencies
Cargo.lock @surrealdb/security
Cargo.toml @surrealdb/security
crates/core/Cargo.toml @surrealdb/security
crates/sdk/Cargo.toml @surrealdb/security
cackle.toml @surrealdb/security
supply-chain/* @surrealdb/security
deny.toml @surrealdb/security
.github/CODEOWNERS @surrealdb/security

# Code for fuzzing configuration
/crates/fuzz/ @surrealdb/security
SECURITY.md @surrealdb/security

# KV Storage Interface
/crates/core/src/kvs/ @surrealdb/kv

Allow Cargo build instructions
  cackle.toml
Owners: @surrealdb/security

Optimize START/LIMIT execution: correct semantics with WHERE/ORDER (#6355)
  crates/core/src/dbs/iterator.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/statements/select/select_start_limit.surql
Owners: @surrealdb/surrealdb, @surrealdb/security

Allow `net` for dashmap
  cackle.toml
Owners: @surrealdb/security

Bump version
  Cargo.lock
  Cargo.toml
  crates/types-derive/Cargo.toml
  crates/types/Cargo.toml
Owners: @surrealdb/security

Simplify workflows
  .github/workflows/publish-version.yml
  .github/workflows/release.yml
Owners: @surrealdb/ci

Make nightly release a checkbox
  .github/workflows/publish-version.yml
  .github/workflows/release.yml
Owners: @surrealdb/ci

Update nightly workflow
  .github/workflows/nightly.yml
Owners: @surrealdb/ci

Drop `mimalloc` (#6358)
  Cargo.lock
  Cargo.toml
  cackle.toml
  crates/core/Cargo.toml
  crates/core/src/mem/mod.rs
  supply-chain/config.toml
  supply-chain/imports.lock
Owners: @surrealdb/security, @surrealdb/surrealdb

Remove dec when casting decimal to a string, allow string casting from None and Null (#6275)
  crates/core/src/val/value/convert/cast.rs
  crates/language-tests/tests/language/expression/operators/casting/decimal.surql
Owners: @surrealdb/surrealdb

add tests, add remove api, parameterize further
  crates/core/src/catalog/providers.rs
  crates/core/src/catalog/schema/sequence.rs
  crates/core/src/expr/access_type.rs
  crates/core/src/expr/statements/define/access.rs
  crates/core/src/expr/statements/define/api.rs
  crates/core/src/expr/statements/define/bucket.rs
  crates/core/src/expr/statements/define/sequence.rs
  crates/core/src/expr/statements/remove/api.rs
  crates/core/src/expr/statements/remove/mod.rs
  crates/core/src/kvs/tx.rs
  crates/core/src/sql/access_type.rs
  crates/core/src/sql/statements/define/api.rs
  crates/core/src/sql/statements/define/sequence.rs
  crates/core/src/sql/statements/remove/api.rs
  crates/core/src/sql/statements/remove/mod.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/stmt/remove.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
  crates/language-tests/tests/language/parameterized/schema/access.surql
  crates/language-tests/tests/language/parameterized/schema/analyzer.surql
  crates/language-tests/tests/language/parameterized/schema/api.surql
  crates/language-tests/tests/language/parameterized/schema/bucket.surql
  crates/language-tests/tests/language/parameterized/schema/event.surql
  crates/language-tests/tests/language/parameterized/schema/field.surql
  crates/language-tests/tests/language/parameterized/schema/function.surql
  crates/language-tests/tests/language/parameterized/schema/index.surql
  crates/language-tests/tests/language/parameterized/schema/namespace.surql
  crates/language-tests/tests/language/parameterized/schema/param.surql
  crates/language-tests/tests/language/parameterized/schema/sequence.surql
  crates/language-tests/tests/language/parameterized/schema/user.surql
  crates/language-tests/tests/language/parameterized/select.surql
Owners: @surrealdb/surrealdb, @surrealdb/kv

Add timeout test
  crates/language-tests/tests/language/parameterized/timeout.surql
Owners: @surrealdb/surrealdb

Fix DEFINE API formatting
  crates/core/src/catalog/schema/api.rs
  crates/core/src/catalog/schema/config.rs
  crates/core/src/expr/statements/define/api.rs
  crates/core/src/expr/statements/define/config/api.rs
  crates/core/src/expr/statements/define/config/mod.rs
  crates/core/src/sql/statements/define/api.rs
  crates/core/src/sql/statements/define/config/api.rs
  crates/core/src/sql/statements/define/config/graphql.rs
  crates/core/src/sql/statements/define/config/mod.rs
  crates/language-tests/tests/language/statements/define/api/formatting.surql
Owners: @surrealdb/surrealdb

Fix test
  crates/language-tests/tests/language/parameterized/schema/api.surql
Owners: @surrealdb/surrealdb

Prepare v2.3.9 release
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/sdk/Cargo.toml
Owners: @surrealdb/security

upgrade skv to 0.10
  Cargo.lock
  Cargo.toml
  crates/core/src/err/mod.rs
  crates/core/src/kvs/mem/mod.rs
  crates/core/src/kvs/surrealkv/cnf.rs
  crates/core/src/kvs/surrealkv/mod.rs
  crates/sdk/src/api/method/query.rs
Owners: @surrealdb/security, @surrealdb/surrealdb, @surrealdb/kv

filter out keys equal to end bound
  crates/core/src/kvs/mem/mod.rs
  crates/core/src/kvs/surrealkv/mod.rs
  crates/sdk/src/api/method/query.rs
Owners: @surrealdb/kv, @surrealdb/surrealdb

Prepare v2.3.9 release (#6362)
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/sdk/Cargo.toml
Owners: @surrealdb/security

Restore RecordIdKey::String(String)
  crates/core/src/cf/writer.rs
  crates/core/src/expr/record_id/key.rs
  crates/core/src/expr/statements/live.rs
  crates/core/src/fnc/type.rs
  crates/core/src/key/record.rs
  crates/core/src/protocol/flatbuffers/record.rs
  crates/core/src/protocol/flatbuffers/value.rs
  crates/core/src/rpc/format/cbor/convert.rs
  crates/core/src/sql/record_id/key.rs
  crates/core/src/syn/parser/value.rs
  crates/core/src/val/record_id.rs
  crates/core/src/val/value/get.rs
  crates/core/src/val/value/pick.rs
  crates/core/src/val/value/rid.rs
  crates/sdk/src/api/value/mod.rs
  crates/sdk/tests/api_integration/basic.rs
Owners: @surrealdb/surrealdb

Fix revision-lock
  revision.lock
Owners: @surrealdb/surrealdb

Allow null bytes and implement null byte escape sequence
  crates/core/src/syn/lexer/compound/strand.rs
  crates/language-tests/tests/language/view/remove_sum.surql
Owners: @surrealdb/surrealdb

Remove unused records
  crates/core/src/expr/statements/live.rs
  crates/core/src/sql/statements/live.rs
Owners: @surrealdb/surrealdb

Provide manual GqlError to async-graphql error conversion
  crates/core/src/gql/error.rs
Owners: @surrealdb/surrealdb

address feedback
  crates/core/src/doc/table.rs
  crates/core/src/val/record.rs
  revision.lock
Owners: @surrealdb/surrealdb

update skv to 0.10.1
  Cargo.lock
  Cargo.toml
  crates/core/src/kvs/mem/mod.rs
  crates/core/src/kvs/surrealkv/mod.rs
Owners: @surrealdb/security, @surrealdb/kv

Simplify release workflows (#6361)
  .github/workflows/nightly.yml
  .github/workflows/publish-version.yml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  crates/types-derive/Cargo.toml
  crates/types/Cargo.toml
Owners: @surrealdb/ci, @surrealdb/security

tidy
  crates/core/src/doc/table.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/view/view_sum_properly_deleted.surql
Owners: @surrealdb/surrealdb, @surrealdb/security

pre-compute `OMIT` clause
  crates/core/src/dbs/statement.rs
  crates/core/src/doc/pluck.rs
  crates/core/src/doc/process.rs
  crates/core/src/expr/statements/select.rs
  crates/core/src/iam/entities/action.rs
Owners: @surrealdb/surrealdb

Stick to None
  crates/core/src/doc/table.rs
Owners: @surrealdb/surrealdb

Remove cyclic dependency on `surrealdb-types`
  Cargo.lock
  crates/types-derive/Cargo.toml
  crates/types-derive/src/lib.rs
Owners: @surrealdb/security, @surrealdb/surrealdb

Skip checks already run
  .github/workflows/publish-version.yml
Owners: @surrealdb/ci

Remove some unnecessary clones
  crates/core/src/doc/table.rs
Owners: @surrealdb/surrealdb

Publish crates separately
  .github/workflows/publish-version.yml
Owners: @surrealdb/ci

Track view stats in the Record Metadata. (#6351)
  crates/core/src/doc/table.rs
  crates/core/src/expr/idiom/mod.rs
  crates/core/src/val/record.rs
  crates/core/tests/table.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/statements/define/table/foreign/all_rolling.surql
  crates/language-tests/tests/language/view/view_sum_properly_deleted.surql
  crates/language-tests/tests/language/view/view_with_zero_sum.surql
  revision.lock
Owners: @surrealdb/surrealdb, @surrealdb/security

Checkout sources for binaries
  .github/workflows/publish-version.yml
Owners: @surrealdb/ci

Skip already published crates
  .github/workflows/publish-version.yml
Owners: @surrealdb/ci

Remove cyclic dependency on `surrealdb-types`
  Cargo.lock
  crates/types-derive/Cargo.toml
  crates/types-derive/src/lib.rs
Owners: @surrealdb/security, @surrealdb/surrealdb

Test crate publishing on nightly and during test runs
  .github/workflows/publish-version.yml
Owners: @surrealdb/ci

Make live queries concurrent
  crates/core/src/dbs/iterator.rs
  crates/core/src/doc/document.rs
  crates/core/src/doc/lives.rs
Owners: @surrealdb/surrealdb

Implements MessageBroker
  crates/core/src/dbs/executor.rs
  crates/core/src/dbs/mod.rs
  crates/core/src/dbs/options.rs
  crates/core/src/doc/document.rs
  crates/core/src/doc/lives.rs
  crates/core/src/doc/mod.rs
  crates/core/src/expr/statements/kill.rs
  crates/core/src/expr/statements/remove/table.rs
Owners: @surrealdb/surrealdb

Cleanup
  crates/core/src/dbs/iterator.rs
Owners: @surrealdb/surrealdb
