Repository surrealdb/surrealdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tobiemh, @surrealdb/ci, @surrealdb/security, @surrealdb/db, @surrealdb/api, @surrealdb/ix, @surrealdb/cf, @surrealdb/kv, @surrealdb/ql, @surrealdb/net, @surrealdb/cli

Add `Range::to_cond` to core1
  core/src/sql/range.rs
Owners: @surrealdb/ql

Add `Range::to_cond` to core1 (#3820)
  core/src/sql/range.rs
Owners: @surrealdb/ql

Fix problems with if in identifiers after remove
  core/src/syn/v1/stmt/remove.rs
Owners: @surrealdb/ql

Fix if exists in define
  core/src/syn/v1/stmt/define/database.rs
  core/src/syn/v1/stmt/define/param.rs
  core/src/syn/v1/stmt/define/token.rs
Owners: @surrealdb/ql

More fixes add test
  core/src/syn/v1/stmt/define/analyzer.rs
  core/src/syn/v1/stmt/define/event.rs
  core/src/syn/v1/stmt/define/field.rs
  core/src/syn/v1/stmt/define/function.rs
  core/src/syn/v1/stmt/define/index.rs
  core/src/syn/v1/stmt/define/namespace.rs
  core/src/syn/v1/stmt/define/scope.rs
  core/src/syn/v1/stmt/define/table.rs
  core/src/syn/v1/stmt/define/user.rs
  core/src/syn/v1/stmt/remove.rs
Owners: @surrealdb/ql

Fix format bug
  core/src/syn/v1/stmt/define/user.rs
Owners: @surrealdb/ql

Bug fix: empty array on index
  core/src/doc/index.rs
Owners: @surrealdb/db

Bug fix: empty array on index (#3823)
  core/src/doc/index.rs
Owners: @surrealdb/db

Fix forgotten @[test]
  core/src/syn/v1/stmt/define/user.rs
Owners: @surrealdb/ql

Update dependencies
  Cargo.lock
Owners: @surrealdb/security

Update dependencies
  core/src/fnc/time.rs
Owners: @surrealdb/ql

Exempt new chrono and h2 dependencies
  supply-chain/config.toml
Owners: @surrealdb/security

Introduced HashedSharedVector
  Cargo.toml
  core/src/idx/planner/executor.rs
  core/src/idx/trees/hnsw.rs
  core/src/idx/trees/knn.rs
  core/src/idx/trees/mtree.rs
  core/src/idx/trees/vector.rs
  core/src/syn/parser/expression.rs
Owners: @surrealdb/security, @surrealdb/ix, @surrealdb/ql

Replace deprecated chrono APIs (#3824)
  Cargo.lock
  core/src/fnc/time.rs
  supply-chain/config.toml
Owners: @surrealdb/security, @surrealdb/ql

Fix tests
  core/src/syn/v1/stmt/remove.rs
Owners: @surrealdb/ql

Wip on HashedSharedVector
  core/src/err/mod.rs
  core/src/idx/trees/knn.rs
  core/src/idx/trees/mtree.rs
  core/src/idx/trees/vector.rs
Owners: @surrealdb/db, @surrealdb/ix

Implements TDD
  lib/tests/group.rs
  lib/tests/helpers.rs
  lib/tests/planner.rs
Owners: @surrealdb/db

Fix bug
  core/src/dbs/group.rs
Owners: @surrealdb/db

Bug when using array::group in a group by query (#3826)
  core/src/dbs/group.rs
  lib/tests/group.rs
  lib/tests/helpers.rs
  lib/tests/planner.rs
Owners: @surrealdb/db

Fix more tests
  core/src/syn/v1/stmt/define/user.rs
  core/src/syn/v1/stmt/remove.rs
Owners: @surrealdb/ql

updating surrealml-core and adding checking for version and name (#3773)
  Cargo.lock
  core/Cargo.toml
  core/src/sql/model.rs
  lib/src/api/engine/local/mod.rs
  src/net/ml.rs
  tests/ml_integration.rs
  tests/no_name.surml
  tests/no_name_or_version.surml
  tests/no_version.surml
  tests/should_crash.surml
Owners: @surrealdb/security, @surrealdb/db, @surrealdb/ql, @surrealdb/api, @surrealdb/net

Exempt new versions
  supply-chain/config.toml
Owners: @surrealdb/security

updating surrealml-core and adding checking for version and name (#3829)
  Cargo.lock
  core/Cargo.toml
  core/src/sql/model.rs
  lib/src/api/engine/local/mod.rs
  src/net/ml.rs
  supply-chain/config.toml
  tests/ml_integration.rs
  tests/no_name.surml
  tests/no_name_or_version.surml
  tests/no_version.surml
  tests/should_crash.surml
Owners: @surrealdb/security, @surrealdb/db, @surrealdb/ql, @surrealdb/api, @surrealdb/net

Bump version to v1.4.0
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  lib/Cargo.toml
Owners: @surrealdb/security, @surrealdb/db

Bump version to v1.4.0 (#3830)
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  lib/Cargo.toml
Owners: @surrealdb/security, @surrealdb/db

Run `cargo update`
  Cargo.lock
Owners: @surrealdb/security

Replace deprecated APIs
  core/src/fnc/time.rs
Owners: @surrealdb/ql

Update dependencies on 1.x (#3831)
  Cargo.lock
  core/src/fnc/time.rs
Owners: @surrealdb/security, @surrealdb/ql

Fix Wasm builds on 1.x
  lib/src/api/engine/local/wasm.rs
Owners: @surrealdb/api

Fix Wasm builds on 1.x (#3832)
  lib/src/api/engine/local/wasm.rs
Owners: @surrealdb/api

Reduce byte size of datetime and uuid types using cbor format (#3763)
  core/src/sql/datetime.rs
  core/src/sql/duration.rs
  src/rpc/format/cbor/convert.rs
Owners: @surrealdb/ql, @surrealdb/net

Reduce byte size of datetime and uuid types using cbor format (#3833)
  core/src/sql/datetime.rs
  core/src/sql/duration.rs
  src/rpc/format/cbor/convert.rs
Owners: @surrealdb/ql, @surrealdb/net

Bug when using array::group in a group by query (#3826)
  core/src/dbs/group.rs
  lib/tests/group.rs
  lib/tests/helpers.rs
  lib/tests/planner.rs
Owners: @surrealdb/db

Bug when using array::group in a group by query (#3834)
  core/src/dbs/group.rs
  lib/tests/group.rs
  lib/tests/helpers.rs
  lib/tests/planner.rs
Owners: @surrealdb/db

Run `cargo vet prune`
  supply-chain/config.toml
  supply-chain/imports.lock
Owners: @surrealdb/security

Exempt new versions
  supply-chain/config.toml
Owners: @surrealdb/security

[Documentation] Improve Rust client code samples a bit (#3699)
  core/src/options.rs
  lib/README.md
  lib/src/api/method/mod.rs
  lib/src/lib.rs
Owners: @surrealdb/db, @surrealdb/api

[Documentation] Improve Rust client code samples a bit (#3836)
  core/src/options.rs
  lib/README.md
  lib/src/api/method/mod.rs
  lib/src/lib.rs
Owners: @surrealdb/db, @surrealdb/api

Disable flaky part of Mtree tests (#3733)
  core/src/cf/mutations.rs
  core/src/cf/writer.rs
  core/src/idx/trees/mtree.rs
Owners: @surrealdb/cf, @surrealdb/ix

Disable flaky part of Mtree tests (#3837)
  core/src/cf/mutations.rs
  core/src/cf/writer.rs
  core/src/idx/trees/mtree.rs
Owners: @surrealdb/cf, @surrealdb/ix

.github/CODEOWNERS:

# Default owners for the repository
* @tobiemh

# Configuration for CI
/.github/ @surrealdb/ci

# Configuration for deployment
.dockerignore @surrealdb/ci
build.rs @surrealdb/ci
*.nix @surrealdb/ci
flake.lock @surrealdb/ci
/.cargo/ @surrealdb/ci
/.config/ @surrealdb/ci
/dev/ @surrealdb/ci
/pkg/ @surrealdb/ci
Makefile @surrealdb/ci
Makefile.* @surrealdb/ci

# Configuration for Rust dependencies
Cargo.lock @surrealdb/security
Cargo.toml @surrealdb/security
core/Cargo.toml @surrealdb/security
lib/Cargo.toml @surrealdb/security
cackle.toml @surrealdb/security
supply-chain/* @surrealdb/security
deny.toml @surrealdb/security

# General owners for the database
/core/ @surrealdb/db
/doc/ @surrealdb/db
/lib/ @surrealdb/db
/src/ @surrealdb/db
/tests/ @surrealdb/db

# Code for fuzzing configuration
/lib/fuzz/ @surrealdb/security
SECURITY.md @surrealdb/security

# Code and tests for the Rust API
/lib/CARGO.md @surrealdb/api
/lib/README.md @surrealdb/api
/lib/examples/ @surrealdb/api
/lib/src/ @surrealdb/api
/lib/src/tests/api/ @surrealdb/api
/lib/src/tests/api.rs @surrealdb/api

# Code and tests for indexing
/core/src/idx/ @surrealdb/ix

# Code and tests for changefeeds
/core/src/cf/ @surrealdb/cf
/core/src/idg/ @surrealdb/cf
/core/src/vs/ @surrealdb/cf

# Tests related to the storage
/core/src/key/ @surrealdb/kv
/core/src/kvs/ @surrealdb/kv

# Code and tests for querying
/core/src/sql/ @surrealdb/ql
/core/src/syn/ @surrealdb/ql
/core/src/fnc/ @surrealdb/ql

# Code and tests for the server
/src/* @surrealdb/net
/src/cnf/ @surrealdb/net
/src/err/ @surrealdb/net
/src/net/ @surrealdb/net
/src/rpc/ @surrealdb/net
/src/telemetry/ @surrealdb/net
/tests/common/ @surrealdb/net
/tests/http_integration.rs @surrealdb/net
/tests/ws_integration.rs @surrealdb/net

# Code and tests for the command-line
/src/cli/ @surrealdb/cli
/src/dbs/ @surrealdb/cli
/tests/common/ @surrealdb/cli
/tests/cli_integration.rs @surrealdb/cli

# Code and tests for authentication
/core/src/iam/ @surrealdb/api @surrealdb/security
