Repository surrealdb/surrealdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @surrealdb/surrealdb, @surrealdb/ci, @surrealdb/security, @surrealdb/kv

Fix fmt
  crates/core/src/doc/insert.rs
Owners: @surrealdb/surrealdb

Simplify functions a big
  crates/core/src/fnc/array.rs
Owners: @surrealdb/surrealdb

update revision.lock
  revision.lock
Owners: @surrealdb/surrealdb

Fix wasm?
  crates/core/src/expr/statements/define/index.rs
Owners: @surrealdb/surrealdb

fmt
  crates/core/src/expr/statements/define/index.rs
Owners: @surrealdb/surrealdb

Add test for attempting to update recordid.
  crates/language-tests/tests/language/statements/update/recordid.surql
Owners: @surrealdb/surrealdb

clippy
  crates/core/src/key/root/all.rs
Owners: @surrealdb/surrealdb

Fix test
  crates/core/tests/typing.rs
Owners: @surrealdb/surrealdb

fix: ensure transaction rollback for duplicate ID inserts (#5872)
  crates/core/src/doc/insert.rs
  crates/language-tests/tests/language/statements/insert/insert_and_update_on_duplicate_key.surql
  crates/language-tests/tests/language/statements/insert/insert_rollback_on_duplicate_key.surql
Owners: @surrealdb/surrealdb

Fix remaining issues
  crates/core/src/doc/table.rs
  crates/sdk/tests/table.rs
Owners: @surrealdb/surrealdb

Change message shown on successful import (#6334)
  src/cli/import.rs
  src/cli/ml/import.rs
Owners: @surrealdb/surrealdb

Fix tests
  crates/core/src/fnc/array.rs
  crates/core/src/fnc/script/modules/mod.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/geo.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/string.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/time.rs
  crates/core/src/fnc/string.rs
  crates/core/src/syn/parser/builtin.rs
  crates/fuzz/fuzz_targets/fuzz_executor.dict
  crates/fuzz/fuzz_targets/fuzz_sql_parser.dict
Owners: @surrealdb/surrealdb, @surrealdb/security

Cleanup unused files
  crates/core/src/fnc/script/modules/surrealdb/functions/duration/from.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/geo.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/geo/is.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/record/is.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/string/is.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/time.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/time/from.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/time/is.rs
Owners: @surrealdb/surrealdb

tidy
  crates/core/src/doc/table.rs
  crates/core/src/val/record.rs
Owners: @surrealdb/surrealdb

Introduce a `NONE` type (#6339)
  crates/core/src/expr/function.rs
  crates/core/src/expr/kind.rs
  crates/core/src/expr/statements/define/field.rs
  crates/core/src/gql/schema.rs
  crates/core/src/gql/tables.rs
  crates/core/src/protocol/flatbuffers/kind.rs
  crates/core/src/sql/kind.rs
  crates/core/src/syn/parser/kind.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
  crates/core/src/val/closure.rs
  crates/core/src/val/value/convert/cast.rs
  crates/core/src/val/value/convert/coerce.rs
  crates/core/tests/field.rs
  crates/core/tests/typing.rs
  crates/language-tests/tests/language/statements/define/field/flexible_array_any.surql
  crates/language-tests/tests/language/statements/define/field/mismatch.surql
  crates/language-tests/tests/language/statements/define/field/type_none_suggests_option.surql
  crates/types/src/flatbuffers/kind.rs
  crates/types/src/kind/mod.rs
  crates/types/src/traits/surreal_value.rs
  crates/types/tests/surreal_value.rs
  revision.lock
Owners: @surrealdb/surrealdb

TDD
  crates/core/src/dbs/iterator.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/statements/select/select_start_limit.surql
Owners: @surrealdb/surrealdb, @surrealdb/security

Backport HTTP connection pool to 2.3
  crates/core/src/cnf/mod.rs
  crates/core/src/dbs/capabilities.rs
  crates/core/src/doc/index.rs
  crates/core/src/fnc/http.rs
  crates/core/src/fnc/util/http/mod.rs
  crates/core/src/rpc/method.rs
  crates/language-tests/src/cmd/run/util.rs
Owners: @surrealdb/surrealdb

fmt
  crates/core/src/fnc/http.rs
  crates/core/src/fnc/util/http/mod.rs
  crates/core/src/gql/schema.rs
  crates/core/src/gql/tables.rs
  crates/core/src/sql/value/pick.rs
  crates/sdk/src/api/engine/remote/mod.rs
  crates/sdk/src/api/engine/remote/ws/native.rs
  crates/sdk/src/api/method/mod.rs
  crates/sdk/src/api/mod.rs
  crates/sdk/src/api/opt/resource.rs
  crates/sdk/src/api/value/mod.rs
  src/cli/sql.rs
  src/cli/upgrade.rs
  src/cli/validate.rs
  src/cli/version_client.rs
Owners: @surrealdb/surrealdb

revision lock
  revision.lock
Owners: @surrealdb/surrealdb

Fix clippy lints.
  Makefile.ci.toml
  crates/core/src/cf/mutations.rs
  crates/core/src/fnc/array.rs
  crates/core/src/fnc/script/fetch/classes/form_data.rs
  crates/core/src/fnc/script/fetch/classes/response/mod.rs
  crates/core/src/fnc/script/fetch/stream.rs
  crates/core/src/gql/schema.rs
  crates/core/src/gql/tables.rs
  crates/core/src/iam/jwks.rs
  crates/core/src/idx/index.rs
  crates/core/src/idx/planner/iterators.rs
  crates/core/src/key/root/access/all.rs
  crates/core/src/kvs/index.rs
  crates/core/src/kvs/version/fixes/v1_to_2_id_uuid/deps.rs
  crates/core/src/sql/part.rs
  crates/core/src/sql/value/pick.rs
  crates/core/src/syn/lexer/compound/number.rs
  crates/sdk/src/api/engine/local/mod.rs
  crates/sdk/src/api/engine/remote/http/mod.rs
  crates/sdk/src/api/engine/remote/mod.rs
  crates/sdk/src/api/engine/remote/ws/native.rs
  crates/sdk/src/api/method/mod.rs
  crates/sdk/src/api/mod.rs
  crates/sdk/src/api/opt/capabilities.rs
  crates/sdk/src/api/opt/resource.rs
  crates/sdk/src/api/value/mod.rs
  src/cli/sql.rs
  src/cli/upgrade.rs
  src/cli/validate.rs
  src/cli/version_client.rs
Owners: @surrealdb/ci, @surrealdb/surrealdb, @surrealdb/kv

Fix
  crates/core/src/dbs/iterator.rs
  crates/language-tests/tests/language/statements/select/select_start_limit.surql
Owners: @surrealdb/surrealdb

Implementation
  crates/core/src/dbs/iterator.rs
  crates/language-tests/tests/language/statements/select/select_start_limit.surql
Owners: @surrealdb/surrealdb

Backport HTTP connection pool to 2.3 (#6352)
  Makefile.ci.toml
  crates/core/src/cf/mutations.rs
  crates/core/src/cnf/mod.rs
  crates/core/src/dbs/capabilities.rs
  crates/core/src/doc/index.rs
  crates/core/src/fnc/array.rs
  crates/core/src/fnc/http.rs
  crates/core/src/fnc/script/fetch/classes/form_data.rs
  crates/core/src/fnc/script/fetch/classes/response/mod.rs
  crates/core/src/fnc/script/fetch/stream.rs
  crates/core/src/fnc/util/http/mod.rs
  crates/core/src/gql/tables.rs
  crates/core/src/iam/jwks.rs
  crates/core/src/idx/index.rs
  crates/core/src/idx/planner/iterators.rs
  crates/core/src/key/root/access/all.rs
  crates/core/src/kvs/index.rs
  crates/core/src/kvs/version/fixes/v1_to_2_id_uuid/deps.rs
  crates/core/src/rpc/method.rs
  crates/core/src/sql/part.rs
  crates/core/src/sql/value/pick.rs
  crates/core/src/syn/lexer/compound/number.rs
  crates/language-tests/src/cmd/run/util.rs
  crates/sdk/src/api/engine/local/mod.rs
  crates/sdk/src/api/engine/remote/http/mod.rs
  crates/sdk/src/api/method/mod.rs
  crates/sdk/src/api/opt/capabilities.rs
  revision.lock
  src/cli/upgrade.rs
  src/cli/validate.rs
  src/cli/version_client.rs
Owners: @surrealdb/ci, @surrealdb/surrealdb, @surrealdb/kv

FIx clippy (improve comments)
  crates/core/src/dbs/iterator.rs
Owners: @surrealdb/surrealdb

FIx fmt
  crates/core/src/dbs/iterator.rs
Owners: @surrealdb/surrealdb

Optimize START/LIMIT execution: correct semantics with WHERE/ORDER and early-stop iteration (#6354)
  crates/core/src/dbs/iterator.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/statements/select/select_start_limit.surql
Owners: @surrealdb/surrealdb, @surrealdb/security

Optimize START/LIMIT execution: correct semantics with WHERE/ORDER and early-stop iteration (#6354)
  crates/core/src/dbs/iterator.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/statements/select/select_start_limit.surql
Owners: @surrealdb/surrealdb, @surrealdb/security

Use `jemalloc` on Linux
  crates/core/src/mem/mod.rs
Owners: @surrealdb/surrealdb

Add test for attempting to update recordid. (#6350)
  crates/language-tests/tests/language/statements/update/recordid.surql
Owners: @surrealdb/surrealdb

Enable dependency
  crates/core/Cargo.toml
Owners: @surrealdb/security

Allow `process` for `tikv-jemalloc-sys`
  cackle.toml
Owners: @surrealdb/security

Allow `fs`
  cackle.toml
Owners: @surrealdb/security

Allow unsafe
  cackle.toml
Owners: @surrealdb/security

Allow `tikv-jemallocator` unsafe
  cackle.toml
Owners: @surrealdb/security

Drop `mimalloc`
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/mem/mod.rs
Owners: @surrealdb/security, @surrealdb/surrealdb

Run `cargo vet prune`
  supply-chain/config.toml
  supply-chain/imports.lock
Owners: @surrealdb/security

Remove unused files.
  crates/core/src/sql/bytes.rs
  crates/core/src/val/value/dec.rs
Owners: @surrealdb/surrealdb

Drop `mimalloc` (#6356)
  Cargo.lock
  Cargo.toml
  cackle.toml
  crates/core/Cargo.toml
  crates/core/src/mem/mod.rs
  supply-chain/config.toml
  supply-chain/imports.lock
Owners: @surrealdb/security, @surrealdb/surrealdb

Remove unused files. (#6357)
  crates/core/src/sql/bytes.rs
  crates/core/src/val/value/dec.rs
Owners: @surrealdb/surrealdb

Drop `mimalloc`
  Cargo.lock
  Cargo.toml
  cackle.toml
  crates/core/Cargo.toml
  crates/core/src/mem/mod.rs
  supply-chain/config.toml
  supply-chain/imports.lock
Owners: @surrealdb/security, @surrealdb/surrealdb

.github/CODEOWNERS:

# Default owners for the repository
* @surrealdb/surrealdb

# Configuration for CI
/.github/ @surrealdb/ci

# Configuration for deployment
.dockerignore @surrealdb/ci
build.rs @surrealdb/ci
*.nix @surrealdb/ci
flake.lock @surrealdb/ci
/.cargo/ @surrealdb/ci
/.config/ @surrealdb/ci
/dev/ @surrealdb/ci
/pkg/ @surrealdb/ci
Makefile @surrealdb/ci
Makefile.* @surrealdb/ci

# Configuration for Rust dependencies
Cargo.lock @surrealdb/security
Cargo.toml @surrealdb/security
crates/core/Cargo.toml @surrealdb/security
crates/sdk/Cargo.toml @surrealdb/security
cackle.toml @surrealdb/security
supply-chain/* @surrealdb/security
deny.toml @surrealdb/security
.github/CODEOWNERS @surrealdb/security

# Code for fuzzing configuration
/crates/fuzz/ @surrealdb/security
SECURITY.md @surrealdb/security

# KV Storage Interface
/crates/core/src/kvs/ @surrealdb/kv
