Repository surrealdb/surrealdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tobiemh, @surrealdb/ci, @surrealdb/security, @surrealdb/db, @surrealdb/api, @surrealdb/ix, @surrealdb/cf, @surrealdb/kv, @surrealdb/ql, @surrealdb/net, @surrealdb/cli

Improve display implementation of `REMOVE TABLE`
  lib/src/sql/statements/remove/table.rs
Owners: @surrealdb/ql

Add tests
  tests/cli_integration.rs
Owners: @surrealdb/cli

Error on missing field selection.
  lib/src/syn/v2/parser/error.rs
  lib/src/syn/v2/parser/mod.rs
  lib/src/syn/v2/parser/stmt/parts.rs
  lib/src/syn/v2/parser/stmt/select.rs
  lib/src/syn/v2/token/mod.rs
Owners: @surrealdb/ql

Implement `IF EXISTS` on syntax v2
  lib/src/syn/v2/parser/stmt/remove.rs
  lib/src/syn/v2/parser/test/stmt.rs
Owners: @surrealdb/ql

Add `EXISTS` keyword
  lib/src/syn/v2/lexer/keywords.rs
  lib/src/syn/v2/token/keyword.rs
Owners: @surrealdb/ql

`READONLY` fields
  lib/src/doc/field.rs
  lib/src/err/mod.rs
  lib/src/sql/statements/define/field.rs
  lib/src/sql/value/serde/ser/statement/define/field.rs
  lib/src/syn/v1/stmt/define/field.rs
  lib/src/syn/v2/lexer/keywords.rs
  lib/src/syn/v2/parser/stmt/define.rs
  lib/src/syn/v2/token/keyword.rs
  lib/tests/field.rs
Owners: @surrealdb/db, @surrealdb/ql

Fix tests
  lib/src/syn/v2/parser/test/stmt.rs
  lib/src/syn/v2/parser/test/streaming.rs
Owners: @surrealdb/ql

Define types for subfields when defining fields.
  lib/src/sql/kind.rs
  lib/src/sql/statements/define/field.rs
  lib/tests/define.rs
Owners: @surrealdb/ql, @surrealdb/db

Feature: Add `IF EXISTS` to `REMOVE TABLE` statement (#3243)
  lib/src/sql/statements/remove/table.rs
  lib/src/sql/value/serde/ser/statement/remove/table.rs
  lib/src/syn/v1/stmt/remove.rs
  lib/src/syn/v2/lexer/keywords.rs
  lib/src/syn/v2/parser/stmt/remove.rs
  lib/src/syn/v2/parser/test/stmt.rs
  lib/src/syn/v2/token/keyword.rs
  lib/tests/remove.rs
Owners: @surrealdb/ql, @surrealdb/db

prefix datetimes with `d` string prefix
  lib/tests/field.rs
Owners: @surrealdb/db

Feature: Add `READONLY` keyword to `DEFINE FIELD` statement (#3152)
  lib/src/doc/field.rs
  lib/src/err/mod.rs
  lib/src/sql/statements/define/field.rs
  lib/src/sql/value/serde/ser/statement/define/field.rs
  lib/src/syn/v1/stmt/define/field.rs
  lib/src/syn/v2/lexer/keywords.rs
  lib/src/syn/v2/parser/stmt/define.rs
  lib/src/syn/v2/parser/test/stmt.rs
  lib/src/syn/v2/parser/test/streaming.rs
  lib/src/syn/v2/token/keyword.rs
  lib/tests/field.rs
Owners: @surrealdb/db, @surrealdb/ql

split modules
  lib/src/gql/mod.rs
  lib/src/gql/query.rs
  lib/src/gql/schema.rs
  src/net/gql.rs
Owners: @surrealdb/db, @surrealdb/net

.github/CODEOWNERS:

# Default owners for the repository
* @tobiemh

# Configuration for CI
/.github/ @surrealdb/ci

# Configuration for deployment
.dockerignore @surrealdb/ci
build.rs @surrealdb/ci
*.nix @surrealdb/ci
/.cargo/ @surrealdb/ci
/.config/ @surrealdb/ci
/dev/ @surrealdb/ci
/pkg/ @surrealdb/ci
Makefile @surrealdb/ci
Makefile.* @surrealdb/ci

# Configuration for Rust dependencies
Cargo.lock @surrealdb/security
Cargo.toml @surrealdb/security
lib/Cargo.toml @surrealdb/security

# General owners for the database
/doc/ @surrealdb/db
/lib/ @surrealdb/db
/src/ @surrealdb/db

# Code for fuzzing configuration
/lib/fuzz/ @surrealdb/security
SECURITY.md @surrealdb/security

# Code and tests for the Rust API
/lib/CARGO.md @surrealdb/api
/lib/README.md @surrealdb/api
/lib/examples/ @surrealdb/api
/lib/src/api/ @surrealdb/api
/lib/src/tests/api/ @surrealdb/api
/lib/src/tests/api.rs @surrealdb/api

# Code and tests for indexing
/lib/src/idx/ @surrealdb/ix

# Code and tests for changefeeds
/lib/src/cf/ @surrealdb/cf
/lib/src/idg/ @surrealdb/cf
/lib/src/vs/ @surrealdb/cf

# Tests related to the storage
/lib/src/key/ @surrealdb/kv
/lib/src/kvs/ @surrealdb/kv

# Code and tests for querying
/lib/src/sql/ @surrealdb/ql
/lib/src/syn/ @surrealdb/ql
/lib/src/fnc/ @surrealdb/ql

# Code and tests for the server
/src/* @surrealdb/net
/src/cnf/ @surrealdb/net
/src/err/ @surrealdb/net
/src/net/ @surrealdb/net
/src/rpc/ @surrealdb/net
/src/telemetry/ @surrealdb/net
/tests/common/ @surrealdb/net
/tests/http_integration.rs @surrealdb/net
/tests/ws_integration.rs @surrealdb/net

# Code and tests for the command-line
/src/cli/ @surrealdb/cli
/src/dbs/ @surrealdb/cli
/tests/common/ @surrealdb/cli
/tests/cli_integration.rs @surrealdb/cli

# Code and tests for authentication
/lib/src/iam/ @surrealdb/api @surrealdb/security
