Repository surrealdb/surrealdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tobiemh, @surrealdb/ci, @surrealdb/security, @surrealdb/db, @surrealdb/api, @surrealdb/ix, @surrealdb/cf, @surrealdb/kv, @surrealdb/ql, @surrealdb/net, @surrealdb/cli

Handle multiple file patterns in validate command (#3615)
  src/cli/validate.rs
Owners: @surrealdb/cli

Fix: Allow legacy headers in CORS
  src/net/mod.rs
Owners: @surrealdb/net

Reduce byte size of datetime and uuid types using cbor format (#3763)
  core/src/sql/datetime.rs
  core/src/sql/duration.rs
  src/rpc/format/cbor/convert.rs
Owners: @surrealdb/ql, @surrealdb/net

Core compiling again
  core/Cargo.toml
  core/src/dbs/executor.rs
  core/src/dbs/group.rs
  core/src/dbs/iterator.rs
  core/src/dbs/processor.rs
  core/src/dbs/result.rs
  core/src/doc/index.rs
  core/src/doc/process.rs
  core/src/fnc/mod.rs
  core/src/fnc/operate.rs
  core/src/fnc/type.rs
  core/src/idx/planner/executor.rs
  core/src/idx/planner/mod.rs
  core/src/idx/planner/tree.rs
  core/src/idx/trees/mtree.rs
  core/src/kvs/ds.rs
  core/src/sql/block.rs
  core/src/sql/cast.rs
  core/src/sql/data.rs
  core/src/sql/expression.rs
  core/src/sql/function.rs
  core/src/sql/future.rs
  core/src/sql/limit.rs
  core/src/sql/start.rs
  core/src/sql/statement.rs
  core/src/sql/statements/create.rs
  core/src/sql/statements/define/index.rs
  core/src/sql/statements/define/mod.rs
  core/src/sql/statements/define/param.rs
  core/src/sql/statements/define/table.rs
  core/src/sql/statements/delete.rs
  core/src/sql/statements/foreach.rs
  core/src/sql/statements/relate.rs
  core/src/sql/statements/select.rs
  core/src/sql/statements/update.rs
  core/src/sql/subquery.rs
  core/src/sql/value/fetch.rs
  core/src/sql/value/get.rs
  core/src/sql/value/set.rs
  core/src/sql/value/value.rs
Owners: @surrealdb/db, @surrealdb/ql, @surrealdb/ix, @surrealdb/kv

Files I forgot to add
  Cargo.lock
  lib/src/api/engine/tasks.rs
Owners: @surrealdb/security, @surrealdb/api

Add warning to droppy boy
  core/src/kvs/droppy_boy.rs
  core/src/kvs/mod.rs
  core/src/kvs/tests/ds_lqv2.rs
Owners: @surrealdb/kv

add param to relate in v1
  core/src/sql/statements/relate.rs
  core/src/syn/v1/stmt/relate.rs
  lib/src/lib.rs
Owners: @surrealdb/ql, @surrealdb/api

add to v2 parser
  core/src/syn/v2/parser/stmt/relate.rs
Owners: @surrealdb/ql

reimplement relate with parser
  core/src/rpc/rpc_context.rs
Owners: @surrealdb/db

remove compile errors
  lib/src/lib.rs
Owners: @surrealdb/api

appease clippy
  core/src/rpc/rpc_context.rs
Owners: @surrealdb/db

Match fuzzing dependency version to library
  lib/fuzz/Cargo.lock
Owners: @surrealdb/security

Allow build step to fail
  .github/workflows/ci.yml
Owners: @surrealdb/ci

appease clippy
  core/src/rpc/format/cbor/convert.rs
  core/src/rpc/format/msgpack/convert.rs
Owners: @surrealdb/db

Tests make sense
  core/src/kvs/tests/ds_lqv2.rs
  core/src/sql/statements/create.rs
Owners: @surrealdb/kv, @surrealdb/ql

add tests
  core/src/syn/v2/parser/stmt/relate.rs
  lib/tests/relate.rs
Owners: @surrealdb/ql, @surrealdb/db

Fixing merge
  core/Cargo.toml
  core/src/dbs/iterator.rs
  core/src/dbs/processor.rs
  core/src/dbs/result.rs
  core/src/kvs/ds.rs
Owners: @surrealdb/db, @surrealdb/kv

Fix fuzzing (#3800)
  .github/workflows/ci.yml
  core/src/sql/table_type.rs
  lib/fuzz/Cargo.lock
Owners: @surrealdb/ci, @surrealdb/ql, @surrealdb/security

Run `cargo vet prune`
  supply-chain/config.toml
  supply-chain/imports.lock
Owners: @surrealdb/security

Run `cargo update`
  Cargo.lock
Owners: @surrealdb/security

Working test
  core/src/doc/lives.rs
  core/src/kvs/droppy_boy.rs
  core/src/kvs/tests/ds_lqv2.rs
Owners: @surrealdb/db, @surrealdb/kv

Replace deprecated APIs
  core/src/fnc/time.rs
Owners: @surrealdb/ql

Enable `parser2` feature
  lib/fuzz/Cargo.lock
  lib/fuzz/Cargo.toml
Owners: @surrealdb/security

Enforce fuzzer check to pass
  .github/workflows/ci.yml
Owners: @surrealdb/ci

Update README
  lib/fuzz/README.md
Owners: @surrealdb/security

Run `cargo vet add-exemption` for new versions
  supply-chain/config.toml
Owners: @surrealdb/security

Working delete test????
  core/src/kvs/tests/ds_lqv2.rs
Owners: @surrealdb/kv

Build fuzzers with unstable features
  .github/workflows/ci.yml
Owners: @surrealdb/ci

Update ring's instructions
  cackle.toml
Owners: @surrealdb/security

Update core/src/rpc/args.rs
  core/src/rpc/args.rs
Owners: @surrealdb/db

Update core/src/rpc/args.rs
  core/src/rpc/args.rs
Owners: @surrealdb/db

Update `surrealdb-fuzz` dependencies
  lib/fuzz/Cargo.lock
Owners: @surrealdb/security

Run `cargo vet prune`
  supply-chain/config.toml
  supply-chain/imports.lock
Owners: @surrealdb/security

Update rpc_context.rs
  core/src/rpc/rpc_context.rs
Owners: @surrealdb/db

Wip on index based join
  core/src/idx/planner/mod.rs
  core/src/idx/planner/plan.rs
  core/src/idx/planner/tree.rs
  lib/tests/planner.rs
Owners: @surrealdb/ix, @surrealdb/db

wip
  core/src/doc/insert.rs
  core/src/sql/statements/insert.rs
  core/src/sql/value/serde/ser/statement/insert.rs
  core/src/syn/v2/parser/stmt/insert.rs
  lib/src/lib.rs
  src/cli/sql.rs
Owners: @surrealdb/db, @surrealdb/ql, @surrealdb/api, @surrealdb/cli

Fix core compile after merge
  core/src/dbs/iterator.rs
  core/src/kvs/ds.rs
  core/src/sql/value/get.rs
Owners: @surrealdb/db, @surrealdb/kv, @surrealdb/ql

Allow walkdir to use fs
  cackle.toml
Owners: @surrealdb/security

Allow same-file to use fs
  cackle.toml
Owners: @surrealdb/security

Allow atomic-waker to use unsafe
  cackle.toml
Owners: @surrealdb/security

.github/CODEOWNERS:

# Default owners for the repository
* @tobiemh

# Configuration for CI
/.github/ @surrealdb/ci

# Configuration for deployment
.dockerignore @surrealdb/ci
build.rs @surrealdb/ci
*.nix @surrealdb/ci
flake.lock @surrealdb/ci
/.cargo/ @surrealdb/ci
/.config/ @surrealdb/ci
/dev/ @surrealdb/ci
/pkg/ @surrealdb/ci
Makefile @surrealdb/ci
Makefile.* @surrealdb/ci

# Configuration for Rust dependencies
Cargo.lock @surrealdb/security
Cargo.toml @surrealdb/security
core/Cargo.toml @surrealdb/security
lib/Cargo.toml @surrealdb/security
cackle.toml @surrealdb/security
supply-chain/* @surrealdb/security
deny.toml @surrealdb/security

# General owners for the database
/core/ @surrealdb/db
/doc/ @surrealdb/db
/lib/ @surrealdb/db
/src/ @surrealdb/db
/tests/ @surrealdb/db

# Code for fuzzing configuration
/lib/fuzz/ @surrealdb/security
SECURITY.md @surrealdb/security

# Code and tests for the Rust API
/lib/CARGO.md @surrealdb/api
/lib/README.md @surrealdb/api
/lib/examples/ @surrealdb/api
/lib/src/ @surrealdb/api
/lib/src/tests/api/ @surrealdb/api
/lib/src/tests/api.rs @surrealdb/api

# Code and tests for indexing
/core/src/idx/ @surrealdb/ix

# Code and tests for changefeeds
/core/src/cf/ @surrealdb/cf
/core/src/idg/ @surrealdb/cf
/core/src/vs/ @surrealdb/cf

# Tests related to the storage
/core/src/key/ @surrealdb/kv
/core/src/kvs/ @surrealdb/kv

# Code and tests for querying
/core/src/sql/ @surrealdb/ql
/core/src/syn/ @surrealdb/ql
/core/src/fnc/ @surrealdb/ql

# Code and tests for the server
/src/* @surrealdb/net
/src/cnf/ @surrealdb/net
/src/err/ @surrealdb/net
/src/net/ @surrealdb/net
/src/rpc/ @surrealdb/net
/src/telemetry/ @surrealdb/net
/tests/common/ @surrealdb/net
/tests/http_integration.rs @surrealdb/net
/tests/ws_integration.rs @surrealdb/net

# Code and tests for the command-line
/src/cli/ @surrealdb/cli
/src/dbs/ @surrealdb/cli
/tests/common/ @surrealdb/cli
/tests/cli_integration.rs @surrealdb/cli

# Code and tests for authentication
/core/src/iam/ @surrealdb/api @surrealdb/security
