Repository surrealdb/surrealdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tobiemh, @surrealdb/ci, @surrealdb/security, @surrealdb/db, @surrealdb/api, @surrealdb/ix, @surrealdb/cf, @surrealdb/kv, @surrealdb/ql, @surrealdb/net, @surrealdb/cli

.github/CODEOWNERS:

# Default owners for the repository
* @tobiemh

# Configuration for CI
/.github/ @surrealdb/ci

# Configuration for deployment
.dockerignore @surrealdb/ci
build.rs @surrealdb/ci
*.nix @surrealdb/ci
flake.lock @surrealdb/ci
/.cargo/ @surrealdb/ci
/.config/ @surrealdb/ci
/dev/ @surrealdb/ci
/pkg/ @surrealdb/ci
Makefile @surrealdb/ci
Makefile.* @surrealdb/ci

# Configuration for Rust dependencies
Cargo.lock @surrealdb/security
Cargo.toml @surrealdb/security
core/Cargo.toml @surrealdb/security
lib/Cargo.toml @surrealdb/security
cackle.toml @surrealdb/security
supply-chain/* @surrealdb/security
deny.toml @surrealdb/security

# General owners for the database
/core/ @surrealdb/db
/doc/ @surrealdb/db
/lib/ @surrealdb/db
/src/ @surrealdb/db
/tests/ @surrealdb/db

# Code for fuzzing configuration
/lib/fuzz/ @surrealdb/security
SECURITY.md @surrealdb/security

# Code and tests for the Rust API
/lib/CARGO.md @surrealdb/api
/lib/README.md @surrealdb/api
/lib/examples/ @surrealdb/api
/lib/src/ @surrealdb/api
/lib/src/tests/api/ @surrealdb/api
/lib/src/tests/api.rs @surrealdb/api

# Code and tests for indexing
/core/src/idx/ @surrealdb/ix

# Code and tests for changefeeds
/core/src/cf/ @surrealdb/cf
/core/src/idg/ @surrealdb/cf
/core/src/vs/ @surrealdb/cf

# Tests related to the storage
/core/src/key/ @surrealdb/kv
/core/src/kvs/ @surrealdb/kv

# Code and tests for querying
/core/src/sql/ @surrealdb/ql
/core/src/syn/ @surrealdb/ql
/core/src/fnc/ @surrealdb/ql

# Code and tests for the server
/src/* @surrealdb/net
/src/cnf/ @surrealdb/net
/src/err/ @surrealdb/net
/src/net/ @surrealdb/net
/src/rpc/ @surrealdb/net
/src/telemetry/ @surrealdb/net
/tests/common/ @surrealdb/net
/tests/http_integration.rs @surrealdb/net
/tests/ws_integration.rs @surrealdb/net

# Code and tests for the command-line
/src/cli/ @surrealdb/cli
/src/dbs/ @surrealdb/cli
/tests/common/ @surrealdb/cli
/tests/cli_integration.rs @surrealdb/cli

# Code and tests for authentication
/core/src/iam/ @surrealdb/api @surrealdb/security

chore: update surrealkv version to v0.1.4 (#3852)
  Cargo.lock
  core/Cargo.toml
Owners: @surrealdb/security, @surrealdb/db

Fix warning
  core/src/kvs/tx.rs
Owners: @surrealdb/kv

Fix table name
  lib/benches/sdb_benches/lib/routines/create.rs
  lib/benches/sdb_benches/lib/routines/read.rs
  lib/benches/sdb_benches/sdk/routines/create.rs
  lib/benches/sdb_benches/sdk/routines/read.rs
Owners: @surrealdb/db

fix
  src/rpc/format/cbor/mod.rs
Owners: @surrealdb/net

Add temporary_directory option to StartCommandDbsOptions struct
  src/dbs/mod.rs
Owners: @surrealdb/cli

fix cbor http headers (#3866)
  src/rpc/format/cbor/mod.rs
Owners: @surrealdb/net

Fix `$value` being `NONE` for `DELETE` events
  core/src/doc/event.rs
Owners: @surrealdb/db

Document should also match type of event
  core/src/doc/event.rs
Owners: @surrealdb/db

implement info structure
  core/src/rpc/method.rs
  core/src/rpc/rpc_context.rs
Owners: @surrealdb/db

add validate
  core/src/rpc/rpc_context.rs
Owners: @surrealdb/db

reduce nesting of information
  core/src/rpc/rpc_context.rs
  core/src/sql/statements/define/analyzer.rs
  core/src/sql/statements/define/database.rs
  core/src/sql/statements/define/event.rs
  core/src/sql/statements/define/field.rs
  core/src/sql/statements/define/function.rs
  core/src/sql/statements/define/index.rs
  core/src/sql/statements/define/model.rs
  core/src/sql/statements/define/namespace.rs
  core/src/sql/statements/define/param.rs
  core/src/sql/statements/define/scope.rs
  core/src/sql/statements/define/table.rs
  core/src/sql/statements/define/token.rs
  core/src/sql/statements/define/user.rs
  core/src/sql/statements/live.rs
Owners: @surrealdb/db, @surrealdb/ql

fix mistakes/clippy
  core/src/rpc/rpc_context.rs
  core/src/sql/statements/define/field.rs
  core/src/sql/statements/define/function.rs
  core/src/sql/statements/define/index.rs
  core/src/sql/statements/define/model.rs
  core/src/sql/statements/define/namespace.rs
  core/src/sql/statements/define/table.rs
Owners: @surrealdb/db, @surrealdb/ql

clean
  core/src/sql/statements/live.rs
Owners: @surrealdb/ql

implement
  core/src/doc/field.rs
  core/src/err/mod.rs
  core/src/sql/data.rs
Owners: @surrealdb/db, @surrealdb/ql

appease clippy
  core/src/rpc/rpc_context.rs
Owners: @surrealdb/db

fix clippy
  core/src/sql/data.rs
Owners: @surrealdb/ql

fix eroneous error on id
  core/src/doc/field.rs
Owners: @surrealdb/db

fix tests
  lib/tests/field.rs
Owners: @surrealdb/db

Give `Permissions` an `InfoStructure` implementation
  core/src/sql/permission.rs
  core/src/sql/statements/define/field.rs
  core/src/sql/statements/define/function.rs
  core/src/sql/statements/define/model.rs
  core/src/sql/statements/define/param.rs
  core/src/sql/statements/define/table.rs
Owners: @surrealdb/ql

fmt
  core/src/sql/permission.rs
Owners: @surrealdb/ql

Fix after merge
  core/src/dbs/group.rs
Owners: @surrealdb/db

Bugfix: Fix problems with `if` in identifiers after remove and define statements (#3821)
  core/src/syn/v1/stmt/define/analyzer.rs
  core/src/syn/v1/stmt/define/database.rs
  core/src/syn/v1/stmt/define/event.rs
  core/src/syn/v1/stmt/define/field.rs
  core/src/syn/v1/stmt/define/function.rs
  core/src/syn/v1/stmt/define/index.rs
  core/src/syn/v1/stmt/define/namespace.rs
  core/src/syn/v1/stmt/define/param.rs
  core/src/syn/v1/stmt/define/scope.rs
  core/src/syn/v1/stmt/define/table.rs
  core/src/syn/v1/stmt/define/token.rs
  core/src/syn/v1/stmt/define/user.rs
  core/src/syn/v1/stmt/remove.rs
Owners: @surrealdb/ql

Fix benchmarks (#3864)
  core/src/kvs/tx.rs
  lib/benches/sdb_benches/lib/routines/create.rs
  lib/benches/sdb_benches/lib/routines/read.rs
  lib/benches/sdb_benches/sdk/routines/create.rs
  lib/benches/sdb_benches/sdk/routines/read.rs
Owners: @surrealdb/kv, @surrealdb/db

Update lockfile
  Cargo.lock
Owners: @surrealdb/security
