Repository surrealdb/surrealdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tobiemh, @surrealdb/ci, @surrealdb/security, @surrealdb/db, @surrealdb/api, @surrealdb/ix, @surrealdb/cf, @surrealdb/kv, @surrealdb/ql, @surrealdb/net, @surrealdb/cli

.github/CODEOWNERS:

# Default owners for the repository
* @tobiemh

# Configuration for CI
/.github/ @surrealdb/ci

# Configuration for deployment
.dockerignore @surrealdb/ci
build.rs @surrealdb/ci
*.nix @surrealdb/ci
flake.lock @surrealdb/ci
/.cargo/ @surrealdb/ci
/.config/ @surrealdb/ci
/dev/ @surrealdb/ci
/pkg/ @surrealdb/ci
Makefile @surrealdb/ci
Makefile.* @surrealdb/ci

# Configuration for Rust dependencies
Cargo.lock @surrealdb/security
Cargo.toml @surrealdb/security
core/Cargo.toml @surrealdb/security
lib/Cargo.toml @surrealdb/security
cackle.toml @surrealdb/security
supply-chain/* @surrealdb/security
deny.toml @surrealdb/security

# General owners for the database
/core/ @surrealdb/db
/doc/ @surrealdb/db
/lib/ @surrealdb/db
/src/ @surrealdb/db
/tests/ @surrealdb/db

# Code for fuzzing configuration
/lib/fuzz/ @surrealdb/security
SECURITY.md @surrealdb/security

# Code and tests for the Rust API
/lib/CARGO.md @surrealdb/api
/lib/README.md @surrealdb/api
/lib/examples/ @surrealdb/api
/lib/src/ @surrealdb/api
/lib/src/tests/api/ @surrealdb/api
/lib/src/tests/api.rs @surrealdb/api

# Code and tests for indexing
/core/src/idx/ @surrealdb/ix

# Code and tests for changefeeds
/core/src/cf/ @surrealdb/cf
/core/src/idg/ @surrealdb/cf
/core/src/vs/ @surrealdb/cf

# Tests related to the storage
/core/src/key/ @surrealdb/kv
/core/src/kvs/ @surrealdb/kv

# Code and tests for querying
/core/src/sql/ @surrealdb/ql
/core/src/syn/ @surrealdb/ql
/core/src/fnc/ @surrealdb/ql

# Code and tests for the server
/src/* @surrealdb/net
/src/cnf/ @surrealdb/net
/src/err/ @surrealdb/net
/src/net/ @surrealdb/net
/src/rpc/ @surrealdb/net
/src/telemetry/ @surrealdb/net
/tests/common/ @surrealdb/net
/tests/http_integration.rs @surrealdb/net
/tests/ws_integration.rs @surrealdb/net

# Code and tests for the command-line
/src/cli/ @surrealdb/cli
/src/dbs/ @surrealdb/cli
/tests/common/ @surrealdb/cli
/tests/cli_integration.rs @surrealdb/cli

# Code and tests for authentication
/core/src/iam/ @surrealdb/api @surrealdb/security

Adding before fflag switch
  core/src/dbs/executor.rs
  core/src/dbs/fuzzy_eq.rs
  core/src/dbs/mod.rs
  core/src/dbs/notification.rs
  core/src/doc/document.rs
  core/src/doc/lives.rs
  core/src/doc/pluck.rs
  core/src/kvs/ds.rs
  core/src/kvs/tests/ds_lqv2.rs
  core/src/sql/field.rs
  core/src/sql/statements/create.rs
  core/src/sql/value/serde/de/mod.rs
Owners: @surrealdb/db, @surrealdb/kv, @surrealdb/ql

Execution plan includes join
  core/src/dbs/iterator.rs
  core/src/dbs/processor.rs
  core/src/idx/planner/executor.rs
  core/src/idx/planner/mod.rs
  core/src/idx/planner/plan.rs
  core/src/idx/planner/tree.rs
  lib/tests/planner.rs
Owners: @surrealdb/db, @surrealdb/ix

Update core/src/rpc/args.rs
  core/src/rpc/args.rs
Owners: @surrealdb/db

Cleanup
  core/src/idx/planner/mod.rs
  core/src/idx/planner/plan.rs
  core/src/idx/planner/tree.rs
Owners: @surrealdb/ix

Fix clump, add .windows() function for array
  core/src/fnc/mod.rs
  core/src/sql/array.rs
  core/src/syn/v2/parser/builtin.rs
  lib/fuzz/fuzz_targets/fuzz_executor.dict
  lib/fuzz/fuzz_targets/fuzz_sql_parser.dict
  lib/tests/function.rs
Owners: @surrealdb/ql, @surrealdb/security, @surrealdb/db

fmt, typo
  core/src/sql/array.rs
Owners: @surrealdb/ql

Test fmt
  lib/tests/function.rs
Owners: @surrealdb/db

add windows to array
  core/src/fnc/array.rs
Owners: @surrealdb/ql

Bring trait into scope
  core/src/fnc/array.rs
Owners: @surrealdb/ql

typo
  core/src/fnc/array.rs
Owners: @surrealdb/ql

Add index join types
  core/src/idx/planner/executor.rs
  core/src/idx/planner/iterators.rs
Owners: @surrealdb/ix

Update dependencies (#3805)
  Cargo.lock
  cackle.toml
  core/src/fnc/time.rs
  lib/fuzz/Cargo.lock
  supply-chain/config.toml
  supply-chain/imports.lock
Owners: @surrealdb/security, @surrealdb/ql

Disable database upgrade tests
  .github/workflows/ci.yml
Owners: @surrealdb/ci

Don't fail tests when `db_upgrade` fails
  .github/workflows/ci.yml
Owners: @surrealdb/ci

Revert "Disable database upgrade tests"
  .github/workflows/ci.yml
Owners: @surrealdb/ci

Disable database upgrade tests (#3804)
  .github/workflows/ci.yml
Owners: @surrealdb/ci

Improve next_batch performances
  core/src/dbs/processor.rs
  core/src/idx/planner/executor.rs
  core/src/idx/planner/iterators.rs
Owners: @surrealdb/db, @surrealdb/ix

Implements IndexJoinThingIterator
  core/src/idx/planner/executor.rs
  core/src/idx/planner/iterators.rs
  lib/tests/planner.rs
Owners: @surrealdb/ix, @surrealdb/db

wip
  Cargo.lock
  Cargo.toml
  core/src/doc/insert.rs
  core/src/doc/process.rs
  core/src/sql/statements/insert.rs
  core/src/sql/statements/relate.rs
  core/src/syn/mod.rs
  core/src/syn/v2/parser/stmt/insert.rs
Owners: @surrealdb/security, @surrealdb/db, @surrealdb/ql

Fix websocket tests
  core/src/syn/v2/mod.rs
  src/rpc/format/json.rs
  tests/common/socket.rs
  tests/common/tests.rs
Owners: @surrealdb/ql, @surrealdb/net, @surrealdb/cli

Prefix live query table names to ensure they are treated as strings
  lib/tests/api/live.rs
Owners: @surrealdb/db

Remove phf_macros exemption
  supply-chain/config.toml
Owners: @surrealdb/security

Stabilise and use `parser2` for parsing
  .github/workflows/ci.yml
  Cargo.toml
  Makefile.ci.toml
  lib/Cargo.toml
  lib/src/lib.rs
  lib/tests/define.rs
Owners: @surrealdb/ci, @surrealdb/security, @surrealdb/db, @surrealdb/api

Fix phf_macros
  cackle.toml
  supply-chain/config.toml
Owners: @surrealdb/security

Implements UniqueJoinThingIterator
  core/src/idx/planner/executor.rs
  core/src/idx/planner/iterators.rs
  lib/tests/planner.rs
Owners: @surrealdb/ix, @surrealdb/db

Working aggregation of notifications
  core/src/doc/document.rs
  core/src/doc/lives.rs
  core/src/kvs/ds.rs
  core/src/kvs/tests/ds_lqv2.rs
  lib/tests/api/live.rs
Owners: @surrealdb/db, @surrealdb/kv

Stabilise and use `parser2` for parsing (#3801)
  .github/workflows/ci.yml
  Cargo.toml
  Makefile.ci.toml
  cackle.toml
  core/src/syn/v2/mod.rs
  lib/Cargo.toml
  lib/src/lib.rs
  lib/tests/api/live.rs
  lib/tests/define.rs
  src/rpc/format/json.rs
  tests/common/socket.rs
  tests/common/tests.rs
Owners: @surrealdb/ci, @surrealdb/security, @surrealdb/ql, @surrealdb/db, @surrealdb/api, @surrealdb/net, @surrealdb/cli

Drop `experimental-parser` from Cargo files
  core/Cargo.toml
  lib/Cargo.toml
Owners: @surrealdb/db

fmt
  src/rpc/format/json.rs
Owners: @surrealdb/net

Remove `experimental-parser` feature flags from the core library
  core/src/sql/escape.rs
  core/src/sql/strand.rs
  core/src/syn/common.rs
  core/src/syn/mod.rs
Owners: @surrealdb/ql

Merge `syn` `mod.rs` files
  core/src/syn/mod.rs
  core/src/syn/v2/mod.rs
  core/src/syn/v2/test.rs
Owners: @surrealdb/ql

WIP fixes to timestamp tracking
  core/src/kvs/ds.rs
  lib/tests/api/live.rs
Owners: @surrealdb/kv, @surrealdb/db

Remove left over `experimental-parser` flags from the binary
  src/net/params.rs
Owners: @surrealdb/net

Wip on matchig on value
  core/src/fnc/operate.rs
  core/src/idx/ft/analyzer/filter.rs
  core/src/idx/ft/analyzer/mod.rs
  core/src/idx/ft/analyzer/tokenizer.rs
  core/src/idx/ft/mod.rs
  core/src/idx/ft/terms.rs
  core/src/idx/planner/executor.rs
  core/src/idx/planner/plan.rs
  core/src/idx/planner/tree.rs
  core/src/sql/expression.rs
  lib/tests/matches.rs
  lib/tests/planner.rs
Owners: @surrealdb/ql, @surrealdb/ix, @surrealdb/db

Fix matches on record link with table iterator
  core/src/idx/ft/analyzer/filter.rs
  core/src/idx/ft/analyzer/mod.rs
  core/src/idx/ft/mod.rs
  core/src/idx/ft/terms.rs
  core/src/idx/planner/executor.rs
  lib/tests/planner.rs
Owners: @surrealdb/ix, @surrealdb/db

Cleanup
  core/src/idx/ft/analyzer/mod.rs
  core/src/idx/planner/executor.rs
  lib/tests/planner.rs
Owners: @surrealdb/ix, @surrealdb/db

Fix compilation issue
  core/src/idx/planner/plan.rs
Owners: @surrealdb/ix

Fix: Allow legacy headers in CORS (#3802)
  src/net/mod.rs
Owners: @surrealdb/net

Add `Range::new` to core1
  core/src/sql/range.rs
Owners: @surrealdb/ql

Add `Range::new` to core1 (#3819)
  core/src/sql/range.rs
Owners: @surrealdb/ql
