Repository surrealdb/surrealdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tobiemh, @surrealdb/surrealdb, @surrealdb/ci, @surrealdb/security, @surrealdb/ix, @surrealdb/kv

.github/CODEOWNERS:

# Default owners for the repository
* @tobiemh @surrealdb/surrealdb

# Configuration for CI
/.github/ @surrealdb/ci

# Configuration for deployment
.dockerignore @surrealdb/ci
build.rs @surrealdb/ci
*.nix @surrealdb/ci
flake.lock @surrealdb/ci
/.cargo/ @surrealdb/ci
/.config/ @surrealdb/ci
/dev/ @surrealdb/ci
/pkg/ @surrealdb/ci
Makefile @surrealdb/ci
Makefile.* @surrealdb/ci

# Configuration for Rust dependencies
Cargo.lock @surrealdb/security
Cargo.toml @surrealdb/security
core/Cargo.toml @surrealdb/security
lib/Cargo.toml @surrealdb/security
cackle.toml @surrealdb/security
supply-chain/* @surrealdb/security
deny.toml @surrealdb/security

# Code for fuzzing configuration
/lib/fuzz/ @surrealdb/security
SECURITY.md @surrealdb/security

# Code and tests for indexing
/core/src/idx/ @surrealdb/ix

# Tests related to the storage
/core/src/key/ @surrealdb/kv
/core/src/kvs/ @surrealdb/kv

Test checking large batch insert, updates on MTree
  core/src/idx/trees/knn.rs
  core/src/idx/trees/mtree.rs
Owners: @surrealdb/ix

wip
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  lib/Cargo.toml
  src/telemetry/metrics/mod.rs
  supply-chain/config.toml
Owners: @surrealdb/security, @tobiemh, @surrealdb/surrealdb

wip
  Cargo.lock
  Cargo.toml
  src/telemetry/metrics/mod.rs
  src/telemetry/mod.rs
  src/telemetry/traces/otlp.rs
Owners: @surrealdb/security, @tobiemh, @surrealdb/surrealdb

wip
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  lib/Cargo.toml
Owners: @surrealdb/security

fix: usage of `deprecated` version of `Node.js` (#4251)
  .github/workflows/bench.yml
  .github/workflows/ci.yml
Owners: @surrealdb/ci

Improve structured output (#4217)
  core/src/mac/mod.rs
  core/src/sql/access_type.rs
  core/src/sql/algorithm.rs
  core/src/sql/base.rs
  core/src/sql/changefeed.rs
  core/src/sql/cond.rs
  core/src/sql/duration.rs
  core/src/sql/fetch.rs
  core/src/sql/field.rs
  core/src/sql/ident.rs
  core/src/sql/idiom.rs
  core/src/sql/permission.rs
  core/src/sql/statements/define/access.rs
  core/src/sql/statements/define/analyzer.rs
  core/src/sql/statements/define/database.rs
  core/src/sql/statements/define/event.rs
  core/src/sql/statements/define/field.rs
  core/src/sql/statements/define/function.rs
  core/src/sql/statements/define/index.rs
  core/src/sql/statements/define/model.rs
  core/src/sql/statements/define/namespace.rs
  core/src/sql/statements/define/param.rs
  core/src/sql/statements/define/table.rs
  core/src/sql/statements/define/user.rs
  core/src/sql/statements/live.rs
  core/src/sql/table_type.rs
  core/src/sql/value/value.rs
  lib/tests/info.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix bugs when using DefineAnalyzer statements
  core/src/fnc/search.rs
  core/src/idx/ft/analyzer/mod.rs
  core/src/idx/ft/mod.rs
Owners: @tobiemh, @surrealdb/surrealdb, @surrealdb/ix

Remove unnecessary kvs implementations for IndxDB
  core/src/kvs/indxdb/mod.rs
Owners: @surrealdb/kv

Remove pessimistic lock warning for old client library
  core/src/kvs/tikv/mod.rs
Owners: @surrealdb/kv

Add new value type
  lib/src/api/mod.rs
  lib/src/api/value/mod.rs
Owners: @tobiemh, @surrealdb/surrealdb

Ensure `Node` entry is revisioned correctly
  core/src/dbs/node.rs
Owners: @tobiemh, @surrealdb/surrealdb

Add node informartion to `INFO FOR ROOT` statement
  core/src/dbs/node.rs
  core/src/sql/statements/info.rs
Owners: @tobiemh, @surrealdb/surrealdb

open telemetry rollback
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  supply-chain/config.toml
Owners: @surrealdb/security

Integrate value into the crate
  lib/src/api/conn.rs
  lib/src/api/engine/any/mod.rs
  lib/src/api/engine/local/mod.rs
  lib/src/api/engine/mod.rs
  lib/src/api/engine/remote/http/mod.rs
  lib/src/api/engine/remote/ws/mod.rs
  lib/src/api/engine/remote/ws/native.rs
  lib/src/api/engine/remote/ws/wasm.rs
  lib/src/api/err/mod.rs
  lib/src/api/method/content.rs
  lib/src/api/method/create.rs
  lib/src/api/method/delete.rs
  lib/src/api/method/insert.rs
  lib/src/api/method/live.rs
  lib/src/api/method/merge.rs
  lib/src/api/method/mod.rs
  lib/src/api/method/patch.rs
  lib/src/api/method/query.rs
  lib/src/api/method/select.rs
  lib/src/api/method/set.rs
  lib/src/api/method/signin.rs
  lib/src/api/method/signup.rs
  lib/src/api/method/tests/server.rs
  lib/src/api/method/update.rs
  lib/src/api/method/upsert.rs
  lib/src/api/method/use_db.rs
  lib/src/api/method/use_ns.rs
  lib/src/api/opt/mod.rs
  lib/src/api/value/de.rs
  lib/src/api/value/deserializer.rs
  lib/src/api/value/mod.rs
  lib/src/api/value/ser.rs
  lib/src/api/value/serializer.rs
  lib/src/api/value/sql.rs
  lib/src/lib.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix DEFINE FIELD statement definitions
  core/src/sql/statements/define/field.rs
Owners: @tobiemh, @surrealdb/surrealdb

style: simplify string formatting
  src/dbs/mod.rs
  src/telemetry/metrics/http/tower_layer.rs
  src/telemetry/mod.rs
  src/telemetry/traces/mod.rs
  tests/cli_integration.rs
  tests/common/docker.rs
  tests/common/expected.rs
  tests/common/server.rs
  tests/common/socket.rs
  tests/common/tests.rs
  tests/database_upgrade.rs
  tests/http_integration.rs
Owners: @tobiemh, @surrealdb/surrealdb

fix: formatting in `tests/`
  tests/cli_integration.rs
  tests/http_integration.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix formatting after conflict resolution
  core/src/sql/access_type.rs
Owners: @tobiemh, @surrealdb/surrealdb

Remove use of BTreeMap where a struct suffices
  Makefile.ci.toml
  Makefile.local.toml
  lib/src/api/engine/remote/ws/mod.rs
  lib/src/api/engine/remote/ws/native.rs
  pkg/nix/drv/binary.nix
Owners: @surrealdb/ci, @tobiemh, @surrealdb/surrealdb

add 32 bit arch
  core/src/idx/ft/mod.rs
Owners: @surrealdb/ix
