Repository surrealdb/surrealdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tobiemh, @surrealdb/ci, @surrealdb/security, @surrealdb/db, @surrealdb/api, @surrealdb/ix, @surrealdb/cf, @surrealdb/kv, @surrealdb/ql, @surrealdb/net, @surrealdb/cli

.github/CODEOWNERS:

# Default owners for the repository
* @tobiemh

# Configuration for CI
/.github/ @surrealdb/ci

# Configuration for deployment
.dockerignore @surrealdb/ci
build.rs @surrealdb/ci
*.nix @surrealdb/ci
flake.lock @surrealdb/ci
/.cargo/ @surrealdb/ci
/.config/ @surrealdb/ci
/dev/ @surrealdb/ci
/pkg/ @surrealdb/ci
Makefile @surrealdb/ci
Makefile.* @surrealdb/ci

# Configuration for Rust dependencies
Cargo.lock @surrealdb/security
Cargo.toml @surrealdb/security
core/Cargo.toml @surrealdb/security
lib/Cargo.toml @surrealdb/security
cackle.toml @surrealdb/security
supply-chain/* @surrealdb/security
deny.toml @surrealdb/security

# General owners for the database
/core/ @surrealdb/db
/doc/ @surrealdb/db
/lib/ @surrealdb/db
/src/ @surrealdb/db
/tests/ @surrealdb/db

# Code for fuzzing configuration
/lib/fuzz/ @surrealdb/security
SECURITY.md @surrealdb/security

# Code and tests for the Rust API
/lib/CARGO.md @surrealdb/api
/lib/README.md @surrealdb/api
/lib/examples/ @surrealdb/api
/lib/src/ @surrealdb/api
/lib/src/tests/api/ @surrealdb/api
/lib/src/tests/api.rs @surrealdb/api

# Code and tests for indexing
/core/src/idx/ @surrealdb/ix

# Code and tests for changefeeds
/core/src/cf/ @surrealdb/cf
/core/src/idg/ @surrealdb/cf
/core/src/vs/ @surrealdb/cf

# Tests related to the storage
/core/src/key/ @surrealdb/kv
/core/src/kvs/ @surrealdb/kv

# Code and tests for querying
/core/src/sql/ @surrealdb/ql
/core/src/syn/ @surrealdb/ql
/core/src/fnc/ @surrealdb/ql

# Code and tests for the server
/src/* @surrealdb/net
/src/cnf/ @surrealdb/net
/src/err/ @surrealdb/net
/src/net/ @surrealdb/net
/src/rpc/ @surrealdb/net
/src/telemetry/ @surrealdb/net
/tests/common/ @surrealdb/net
/tests/http_integration.rs @surrealdb/net
/tests/ws_integration.rs @surrealdb/net

# Code and tests for the command-line
/src/cli/ @surrealdb/cli
/src/dbs/ @surrealdb/cli
/tests/common/ @surrealdb/cli
/tests/cli_integration.rs @surrealdb/cli

# Code and tests for authentication
/core/src/iam/ @surrealdb/api @surrealdb/security

Fix formatting
  src/cli/validate.rs
Owners: @surrealdb/cli

Fix clippy warnings
  src/cli/validate.rs
Owners: @surrealdb/cli

Remove unnecessary `extern crate` code
  core/src/lib.rs
Owners: @surrealdb/db

Remove `sql2` feature
  Cargo.lock
  Cargo.toml
  Makefile.ci.toml
  Makefile.local.toml
  Makefile.toml
  core/src/lib.rs
  lib/Cargo.toml
  lib/src/api/engine/local/mod.rs
  lib/src/api/engine/local/native.rs
  lib/src/api/engine/tasks.rs
  lib/src/lib.rs
  lib/tests/changefeeds.rs
  lib/tests/define.rs
  lib/tests/field.rs
  lib/tests/function.rs
  lib/tests/remove.rs
Owners: @surrealdb/security, @surrealdb/ci, @surrealdb/db, @surrealdb/api

Don’t require `surrealdb_unstable` for `kv-surrealkv` feature
  Makefile.ci.toml
  lib/src/lib.rs
Owners: @surrealdb/ci, @surrealdb/api

Fix clippy warnings
  core/src/sql/number.rs
  core/src/sql/value/serde/ser/number/mod.rs
  core/src/sql/value/serde/ser/value/mod.rs
  core/src/sql/value/value.rs
  lib/src/api/engine/local/mod.rs
Owners: @surrealdb/ql, @surrealdb/api

Update lib/examples/rocket/Cargo.toml
  lib/examples/rocket/Cargo.toml
Owners: @surrealdb/api

Simplify `kvs` modules
  core/src/kvs/mod.rs
  core/src/kvs/tests/mod.rs
Owners: @surrealdb/kv

Simplify `dbs` modules
  core/src/dbs/executor.rs
  core/src/dbs/mod.rs
Owners: @surrealdb/db

Add integration test for rocket (#3785)
  lib/examples/rocket/Cargo.toml
  lib/examples/rocket/src/lib.rs
  lib/examples/rocket/src/main.rs
  lib/examples/rocket/src/person.rs
  lib/examples/rocket/tests/integration_test.rs
Owners: @surrealdb/api

Refactor LQ v2 (#3779)
  core/src/cf/mutations.rs
  core/src/cf/writer.rs
  core/src/doc/document.rs
  core/src/kvs/ds.rs
Owners: @surrealdb/cf, @surrealdb/db, @surrealdb/kv

Before merge
  core/src/cf/writer.rs
  core/src/kvs/ds.rs
  core/src/kvs/tx.rs
  core/src/sql/value/serde/de/mod.rs
  lib/src/api/err/mod.rs
  lib/tests/api/live.rs
Owners: @surrealdb/cf, @surrealdb/kv, @surrealdb/ql, @surrealdb/api, @surrealdb/db

wip
  src/gql/schema.rs
Owners: @surrealdb/db

finish merge
  Cargo.lock
Owners: @surrealdb/security

Removed 1 unused import
  core/src/kvs/tx.rs
Owners: @surrealdb/kv

Rename `releases/core-v1` to `core-1.x` (#3794)
  .github/workflows/release.yml
Owners: @surrealdb/ci

[otel] Propagate W3C headers
  Cargo.lock
  Cargo.toml
  src/cli/start.rs
  src/net/tracer.rs
  src/rpc/connection.rs
  src/rpc/mod.rs
  src/rpc/response.rs
  src/telemetry/logs/mod.rs
  src/telemetry/metrics/http/mod.rs
  src/telemetry/metrics/mod.rs
  src/telemetry/metrics/ws/mod.rs
  src/telemetry/mod.rs
  src/telemetry/traces/mod.rs
  src/telemetry/traces/otlp.rs
Owners: @surrealdb/security, @surrealdb/cli, @surrealdb/net

Unit test document construction for lives
  core/src/cf/writer.rs
  core/src/doc/document.rs
  core/src/kvs/ds.rs
  core/src/kvs/tests/ds_lqv2.rs
  core/src/kvs/tests/mod.rs
  core/src/sql/value/serde/de/mod.rs
Owners: @surrealdb/cf, @surrealdb/db, @surrealdb/kv, @surrealdb/ql

wip
  core/src/syn/v2/parser/stmt/define.rs
  lib/src/lib.rs
  src/gql/schema.rs
Owners: @surrealdb/ql, @surrealdb/api, @surrealdb/db

Progress towards tested lq v2
  core/src/dbs/options.rs
  core/src/kvs/tests/ds_lqv2.rs
  core/src/sql/paths.rs
Owners: @surrealdb/db, @surrealdb/kv, @surrealdb/ql

Fix the build
  Makefile.ci.toml
  core/src/dbs/notification.rs
  core/src/kvs/tests/helper.rs
  core/src/sql/range.rs
  lib/examples/transaction/main.rs
  lib/src/api/engine/local/mod.rs
  lib/src/api/engine/local/native.rs
  lib/src/api/engine/local/wasm.rs
  lib/src/api/engine/mod.rs
  lib/src/api/engine/remote/http/mod.rs
  lib/src/api/engine/remote/ws/mod.rs
  lib/src/api/engine/remote/ws/native.rs
  lib/src/api/engine/remote/ws/wasm.rs
  lib/src/api/method/begin.rs
  lib/src/api/method/cancel.rs
  lib/src/api/method/commit.rs
  lib/src/api/method/insert.rs
  lib/src/api/method/live.rs
  lib/src/api/method/patch.rs
  lib/src/api/method/query.rs
  lib/src/api/method/tests/mod.rs
  lib/src/api/method/tests/server.rs
  lib/src/api/opt/query.rs
  lib/src/api/opt/resource.rs
  lib/src/lib.rs
  lib/tests/api/mod.rs
  lib/tests/define.rs
  lib/tests/delete.rs
  lib/tests/function.rs
  src/net/auth.rs
  src/net/ml.rs
  src/rpc/format/cbor/convert.rs
  src/rpc/format/msgpack/convert.rs
Owners: @surrealdb/ci, @surrealdb/db, @surrealdb/kv, @surrealdb/ql, @surrealdb/api, @surrealdb/net

Query planner detects RecordField
  core/src/idx/planner/tree.rs
  lib/tests/planner.rs
Owners: @surrealdb/ix, @surrealdb/db

Stabilise sql2 and jwks
  lib/src/lib.rs
Owners: @surrealdb/api

Stabilise `sql2` and `jwks` (#3798)
  lib/src/lib.rs
Owners: @surrealdb/api

wip
  Cargo.lock
  Cargo.toml
  src/net/headers/accept.rs
  src/net/headers/auth_db.rs
  src/net/headers/auth_ns.rs
  src/net/headers/content_type.rs
  src/net/headers/db.rs
  src/net/headers/id.rs
  src/net/headers/mod.rs
  src/net/headers/ns.rs
  src/rpc/connection.rs
  src/telemetry/metrics/mod.rs
  src/telemetry/metrics/ws/mod.rs
  src/telemetry/mod.rs
  src/telemetry/traces/mod.rs
  src/telemetry/traces/otlp.rs
Owners: @surrealdb/security, @surrealdb/net

Remove `sql2` feature gates introduced from `main`
  Makefile.ci.toml
  lib/src/api/engine/remote/http/mod.rs
  lib/src/api/engine/remote/ws/mod.rs
  lib/src/lib.rs
Owners: @surrealdb/ci, @surrealdb/api

Add missing arbitrary trait
  core/src/sql/table_type.rs
Owners: @surrealdb/ql

Update surrealdb version
  lib/fuzz/Cargo.lock
Owners: @surrealdb/security

Check fuzzer builds in CI
  .github/workflows/ci.yml
Owners: @surrealdb/ci

Cleanup a few things in the code (#3793)
  Cargo.lock
  Cargo.toml
  Makefile.ci.toml
  Makefile.local.toml
  Makefile.toml
  core/Cargo.toml
  core/src/dbs/executor.rs
  core/src/dbs/mod.rs
  core/src/err/mod.rs
  core/src/fnc/encoding.rs
  core/src/iam/base.rs
  core/src/iam/verify.rs
  core/src/kvs/mod.rs
  core/src/kvs/tests/mod.rs
  core/src/lib.rs
  core/src/sql/bytes.rs
  core/src/sql/model.rs
  core/src/sql/number.rs
  core/src/sql/value/serde/ser/number/mod.rs
  core/src/sql/value/serde/ser/value/mod.rs
  core/src/sql/value/value.rs
  lib/Cargo.toml
  lib/src/api/engine/local/mod.rs
  lib/src/api/engine/local/native.rs
  lib/src/api/engine/remote/http/mod.rs
  lib/src/api/engine/remote/ws/mod.rs
  lib/src/api/engine/tasks.rs
  lib/src/lib.rs
  lib/tests/api/backup.rs
  lib/tests/changefeeds.rs
  lib/tests/define.rs
  lib/tests/field.rs
  lib/tests/function.rs
  lib/tests/remove.rs
  src/net/mod.rs
  tests/ml_integration.rs
Owners: @surrealdb/security, @surrealdb/ci, @surrealdb/db, @surrealdb/ql, @surrealdb/api, @surrealdb/kv, @surrealdb/net

Drop `SERIALIZATION_V2`
  src/rpc/format/cbor/convert.rs
Owners: @surrealdb/net

Add missing arbitrary trait
  core/src/sql/table_type.rs
Owners: @surrealdb/ql

Update surrealdb version
  lib/fuzz/Cargo.lock
Owners: @surrealdb/security

Check fuzzer builds in CI
  .github/workflows/ci.yml
Owners: @surrealdb/ci

Leave space for binary decimal (future)
  src/rpc/format/cbor/convert.rs
Owners: @surrealdb/net

Fixup
  src/rpc/format/cbor/convert.rs
Owners: @surrealdb/net

Adding droppyboi
  core/src/kvs/tests/ds_lqv2.rs
  lib/src/lib.rs
Owners: @surrealdb/kv, @surrealdb/api

Update tags
  src/rpc/format/cbor/convert.rs
Owners: @surrealdb/net

Cleanup
  core/src/sql/datetime.rs
Owners: @surrealdb/ql

Feature: Add `type::range` function (#3748)
  core/src/fnc/mod.rs
  core/src/fnc/script/modules/surrealdb/functions/type.rs
  core/src/fnc/type.rs
  core/src/syn/v1/builtin.rs
  core/src/syn/v2/parser/builtin.rs
  lib/fuzz/fuzz_targets/fuzz_sql_parser.dict
  lib/tests/function.rs
Owners: @surrealdb/ql, @surrealdb/security, @surrealdb/db
