Repository surrealdb/surrealdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @surrealdb/surrealdb, @surrealdb/ci, @surrealdb/security, @surrealdb/kv

Factorise broker initialisation
  crates/core/src/dbs/executor.rs
Owners: @surrealdb/surrealdb

Fix fmt
  crates/core/src/dbs/executor.rs
  crates/core/src/dbs/mod.rs
  crates/core/src/doc/lives.rs
Owners: @surrealdb/surrealdb

Always test crate publishing
  .github/workflows/publish-version.yml
Owners: @surrealdb/ci

Update BUILDING.md
  doc/BUILDING.md
Owners: @surrealdb/surrealdb

Remove anyhow mention
  crates/types/README.md
Owners: @surrealdb/surrealdb

Update Cargo.toml
  Cargo.toml
Owners: @surrealdb/security

Bump release-plz version
  .github/workflows/publish-version.yml
Owners: @surrealdb/ci

Make `--allow-dirty` a flag
  .github/workflows/publish-version.yml
Owners: @surrealdb/ci

Regenerate lock file
  .github/workflows/publish-version.yml
Owners: @surrealdb/ci

Update version
  .github/workflows/publish-version.yml
Owners: @surrealdb/ci

Remove local dependencies
  .github/workflows/publish-version.yml
Owners: @surrealdb/ci

Remove cargo check instruction
  .github/workflows/publish-version.yml
Owners: @surrealdb/ci

Run `cargo vet prune`
  supply-chain/config.toml
  supply-chain/imports.lock
Owners: @surrealdb/security

Run `cargo vet add-exemption`
  supply-chain/config.toml
Owners: @surrealdb/security

Check and note if absolute path, move "starting kvs store" part to the top
  crates/core/src/kvs/ds.rs
Owners: @surrealdb/kv

Get rid of that println
  crates/core/src/kvs/ds.rs
Owners: @surrealdb/kv

Only mention path once
  crates/core/src/kvs/ds.rs
Owners: @surrealdb/kv

Change message a bit
  crates/core/src/kvs/ds.rs
Owners: @surrealdb/kv

Shrink a bit
  crates/core/src/kvs/ds.rs
Owners: @surrealdb/kv

Typo
  crates/core/src/kvs/ds.rs
Owners: @surrealdb/kv

Use same logic as next lines
  crates/core/src/kvs/ds.rs
Owners: @surrealdb/kv

idiom fallback functions
  crates/core/src/val/record_id.rs
  crates/core/src/val/value/get.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/idiom/fallback_function.surql
Owners: @surrealdb/surrealdb, @surrealdb/security

Remove cyclic dependency on `surrealdb-types` (#6365)
  .github/workflows/publish-version.yml
  Cargo.lock
  Cargo.toml
  crates/types-derive/Cargo.toml
  crates/types-derive/src/lib.rs
  supply-chain/config.toml
  supply-chain/imports.lock
Owners: @surrealdb/ci, @surrealdb/security, @surrealdb/surrealdb

Fix language tests version check for pre-releases
  .github/workflows/ci.yml
  crates/language-tests/Cargo.lock
  crates/language-tests/Cargo.toml
  crates/language-tests/src/cmd/run/mod.rs
  crates/language-tests/src/cmd/upgrade/mod.rs
  crates/language-tests/src/tests/schema/mod.rs
Owners: @surrealdb/ci, @surrealdb/security, @surrealdb/surrealdb

Fix warnings
  crates/language-tests/src/temp_dir.rs
Owners: @surrealdb/surrealdb

Fix language tests version check for pre-releases (#6370)
  .github/workflows/ci.yml
  crates/language-tests/Cargo.lock
  crates/language-tests/Cargo.toml
  crates/language-tests/src/cmd/run/mod.rs
  crates/language-tests/src/cmd/upgrade/mod.rs
  crates/language-tests/src/temp_dir.rs
  crates/language-tests/src/tests/schema/mod.rs
Owners: @surrealdb/ci, @surrealdb/security, @surrealdb/surrealdb

Update crates/core/src/val/value/get.rs
  crates/core/src/val/value/get.rs
Owners: @surrealdb/surrealdb

Idiom fallback functions (#6369)
  crates/core/src/val/record_id.rs
  crates/core/src/val/value/get.rs
  crates/language-tests/tests/language/idiom/fallback_function.surql
Owners: @surrealdb/surrealdb

TDD
  crates/language-tests/tests/language/planner/select_compound_order_limit.surql
Owners: @surrealdb/surrealdb

TDD
  crates/language-tests/tests/language/planner/select_compound_order_limit.surql
Owners: @surrealdb/surrealdb

Restrict supported types on `id` field
  crates/core/src/err/mod.rs
  crates/core/src/expr/record_id/key.rs
  crates/core/src/expr/statements/define/field.rs
  crates/language-tests/tests/language/statements/define/field/id_kind.surql
Owners: @surrealdb/surrealdb

Wrap event failure with a pointer to origin
  crates/core/src/doc/event.rs
  crates/language-tests/tests/language/statements/define/event/error.surql
Owners: @surrealdb/surrealdb

Fix
  crates/core/src/idx/planner/mod.rs
  crates/core/src/idx/planner/plan.rs
  crates/language-tests/Cargo.lock
Owners: @surrealdb/surrealdb, @surrealdb/security

Restrict supported types on `id` field (#6372)
  crates/core/src/err/mod.rs
  crates/core/src/expr/record_id/key.rs
  crates/core/src/expr/statements/define/field.rs
  crates/language-tests/tests/language/statements/define/field/id_kind.surql
Owners: @surrealdb/surrealdb

Wrap event failure with a pointer to origin (#6374)
  crates/core/src/doc/event.rs
  crates/language-tests/tests/language/statements/define/event/error.surql
Owners: @surrealdb/surrealdb

Add planner regression test for ORDER BY/LIMIT on compound index filters (#6371)
  crates/language-tests/tests/language/planner/select_compound_order_limit.surql
Owners: @surrealdb/surrealdb

Fix incorrect ORDER BY LIMIT results on multi-column index scans (#6376)
  crates/core/src/idx/planner/mod.rs
  crates/core/src/idx/planner/plan.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/planner/select_compound_order_limit.surql
Owners: @surrealdb/surrealdb, @surrealdb/security

.github/CODEOWNERS:

# Default owners for the repository
* @surrealdb/surrealdb

# Configuration for CI
/.github/ @surrealdb/ci

# Configuration for deployment
.dockerignore @surrealdb/ci
build.rs @surrealdb/ci
*.nix @surrealdb/ci
flake.lock @surrealdb/ci
/.cargo/ @surrealdb/ci
/.config/ @surrealdb/ci
/dev/ @surrealdb/ci
/pkg/ @surrealdb/ci
Makefile @surrealdb/ci
Makefile.* @surrealdb/ci

# Configuration for Rust dependencies
Cargo.lock @surrealdb/security
Cargo.toml @surrealdb/security
crates/core/Cargo.toml @surrealdb/security
crates/sdk/Cargo.toml @surrealdb/security
cackle.toml @surrealdb/security
supply-chain/* @surrealdb/security
deny.toml @surrealdb/security
.github/CODEOWNERS @surrealdb/security

# Code for fuzzing configuration
/crates/fuzz/ @surrealdb/security
SECURITY.md @surrealdb/security

# KV Storage Interface
/crates/core/src/kvs/ @surrealdb/kv
