Repository surrealdb/surrealdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tobiemh, @surrealdb/surrealdb, @surrealdb/ci, @surrealdb/security, @surrealdb/ix, @surrealdb/kv

Unwrap the retry to update loop
  crates/core/src/dbs/statement.rs
  crates/core/src/doc/compute.rs
  crates/core/src/doc/document.rs
  crates/core/src/doc/insert.rs
  crates/core/src/doc/process.rs
  crates/core/src/doc/store.rs
  crates/core/src/doc/upsert.rs
  crates/core/src/err/mod.rs
  crates/language-tests/tests/language/statements/upsert/new_records_with_table_and_where_clause.surql
  crates/language-tests/tests/language/statements/upsert/new_records_with_thing_and_where_clause.surql
  crates/sdk/tests/upsert.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix clippy
  crates/core/src/doc/insert.rs
  crates/core/src/doc/process.rs
  crates/core/src/fnc/array.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix Clippy warnings
  crates/sdk/tests/api_integration/basic.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix Clippy warnings (#5711)
  crates/sdk/tests/api_integration/basic.rs
Owners: @tobiemh, @surrealdb/surrealdb

Update comments
  crates/core/src/ctx/context.rs
  crates/core/src/doc/document.rs
  crates/core/src/doc/insert.rs
  crates/core/src/doc/upsert.rs
  crates/core/src/sql/statements/insert.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix grammar
  crates/core/src/doc/insert.rs
  crates/core/src/doc/upsert.rs
Owners: @tobiemh, @surrealdb/surrealdb

Unroll the retry from create to update loop. (#5709)
  crates/core/src/ctx/context.rs
  crates/core/src/dbs/statement.rs
  crates/core/src/doc/document.rs
  crates/core/src/doc/insert.rs
  crates/core/src/doc/process.rs
  crates/core/src/doc/store.rs
  crates/core/src/doc/upsert.rs
  crates/core/src/err/mod.rs
  crates/core/src/fnc/array.rs
  crates/core/src/sql/statements/insert.rs
  crates/language-tests/tests/language/statements/upsert/new_records_with_table_and_where_clause.surql
  crates/language-tests/tests/language/statements/upsert/new_records_with_thing_and_where_clause.surql
  crates/sdk/tests/upsert.rs
  revision.lock
Owners: @tobiemh, @surrealdb/surrealdb

Fix revision lock
  revision.lock
Owners: @tobiemh, @surrealdb/surrealdb

Handle savepoint properly
  crates/core/src/doc/insert.rs
  crates/core/src/doc/upsert.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix
  crates/core/src/doc/insert.rs
  crates/core/src/doc/upsert.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix fmt
  crates/core/src/doc/process.rs
Owners: @tobiemh, @surrealdb/surrealdb

Add string_lossy function
  crates/core/src/fnc/mod.rs
  crates/core/src/fnc/type.rs
  crates/core/src/sql/value/value.rs
  crates/core/src/syn/parser/builtin.rs
  crates/fuzz/fuzz_targets/fuzz_executor.dict
  crates/fuzz/fuzz_targets/fuzz_sql_parser.dict
  crates/sdk/tests/function.rs
Owners: @tobiemh, @surrealdb/surrealdb, @surrealdb/security

Capatalize SELECT
  crates/core/src/sql/graph.rs
  crates/core/src/syn/parser/idiom.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix graph selects `->(SELECT ...` Fixes #5605
  crates/core/src/sql/graph.rs
  crates/core/src/syn/parser/idiom.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix format
  crates/core/src/sql/graph.rs
  crates/core/src/syn/parser/idiom.rs
Owners: @tobiemh, @surrealdb/surrealdb

Do is as the others are
  crates/core/src/sql/graph.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix closure without WHERE & Test more graph clauses
  crates/core/src/sql/graph.rs
  crates/core/src/syn/parser/idiom.rs
Owners: @tobiemh, @surrealdb/surrealdb

Add missing comment clauses
  crates/core/src/sql/statements/define/api.rs
  crates/core/src/sql/statements/define/bucket.rs
  crates/core/src/syn/parser/stmt/define.rs
Owners: @tobiemh, @surrealdb/surrealdb

fix parser using wrong experimental feature
  crates/core/src/syn/parser/basic/mod.rs
Owners: @tobiemh, @surrealdb/surrealdb

TDD
  crates/sdk/tests/api_integration/basic.rs
Owners: @tobiemh, @surrealdb/surrealdb

TDD
  crates/sdk/tests/api_integration/basic.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix allowing null bytes in strings (#5652)
  crates/core/src/sql/strand.rs
  crates/core/src/syn/lexer/compound/strand.rs
  crates/language-tests/tests/language/functions/rand/string.surql
  crates/language-tests/tests/parsing/strings/unicode_escape_sequence.surql
  crates/language-tests/tests/parsing/strings/unicode_escape_squence_null.surql
  tests/http_integration.rs
Owners: @tobiemh, @surrealdb/surrealdb

Add tests, fix control flow in function args
  crates/core/src/dbs/group.rs
  crates/core/src/doc/field.rs
  crates/core/src/doc/purge.rs
  crates/core/src/fnc/record.rs
  crates/core/src/sql/field.rs
  crates/core/src/sql/mod.rs
  crates/core/src/sql/part.rs
  crates/core/src/sql/value/decrement.rs
  crates/core/src/sql/value/extend.rs
  crates/core/src/sql/value/fetch.rs
  crates/core/src/sql/value/get.rs
  crates/core/src/sql/value/idiom_recursion.rs
  crates/core/src/sql/value/increment.rs
  crates/language-tests/tests/language/control_flow/loop/break_within_argument.surql
  crates/language-tests/tests/language/control_flow/loop/break_within_expression.surql
  crates/language-tests/tests/language/control_flow/loop/break_within_for_loop_range.surql
  crates/language-tests/tests/language/control_flow/loop/break_within_if_condition.surql
  crates/language-tests/tests/language/control_flow/loop/break_within_indexing_idiom.surql
  crates/language-tests/tests/language/control_flow/loop/break_within_method_argument.surql
  crates/language-tests/tests/language/control_flow/loop/break_within_range.surql
  crates/language-tests/tests/language/control_flow/loop/continue_within_expression.surql
Owners: @tobiemh, @surrealdb/surrealdb

Add results to tests
  crates/language-tests/tests/language/control_flow/loop/break_within_argument.surql
  crates/language-tests/tests/language/control_flow/loop/break_within_expression.surql
  crates/language-tests/tests/language/control_flow/loop/break_within_for_loop_range.surql
  crates/language-tests/tests/language/control_flow/loop/break_within_if_condition.surql
  crates/language-tests/tests/language/control_flow/loop/break_within_indexing_idiom.surql
  crates/language-tests/tests/language/control_flow/loop/break_within_method_argument.surql
  crates/language-tests/tests/language/control_flow/loop/break_within_range.surql
  crates/language-tests/tests/language/control_flow/loop/continue_within_expression.surql
Owners: @tobiemh, @surrealdb/surrealdb

Fix graphql
  crates/core/src/gql/utils.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix ml
  crates/core/src/sql/model.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix clippy
  crates/core/src/sql/block.rs
  crates/core/src/sql/statements/foreach.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix Graph clauses `->(SELECT ...` Fixes #5605 (#5606)
  crates/core/src/sql/graph.rs
  crates/core/src/syn/parser/idiom.rs
Owners: @tobiemh, @surrealdb/surrealdb

Support non-mem backends, fail on test load error
  crates/language-tests/Cargo.lock
  crates/language-tests/Cargo.toml
  crates/language-tests/src/cli.rs
  crates/language-tests/src/cmd/list.rs
  crates/language-tests/src/cmd/mod.rs
  crates/language-tests/src/cmd/run/mod.rs
  crates/language-tests/src/cmd/run/provisioner.rs
  crates/language-tests/src/cmd/upgrade/mod.rs
  crates/language-tests/src/main.rs
  crates/language-tests/src/runner/mod.rs
  crates/language-tests/src/runner/provider.rs
  crates/language-tests/src/tests/mod.rs
  crates/language-tests/src/tests/schema/mod.rs
  crates/language-tests/src/tests/testset.rs
Owners: @surrealdb/security, @tobiemh, @surrealdb/surrealdb

updating surrealml-core
  Cargo.lock
  core/Cargo.toml
Owners: @surrealdb/security

Update test
  crates/sdk/tests/api_integration/basic.rs
Owners: @tobiemh, @surrealdb/surrealdb

.github/CODEOWNERS:

# Default owners for the repository
* @tobiemh @surrealdb/surrealdb

# Configuration for CI
/.github/ @surrealdb/ci

# Configuration for deployment
.dockerignore @surrealdb/ci
build.rs @surrealdb/ci
*.nix @surrealdb/ci
flake.lock @surrealdb/ci
/.cargo/ @surrealdb/ci
/.config/ @surrealdb/ci
/dev/ @surrealdb/ci
/pkg/ @surrealdb/ci
Makefile @surrealdb/ci
Makefile.* @surrealdb/ci

# Configuration for Rust dependencies
Cargo.lock @surrealdb/security
Cargo.toml @surrealdb/security
crates/core/Cargo.toml @surrealdb/security
crates/sdk/Cargo.toml @surrealdb/security
cackle.toml @surrealdb/security
supply-chain/* @surrealdb/security
deny.toml @surrealdb/security

# Code for fuzzing configuration
/crates/fuzz/ @surrealdb/security
SECURITY.md @surrealdb/security

# Code and tests for indexing
/crates/core/src/idx/ @surrealdb/ix

# Tests related to the storage
/crates/core/src/key/ @surrealdb/kv
/crates/core/src/kvs/ @surrealdb/kv
