Repository surrealdb/surrealdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tobiemh, @surrealdb/ci, @surrealdb/security, @surrealdb/db, @surrealdb/api, @surrealdb/ix, @surrealdb/cf, @surrealdb/kv, @surrealdb/ql, @surrealdb/net, @surrealdb/cli

Update ring instructions
  cackle.toml
Owners: @surrealdb/security

Fix `beta` and `patch` workflows (#3736)
  .github/workflows/beta.yml
  .github/workflows/patch.yml
Owners: @surrealdb/ci

Fix `beta` and `patch` workflows (#3838)
  .github/workflows/beta.yml
  .github/workflows/patch.yml
Owners: @surrealdb/ci

Fix import
  lib/tests/helpers.rs
Owners: @surrealdb/db

bugfix: Enforce `TYPE RELATION` (#3732)
  core/src/syn/v1/stmt/define/table.rs
  core/src/syn/v2/parser/stmt/define.rs
  lib/tests/define.rs
  lib/tests/field.rs
Owners: @surrealdb/ql, @surrealdb/db

bugfix: Enforce `TYPE RELATION` (#3839)
  core/src/syn/v1/stmt/define/table.rs
  core/src/syn/v2/parser/stmt/define.rs
  lib/tests/define.rs
  lib/tests/field.rs
Owners: @surrealdb/ql, @surrealdb/db

Bug fix: empty array on index (#3745)
  core/src/doc/index.rs
  lib/tests/define.rs
Owners: @surrealdb/db

Bug fix: empty array on index (#3840)
  core/src/doc/index.rs
  lib/tests/define.rs
Owners: @surrealdb/db

Allow walkdir to use fs
  cackle.toml
Owners: @surrealdb/security

Allow same-file to use fs
  cackle.toml
Owners: @surrealdb/security

Allow atomic-waker to use unsafe
  cackle.toml
Owners: @surrealdb/security

Bugfix: check if update version is already installed (#3756)
  src/cli/upgrade.rs
Owners: @surrealdb/cli

Bugfix: check if update version is already installed (#3841)
  src/cli/upgrade.rs
Owners: @surrealdb/cli

bugfix: fix DEFINE .. TYPE parsing in parser 2 (#3765)
  core/src/syn/v2/parser/stmt/define.rs
Owners: @surrealdb/ql

Replaces option_env by std::env::var (#3777)
  core/src/cnf/mod.rs
  core/src/kvs/rocksdb/cnf.rs
  core/src/kvs/speedb/cnf.rs
  core/src/mac/mod.rs
  src/cnf/mod.rs
Owners: @surrealdb/db, @surrealdb/kv, @surrealdb/net

Replaces option_env by std::env::var (#3842)
  core/src/cnf/mod.rs
  core/src/kvs/rocksdb/cnf.rs
  core/src/kvs/speedb/cnf.rs
  core/src/mac/mod.rs
  src/cnf/mod.rs
Owners: @surrealdb/db, @surrealdb/kv, @surrealdb/net

Bug fix: Improve support of range queries with complex queries (#3786)
  core/src/dbs/iterator.rs
  core/src/dbs/processor.rs
  core/src/idx/planner/executor.rs
  core/src/idx/planner/mod.rs
  core/src/idx/planner/plan.rs
  core/src/idx/planner/tree.rs
  lib/tests/planner.rs
Owners: @surrealdb/db, @surrealdb/ix

Bug fix: Improve support of range queries with complex queries (#3843)
  core/src/dbs/iterator.rs
  core/src/dbs/processor.rs
  core/src/idx/planner/executor.rs
  core/src/idx/planner/mod.rs
  core/src/idx/planner/plan.rs
  core/src/idx/planner/tree.rs
  lib/tests/planner.rs
Owners: @surrealdb/db, @surrealdb/ix

Prune dependencies (#3835)
  cackle.toml
  lib/tests/helpers.rs
  supply-chain/config.toml
  supply-chain/imports.lock
Owners: @surrealdb/security, @surrealdb/db

Reduce byte size of datetime and uuid types using cbor format (#3763)
  core/src/sql/datetime.rs
  core/src/sql/duration.rs
  src/rpc/format/cbor/convert.rs
Owners: @surrealdb/ql, @surrealdb/net

Reduce byte size of datetime and uuid types using cbor format (#3844)
  core/src/sql/datetime.rs
  core/src/sql/duration.rs
  src/rpc/format/cbor/convert.rs
Owners: @surrealdb/ql, @surrealdb/net

Bug when using array::group in a group by query (#3826)
  core/src/dbs/group.rs
  lib/tests/group.rs
  lib/tests/helpers.rs
  lib/tests/planner.rs
Owners: @surrealdb/db

Bug when using array::group in a group by query (#3845)
  core/src/dbs/group.rs
  lib/tests/group.rs
  lib/tests/helpers.rs
  lib/tests/planner.rs
Owners: @surrealdb/db

Fix Wasm builds on 1.x (#3832)
  lib/src/api/engine/local/wasm.rs
Owners: @surrealdb/api

Run `cargo update`
  Cargo.lock
Owners: @surrealdb/security

Exempt new versions
  supply-chain/config.toml
Owners: @surrealdb/security

Prune dependencies
  supply-chain/config.toml
  supply-chain/imports.lock
Owners: @surrealdb/security

Update ring instructions
  cackle.toml
Owners: @surrealdb/security

Allow walkdir to use fs
  cackle.toml
Owners: @surrealdb/security

Allow same-file to use fs
  cackle.toml
Owners: @surrealdb/security

Allow atomic-waker to use unsafe
  cackle.toml
Owners: @surrealdb/security

Fix import
  lib/tests/helpers.rs
Owners: @surrealdb/db

Replace deprecated APIs
  core/src/fnc/time.rs
Owners: @surrealdb/ql

Fix Wasm builds on 1.x (#3846)
  Cargo.lock
  cackle.toml
  core/src/fnc/time.rs
  lib/src/api/engine/local/wasm.rs
  lib/tests/helpers.rs
  supply-chain/config.toml
  supply-chain/imports.lock
Owners: @surrealdb/security, @surrealdb/ql, @surrealdb/api, @surrealdb/db

Revert "Bug fix: Improve support of range queries with complex queries (#3843)"
  core/src/dbs/iterator.rs
  core/src/dbs/processor.rs
  core/src/idx/planner/executor.rs
  core/src/idx/planner/mod.rs
  core/src/idx/planner/plan.rs
  core/src/idx/planner/tree.rs
  lib/tests/planner.rs
Owners: @surrealdb/db, @surrealdb/ix

Revert "Bug fix: Improve support of range queries with complex queries (#3847)
  core/src/dbs/iterator.rs
  core/src/dbs/processor.rs
  core/src/idx/planner/executor.rs
  core/src/idx/planner/mod.rs
  core/src/idx/planner/plan.rs
  core/src/idx/planner/tree.rs
  lib/tests/planner.rs
Owners: @surrealdb/db, @surrealdb/ix

chore: update surrealkv version to v0.1.4
  Cargo.lock
  core/Cargo.toml
Owners: @surrealdb/security, @surrealdb/db

TDD
  lib/tests/group.rs
Owners: @surrealdb/db

Introduce count_function aggregation
  core/src/dbs/group.rs
  core/src/sql/function.rs
  lib/tests/group.rs
Owners: @surrealdb/db, @surrealdb/ql

Bug: Wrong count when using COUNT with a subquery (#3855)
  core/src/dbs/group.rs
  core/src/sql/function.rs
  lib/tests/group.rs
Owners: @surrealdb/db, @surrealdb/ql

.github/CODEOWNERS:

# Default owners for the repository
* @tobiemh

# Configuration for CI
/.github/ @surrealdb/ci

# Configuration for deployment
.dockerignore @surrealdb/ci
build.rs @surrealdb/ci
*.nix @surrealdb/ci
flake.lock @surrealdb/ci
/.cargo/ @surrealdb/ci
/.config/ @surrealdb/ci
/dev/ @surrealdb/ci
/pkg/ @surrealdb/ci
Makefile @surrealdb/ci
Makefile.* @surrealdb/ci

# Configuration for Rust dependencies
Cargo.lock @surrealdb/security
Cargo.toml @surrealdb/security
core/Cargo.toml @surrealdb/security
lib/Cargo.toml @surrealdb/security
cackle.toml @surrealdb/security
supply-chain/* @surrealdb/security
deny.toml @surrealdb/security

# General owners for the database
/core/ @surrealdb/db
/doc/ @surrealdb/db
/lib/ @surrealdb/db
/src/ @surrealdb/db
/tests/ @surrealdb/db

# Code for fuzzing configuration
/lib/fuzz/ @surrealdb/security
SECURITY.md @surrealdb/security

# Code and tests for the Rust API
/lib/CARGO.md @surrealdb/api
/lib/README.md @surrealdb/api
/lib/examples/ @surrealdb/api
/lib/src/ @surrealdb/api
/lib/src/tests/api/ @surrealdb/api
/lib/src/tests/api.rs @surrealdb/api

# Code and tests for indexing
/core/src/idx/ @surrealdb/ix

# Code and tests for changefeeds
/core/src/cf/ @surrealdb/cf
/core/src/idg/ @surrealdb/cf
/core/src/vs/ @surrealdb/cf

# Tests related to the storage
/core/src/key/ @surrealdb/kv
/core/src/kvs/ @surrealdb/kv

# Code and tests for querying
/core/src/sql/ @surrealdb/ql
/core/src/syn/ @surrealdb/ql
/core/src/fnc/ @surrealdb/ql

# Code and tests for the server
/src/* @surrealdb/net
/src/cnf/ @surrealdb/net
/src/err/ @surrealdb/net
/src/net/ @surrealdb/net
/src/rpc/ @surrealdb/net
/src/telemetry/ @surrealdb/net
/tests/common/ @surrealdb/net
/tests/http_integration.rs @surrealdb/net
/tests/ws_integration.rs @surrealdb/net

# Code and tests for the command-line
/src/cli/ @surrealdb/cli
/src/dbs/ @surrealdb/cli
/tests/common/ @surrealdb/cli
/tests/cli_integration.rs @surrealdb/cli

# Code and tests for authentication
/core/src/iam/ @surrealdb/api @surrealdb/security
