Repository surrealdb/surrealdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tobiemh, @finnbear, @rushmorem, @emmanuel-keller, @DelSkayn, @sgirones, @phughk

Update Cargo.lock
  Cargo.lock
Owners: @tobiemh

Fix clippy lints
  lib/src/fnc/script/from.rs
Owners: @DelSkayn

Optimise usage of indexes with table iterator
  lib/src/idx/ft/mod.rs
  lib/src/idx/planner/executor.rs
  lib/src/idx/planner/mod.rs
  lib/src/idx/planner/plan.rs
  lib/src/idx/planner/tree.rs
  lib/src/sql/expression.rs
  lib/tests/matches.rs
Owners: @emmanuel-keller, @tobiemh

Avoid to consecutive transaction lock on scoring
  lib/src/fnc/search.rs
  lib/src/idx/planner/executor.rs
Owners: @tobiemh, @emmanuel-keller

Add test on highlighting single string value
  lib/tests/matches.rs
Owners: @tobiemh

.github/CODEOWNERS:

# Default owners for the repository
* @tobiemh

# Configuration for GitHub
/.github/ @tobiemh

# Code for fuzzing configuration
/lib/fuzz/ @finnbear

# Code and tests for the Rust API
/lib/CARGO.md @rushmorem
/lib/README.md @rushmorem
/lib/examples/ @rushmorem
/lib/src/api/ @rushmorem
/lib/src/tests/api/ @rushmorem
/lib/src/tests/api.rs @rushmorem

# Code and tests for indexing
/lib/src/idx/ @emmanuel-keller

# Code and tests for scripting
/lib/src/fnc/script/ @DelSkayn

# Code and tests for the command-line
/src/cli/ @rushmorem @finnbear
/tests/cli.rs @finnbear

# Code and tests for opentelemetry
/src/o11y/ @sgirones

# Tests related to the key-value store
/lib/src/kvs/tests/ @tobiemh @phughk
