Repository surrealdb/surrealdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tobiemh, @surrealdb/surrealdb, @surrealdb/ci, @surrealdb/security, @surrealdb/ix, @surrealdb/kv

.github/CODEOWNERS:

# Default owners for the repository
* @tobiemh @surrealdb/surrealdb

# Configuration for CI
/.github/ @surrealdb/ci

# Configuration for deployment
.dockerignore @surrealdb/ci
build.rs @surrealdb/ci
*.nix @surrealdb/ci
flake.lock @surrealdb/ci
/.cargo/ @surrealdb/ci
/.config/ @surrealdb/ci
/dev/ @surrealdb/ci
/pkg/ @surrealdb/ci
Makefile @surrealdb/ci
Makefile.* @surrealdb/ci

# Configuration for Rust dependencies
Cargo.lock @surrealdb/security
Cargo.toml @surrealdb/security
crates/core/Cargo.toml @surrealdb/security
crates/sdk/Cargo.toml @surrealdb/security
cackle.toml @surrealdb/security
supply-chain/* @surrealdb/security
deny.toml @surrealdb/security

# Code for fuzzing configuration
/crates/fuzz/ @surrealdb/security
SECURITY.md @surrealdb/security

# Code and tests for indexing
/crates/core/src/idx/ @surrealdb/ix

# Tests related to the storage
/crates/core/src/key/ @surrealdb/kv
/crates/core/src/kvs/ @surrealdb/kv

Pin `async-graphql-axum`
  Cargo.lock
  Cargo.toml
Owners: @surrealdb/security

adjust Parser to handle assigner
  crates/core/src/rpc/args.rs
  crates/core/src/rpc/protocol/v1.rs
  crates/core/src/rpc/protocol/v2.rs
  crates/core/src/syn/parser/expression.rs
  crates/core/src/syn/parser/stmt/insert.rs
Owners: @tobiemh, @surrealdb/surrealdb

parse objects and then determine if it is geometry (or else)
  crates/core/src/syn/parser/object.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix the Wasm build
  Cargo.lock
  Cargo.toml
  Makefile.ci.toml
  crates/core/Cargo.toml
  crates/sdk/Cargo.toml
Owners: @surrealdb/security, @surrealdb/ci

Run `cargo vet add-exemption`
  supply-chain/config.toml
Owners: @surrealdb/security

Allow `zerocopy` APIs
  cackle.toml
Owners: @surrealdb/security

Allow `getrandom` APIs
  cackle.toml
Owners: @surrealdb/security

Update `ring` instructions
  cackle.toml
Owners: @surrealdb/security

Allow `fs-err` APIs
  cackle.toml
Owners: @surrealdb/security

Bump timeout to 5 minutes
  crates/sdk/tests/define.rs
Owners: @tobiemh, @surrealdb/surrealdb

added comments
  crates/core/src/syn/parser/object.rs
Owners: @tobiemh, @surrealdb/surrealdb

Move Option logic into other methods, add one more query to test
  crates/sdk/src/api/value/mod.rs
  crates/sdk/tests/api_integration/basic.rs
Owners: @tobiemh, @surrealdb/surrealdb

integrate update into rpc
  crates/core/src/rpc/protocol/v2.rs
  crates/core/src/syn/parser/object.rs
Owners: @tobiemh, @surrealdb/surrealdb

small fix
  crates/core/src/syn/parser/object.rs
Owners: @tobiemh, @surrealdb/surrealdb

Add doc comments
  crates/sdk/src/api/value/mod.rs
Owners: @tobiemh, @surrealdb/surrealdb

Missed a slash
  crates/sdk/src/api/value/mod.rs
Owners: @tobiemh, @surrealdb/surrealdb

Update dependencies (#5697)
  Cargo.lock
  Cargo.toml
  Makefile.ci.toml
  cackle.toml
  crates/core/Cargo.toml
  crates/fuzz/Cargo.lock
  crates/language-tests/Cargo.lock
  crates/sdk/Cargo.toml
  crates/sdk/tests/define.rs
  supply-chain/config.toml
Owners: @surrealdb/security, @surrealdb/ci, @tobiemh, @surrealdb/surrealdb

Cleanup
  Cargo.lock
  Cargo.toml
  crates/core/src/buc/connection.rs
  crates/core/src/buc/controller.rs
  crates/core/src/ctx/context.rs
  crates/core/src/err/mod.rs
  crates/core/src/lib.rs
  crates/core/src/sql/permission.rs
  crates/core/src/syn/lexer/mod.rs
Owners: @surrealdb/security, @tobiemh, @surrealdb/surrealdb

Add buckets to `INFO FOR DB` statement
  crates/core/src/sql/statements/info.rs
Owners: @tobiemh, @surrealdb/surrealdb

Fix tests
  crates/core/src/fnc/script/modules/surrealdb/functions/type.rs
  crates/language-tests/tests/language/param/define_global_param.surql
  crates/language-tests/tests/language/statements/alter/define_table.surql
  crates/language-tests/tests/language/statements/alter/define_table_if_exists.surql
  crates/language-tests/tests/language/statements/alter/missing_table.surql
  crates/language-tests/tests/language/statements/define/analyzer/basic.surql
  crates/language-tests/tests/language/statements/define/function/basic.surql
  crates/language-tests/tests/language/statements/define/table/drop.surql
  crates/language-tests/tests/language/statements/define/table/foreigntable.surql
  crates/language-tests/tests/language/statements/define/table/permissions.surql
  crates/language-tests/tests/language/statements/define/table/relation_redefinition_info.surql
  crates/language-tests/tests/language/statements/define/table/schemafull.surql
  crates/language-tests/tests/language/statements/define/table/schemaless.surql
  crates/language-tests/tests/language/statements/relate/enforced.surql
  crates/sdk/tests/define.rs
  crates/sdk/tests/info.rs
  crates/sdk/tests/param.rs
  crates/sdk/tests/relate.rs
  crates/sdk/tests/remove.rs
  crates/sdk/tests/strict.rs
Owners: @tobiemh, @surrealdb/surrealdb

Update revision.ock
  revision.lock
Owners: @tobiemh, @surrealdb/surrealdb

Fix fmt
  crates/core/src/lib.rs
Owners: @tobiemh, @surrealdb/surrealdb

Remove atty dependency (#5702)
  crates/language-tests/Cargo.lock
  crates/language-tests/Cargo.toml
  crates/language-tests/src/cmd/run/progress.rs
  crates/language-tests/src/cmd/run/report/display.rs
Owners: @surrealdb/security, @tobiemh, @surrealdb/surrealdb

Revert Cargo.lock
  Cargo.lock
Owners: @surrealdb/security

clippy
  crates/core/src/buc/controller.rs
  crates/core/src/ctx/context.rs
  crates/core/src/sql/statements/define/bucket.rs
  crates/core/src/syn/lexer/compound/bytes.rs
Owners: @tobiemh, @surrealdb/surrealdb

Remove atty dependency
  crates/language-tests/Cargo.lock
  crates/language-tests/Cargo.toml
  crates/language-tests/src/cmd/run/progress.rs
  crates/language-tests/src/cmd/run/report/display.rs
Owners: @surrealdb/security, @tobiemh, @surrealdb/surrealdb

Add memory limit threshold check to every statements
  crates/core/src/ctx/context.rs
  crates/core/src/dbs/executor.rs
  crates/core/src/dbs/processor.rs
  crates/core/src/doc/compute.rs
  crates/core/src/doc/process.rs
  crates/core/src/err/mod.rs
  crates/core/src/fnc/script/main.rs
  crates/core/src/idx/planner/iterators.rs
  crates/core/src/sql/statements/create.rs
  crates/core/src/sql/statements/delete.rs
  crates/core/src/sql/statements/foreach.rs
  crates/core/src/sql/statements/insert.rs
  crates/core/src/sql/statements/relate.rs
  crates/core/src/sql/statements/select.rs
  crates/core/src/sql/statements/update.rs
  crates/core/src/sql/statements/upsert.rs
Owners: @tobiemh, @surrealdb/surrealdb, @surrealdb/ix

cackle
  cackle.toml
Owners: @surrealdb/security

cargo vet
  supply-chain/audits.toml
  supply-chain/imports.lock
Owners: @surrealdb/security

cargo vet prune
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Owners: @surrealdb/security

Revert "cargo vet prune"
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Owners: @surrealdb/security

Add normal file functions
  crates/core/src/fnc/mod.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/file.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/mod.rs
  crates/core/src/syn/parser/builtin.rs
Owners: @tobiemh, @surrealdb/surrealdb

Add CBOR support
  crates/core/src/rpc/format/cbor/convert.rs
Owners: @tobiemh, @surrealdb/surrealdb

Sdk methods to access Value fields or array indexes (#5682)
  crates/sdk/src/api/value/mod.rs
  crates/sdk/tests/api_integration/basic.rs
Owners: @tobiemh, @surrealdb/surrealdb

Update CI actions
  .github/workflows/beta.yml
  .github/workflows/patch.yml
Owners: @surrealdb/ci

Update CI actions (#5706)
  .github/workflows/beta.yml
  .github/workflows/patch.yml
Owners: @surrealdb/ci

Remove unused file (#5707)
  crates/core/src/doc/compute.rs
  crates/core/src/doc/mod.rs
Owners: @tobiemh, @surrealdb/surrealdb

Use try_info on cbor/json/msgpack
  core/src/rpc/format/cbor/mod.rs
  core/src/rpc/format/json.rs
  core/src/rpc/format/mod.rs
  core/src/rpc/format/msgpack/mod.rs
Owners: @tobiemh, @surrealdb/surrealdb

Remove unused file
  crates/core/src/doc/compute.rs
  crates/core/src/doc/mod.rs
Owners: @tobiemh, @surrealdb/surrealdb

Remove unwrap
  core/src/rpc/format/cbor/mod.rs
  core/src/rpc/format/json.rs
  core/src/rpc/format/mod.rs
  core/src/rpc/format/msgpack/mod.rs
Owners: @tobiemh, @surrealdb/surrealdb
