Repository surrealdb/surrealdb, pull requests merged in 2023-10, with the labels that each got.

#2811 Optimize `time::from::nanos` function.
  lib/src/fnc/time.rs
Labels: performance

#2778 Add new clocks
  lib/src/dbs/node.rs
  lib/src/fnc/script/from.rs
  lib/src/kvs/clock.rs
  lib/src/kvs/ds.rs
  lib/src/kvs/mod.rs
  lib/src/kvs/tests/cluster_init.rs
  lib/src/kvs/tests/hb.rs
  lib/src/kvs/tests/helper.rs
  lib/src/kvs/tests/lq.rs
  lib/src/kvs/tests/mod.rs
  lib/src/kvs/tests/multireader.rs
  lib/src/kvs/tests/multiwriter_different_keys.rs
  lib/src/kvs/tests/multiwriter_same_keys_allow.rs
  lib/src/kvs/tests/multiwriter_same_keys_conflict.rs
  lib/src/kvs/tests/nd.rs
  lib/src/kvs/tests/ndlq.rs
  lib/src/kvs/tests/nq.rs
  lib/src/kvs/tests/raw.rs
  lib/src/kvs/tests/snapshot.rs
  lib/src/kvs/tests/tb.rs
  lib/src/kvs/tests/tblq.rs
  lib/src/kvs/tests/timestamp_to_versionstamp.rs
  lib/src/kvs/tx.rs
  lib/src/sql/duration.rs
  lib/tests/bootstrap.rs
Labels: topic:live, topic:testing

#2853 Documentation Fix: Update outdated connection flag -c to -e
  DOCKER.md
Labels: bug

#2867 Feat: enable compression on the HTTP connector
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  src/net/mod.rs
  tests/http_integration.rs
Labels: feature

#2865 Fix index plan for idiom param value
  lib/src/idx/planner/tree.rs
  lib/src/sql/value/value.rs
  lib/tests/planner.rs
Labels: bug

#2887 Fix #2513 - Query results should be consistent and representative
  lib/src/api/engine/any/mod.rs
  lib/src/api/engine/local/mod.rs
  lib/src/api/engine/remote/http/mod.rs
  lib/src/api/engine/remote/ws/mod.rs
  lib/src/api/method/query.rs
  lib/src/api/opt/query.rs
  lib/src/sql/array.rs
  lib/src/sql/value/value.rs
  lib/tests/api/mod.rs
  src/cli/sql.rs
  tests/cli_integration.rs
Labels: topic:surrealql, topic:rust, topic:cli

#2738 Feat: Implements MTree index deletions
  lib/Cargo.toml
  lib/benches/index_btree.rs
  lib/benches/index_mtree.rs
  lib/benches/move_vs_clone.rs
  lib/src/idx/docids.rs
  lib/src/idx/mod.rs
  lib/src/idx/trees/bkeys.rs
  lib/src/idx/trees/btree.rs
  lib/src/idx/trees/mod.rs
  lib/src/idx/trees/mtree.rs
  lib/src/idx/trees/store.rs
  lib/src/idx/trees/vector.rs
  lib/src/kvs/tx.rs
  lib/src/sql/index.rs
  lib/src/sql/mod.rs
  lib/src/sql/statements/define/index.rs
  lib/src/sql/value/serde/ser/distance/mod.rs
  lib/src/sql/value/serde/ser/index/mtreeparams.rs
  lib/src/sql/value/serde/ser/mod.rs
  lib/src/sql/value/serde/ser/vectortype/mod.rs
  lib/tests/vector.rs
Labels: feature
