Repository surrealdb/surrealdb, pull requests merged in 2023-05, with the labels that each got.

#1878 Testing - Add microbenchmarks for query parsing and execution.
  .github/workflows/bench.yml
  Cargo.lock
  lib/Cargo.toml
  lib/benches/README.md
  lib/benches/executor.rs
  lib/benches/parser.rs
Labels: performance

#1942 Use static str where possible for context param names
  lib/src/ctx/context.rs
  lib/src/dbs/executor.rs
  lib/src/dbs/session.rs
  lib/src/doc/alter.rs
  lib/src/doc/event.rs
  lib/src/doc/field.rs
  lib/src/doc/pluck.rs
  lib/src/sql/subquery.rs
Labels: performance

#1976 Bugfix - time::ceil function edge case.
  lib/src/fnc/time.rs
  lib/tests/function.rs
Labels: bug

#1983 Bugfix - error on integer overflow in SurrealQL.
  lib/src/err/mod.rs
  lib/src/sql/value/value.rs
Labels: bug

#2007 Bugfix #2001 - Error instead of panic when applying malformed patches.
  Cargo.lock
  lib/Cargo.toml
  lib/src/sql/value/diff.rs
  lib/src/sql/value/patch.rs
Labels: bug

#2021 Feature - Add `time::EPOCH` constant.
  lib/src/api/opt/mod.rs
  lib/src/sql/constant.rs
Labels: feature

#2015 deps: upgrade to clap v4
  Cargo.lock
  Cargo.toml
  src/cli/abstraction/mod.rs
  src/cli/backup.rs
  src/cli/config.rs
  src/cli/export.rs
  src/cli/import.rs
  src/cli/isready.rs
  src/cli/mod.rs
  src/cli/sql.rs
  src/cli/start.rs
  src/cli/validator/mod.rs
  src/cli/validator/parser/env_filter.rs
  src/cli/validator/parser/mod.rs
  src/cli/version.rs
  src/err/mod.rs
  src/main.rs
  src/o11y/mod.rs
Labels: topic:cli

#2032 Refactor - Use floats for math and cvt'ing from JS numbers, integer division truncates
  lib/src/fnc/operate.rs
  lib/src/fnc/script/from.rs
  lib/src/fnc/util/math/deviation.rs
  lib/src/fnc/util/math/interquartile.rs
  lib/src/fnc/util/math/mean.rs
  lib/src/fnc/util/math/median.rs
  lib/src/fnc/util/math/midhinge.rs
  lib/src/fnc/util/math/mode.rs
  lib/src/fnc/util/math/nearestrank.rs
  lib/src/fnc/util/math/percentile.rs
  lib/src/fnc/util/math/quartile.rs
  lib/src/fnc/util/math/trimean.rs
  lib/src/fnc/util/math/variance.rs
  lib/src/sql/number.rs
  lib/tests/function.rs
Labels: topic:surrealql

#2039 Bugfix - ret. QueryNotExecuted if implicit txn. fails to commit.
  lib/src/dbs/executor.rs
  lib/src/kvs/tikv/mod.rs
Labels: bug

#2047 Testing - don't test server outside CI.
  .github/workflows/ci.yml
  tests/cli.rs
Labels: topic:cli

#2046 Bugfix - make NS, DB optional in sql cli.
  src/cli/abstraction/mod.rs
  src/cli/sql.rs
  tests/cli.rs
Labels: bug, topic:cli

#1779 Emmanuel/full text study
  Cargo.lock
  lib/Cargo.toml
  lib/src/doc/index.rs
  lib/src/err/mod.rs
  lib/src/idx/bkeys.rs
  lib/src/idx/btree.rs
  lib/src/idx/ft/docids.rs
  lib/src/idx/ft/doclength.rs
  lib/src/idx/ft/mod.rs
  lib/src/idx/ft/postings.rs
  lib/src/idx/ft/terms.rs
  lib/src/idx/mod.rs
  lib/src/key/bd.rs
  lib/src/key/bf.rs
  lib/src/key/bi.rs
  lib/src/key/bk.rs
  lib/src/key/bl.rs
  lib/src/key/bp.rs
  lib/src/key/bs.rs
  lib/src/key/bt.rs
  lib/src/key/bu.rs
  lib/src/key/mod.rs
  lib/src/lib.rs
  lib/src/sql/index.rs
  lib/src/sql/mod.rs
  lib/src/sql/operator.rs
  lib/src/sql/scoring.rs
  lib/src/sql/statements/define.rs
  lib/tests/define.rs
Labels: topic:indexing

#2049 Feature - Add message to query not executed error.
  Cargo.lock
  lib/Cargo.toml
  lib/src/dbs/executor.rs
  lib/src/err/mod.rs
Labels: feature

#2074 Bugfix #2069 - Properly escape '\' in strings
  lib/src/sql/datetime.rs
  lib/src/sql/escape.rs
  lib/src/sql/statements/define.rs
  lib/src/sql/strand.rs
  lib/src/sql/uuid.rs
Labels: bug, topic:surrealql

#2075 Feature #2023 - CLI --json output.
  src/cli/sql.rs
Labels: feature

#2081 Feature #2080 - support empty custom fn's
  lib/src/sql/block.rs
Labels: feature, topic:surrealql
