Repository surrealdb/surrealdb, pull requests merged in 2023-06, with the labels that each got.

#2089 Update rquickjs dependency to new version
  Cargo.lock
  lib/Cargo.toml
  lib/src/fnc/script/classes/blob.rs
  lib/src/fnc/script/classes/duration.rs
  lib/src/fnc/script/classes/headers.rs
  lib/src/fnc/script/classes/record.rs
  lib/src/fnc/script/classes/request.rs
  lib/src/fnc/script/classes/response.rs
  lib/src/fnc/script/classes/uuid.rs
  lib/src/fnc/script/error.rs
  lib/src/fnc/script/from.rs
  lib/src/fnc/script/globals/console.rs
  lib/src/fnc/script/globals/fetch.rs
  lib/src/fnc/script/main.rs
  lib/src/fnc/script/mod.rs
  lib/src/fnc/script/modules/mod.rs
  lib/src/fnc/script/modules/surrealdb/functions/http.rs
  lib/src/fnc/script/modules/surrealdb/functions/mod.rs
  lib/src/fnc/script/modules/surrealdb/mod.rs
  lib/src/mac/mod.rs
Labels: waiting, topic:scripting

#2100 Feature - Detect real IP of client using new config option
  src/cli/config.rs
  src/cli/start.rs
  src/net/client_ip.rs
  src/net/mod.rs
  src/net/session.rs
Labels: feature, topic:security

#2102 Feature #1357 - add upgrade CLI.
  Cargo.lock
  Cargo.toml
  src/cli/mod.rs
  src/cli/upgrade.rs
Labels: feature, topic:cli

#2034 Sur 194 websocket live query
  Cargo.lock
  Cargo.toml
  lib/src/dbs/executor.rs
  lib/src/dbs/notification.rs
  lib/src/dbs/response.rs
  lib/src/doc/lives.rs
  lib/src/key/cl.rs
  lib/src/key/hb.rs
  lib/src/sql/statements/live.rs
  src/net/rpc.rs
Labels: topic:live

#2114 Bugfix #1316 - fix 2 of 3 problems with `impl Ord for Number`
  lib/src/sql/constant.rs
  lib/src/sql/number.rs
Labels: bug

#2112 Security - Limit output size of all string functions.
  lib/src/fnc/string.rs
Labels: topic:security

#2097 Security - Add global query timeouts (attempt 2).
  lib/src/dbs/executor.rs
  lib/src/kvs/ds.rs
  src/cli/start.rs
  src/cli/validator/mod.rs
  src/dbs/mod.rs
Labels: feature, topic:security

#2136 Rebased lq changes
  lib/src/dbs/cl.rs
  lib/src/dbs/executor.rs
  lib/src/dbs/mod.rs
  lib/src/dbs/notification.rs
  lib/src/dbs/options.rs
  lib/src/dbs/response.rs
  lib/src/dbs/test.rs
  lib/src/doc/lives.rs
  lib/src/err/mod.rs
  lib/src/key/cl.rs
  lib/src/key/hb.rs
  lib/src/key/lq.rs
  lib/src/key/lv.rs
  lib/src/key/mod.rs
  lib/src/kvs/ds.rs
  lib/src/kvs/tx.rs
  lib/src/sql/statements/kill.rs
  lib/src/sql/statements/live.rs
  lib/src/sql/statements/sleep.rs
  src/net/rpc.rs
  tests/cli.rs
Labels: topic:live

#2139 Feature - unary operators
  lib/src/doc/table.rs
  lib/src/err/mod.rs
  lib/src/fnc/operate.rs
  lib/src/idx/planner/tree.rs
  lib/src/sql/cast.rs
  lib/src/sql/ending.rs
  lib/src/sql/expression.rs
  lib/src/sql/number.rs
  lib/src/sql/operator.rs
  lib/src/sql/test.rs
  lib/src/sql/value/serde/ser/expression/mod.rs
  lib/src/sql/value/serde/ser/operator/mod.rs
  lib/src/sql/value/serde/ser/value/mod.rs
  lib/src/sql/value/serde/ser/value/vec.rs
  lib/src/sql/value/value.rs
  lib/tests/select.rs
Labels: feature, topic:surrealql

#2169 Fixes highlighting bug (out or range for slice length...)
  Cargo.lock
  lib/Cargo.toml
  lib/src/err/mod.rs
  lib/src/idx/ft/analyzer/filter.rs
  lib/src/idx/ft/analyzer/mod.rs
  lib/src/idx/ft/analyzer/tokenizer.rs
  lib/src/idx/ft/highlighter.rs
  lib/src/idx/ft/offsets.rs
  lib/tests/matches.rs
Labels: bug, topic:indexing

#2158 Scoring function
  lib/src/ctx/context.rs
  lib/src/dbs/iterate.rs
  lib/src/err/mod.rs
  lib/src/fnc/mod.rs
  lib/src/fnc/script/modules/surrealdb/functions/search.rs
  lib/src/fnc/search.rs
  lib/src/idx/ft/docids.rs
  lib/src/idx/ft/mod.rs
  lib/src/idx/ft/scorer.rs
  lib/src/idx/planner/executor.rs
  lib/src/idx/planner/mod.rs
  lib/src/idx/planner/plan.rs
  lib/src/idx/planner/tree.rs
  lib/src/sql/expression.rs
  lib/src/sql/function.rs
  lib/tests/matches.rs
Labels: topic:indexing

#2182 Bugfix - Non-spec behavour in `Request.prototype.text`
  lib/src/fnc/script/fetch/classes/request.rs
  lib/src/fnc/script/fetch/classes/response/mod.rs
  lib/src/fnc/script/fetch/stream.rs
Labels: bug, topic:scripting

#2185 Bugfix - matches operator returns results on non-matching terms
  lib/src/idx/ft/analyzer/mod.rs
  lib/src/idx/ft/mod.rs
  lib/src/idx/ft/scorer.rs
  lib/src/idx/ft/termdocs.rs
  lib/src/idx/planner/executor.rs
  lib/src/idx/planner/plan.rs
  lib/tests/matches.rs
Labels: bug, topic:indexing

#2197 BM25 without parameters
  lib/src/idx/ft/mod.rs
  lib/src/sql/scoring.rs
  lib/tests/matches.rs
Labels: topic:indexing

#2200 feat: the query planner should support params
  lib/src/idx/planner/mod.rs
  lib/src/idx/planner/tree.rs
  lib/src/sql/statements/select.rs
  lib/tests/matches.rs
Labels: feature, topic:indexing
