Repository surrealdb/surrealdb, pull requests merged in 2023-12, with the labels that each got.

#3049 Upgrade Nix flake dependencies
  flake.lock
  flake.nix
  pkg/nix/README.md
Labels: nix

#3065 Disable building static binaries in Nix
  .github/workflows/nix.yml
Labels: nix

#3066 Fix memory leak
  src/rpc/connection.rs
Labels: performance

#3073 [nix] Disable nix static job
  .github/workflows/nix.yml
Labels: nix

#3133 Avoid building the `ml` feature on Nix
  flake.lock
  pkg/nix/spec/aarch64-apple-darwin.nix
  pkg/nix/spec/x86_64-apple-darwin.nix
  pkg/nix/spec/x86_64-pc-windows-gnu.nix
  pkg/nix/spec/x86_64-unknown-linux-gnu.nix
Labels: nix

#3135 Avoid building the `ml` feature by default
  .github/workflows/reusable_publish_version.yml
  Cargo.toml
Labels: nix

#3020 Feat: In Memory index store
  Cargo.lock
  lib/Cargo.toml
  lib/benches/index_btree.rs
  lib/benches/index_mtree.rs
  lib/src/ctx/context.rs
  lib/src/dbs/options.rs
  lib/src/doc/index.rs
  lib/src/err/mod.rs
  lib/src/idx/docids.rs
  lib/src/idx/ft/doclength.rs
  lib/src/idx/ft/mod.rs
  lib/src/idx/ft/offsets.rs
  lib/src/idx/ft/postings.rs
  lib/src/idx/ft/terms.rs
  lib/src/idx/planner/executor.rs
  lib/src/idx/trees/bkeys.rs
  lib/src/idx/trees/btree.rs
  lib/src/idx/trees/mtree.rs
  lib/src/idx/trees/store.rs
  lib/src/idx/trees/store/cache.rs
  lib/src/idx/trees/store/mod.rs
  lib/src/idx/trees/store/tree.rs
  lib/src/idx/trees/vector.rs
  lib/src/kvs/ds.rs
  lib/src/kvs/tx.rs
  lib/src/sql/index.rs
  lib/src/sql/regex.rs
  lib/src/sql/statements/analyze.rs
  lib/src/sql/statements/remove/index.rs
  lib/src/sql/statements/remove/namespace.rs
  lib/src/sql/statements/remove/table.rs
  lib/src/sql/value/serde/ser/index/mod.rs
  lib/src/sql/value/serde/ser/index/mtreeparams.rs
  lib/src/sql/value/serde/ser/index/searchparams.rs
  lib/src/syn/v1/part/index.rs
  lib/src/syn/v1/stmt/define/index.rs
  lib/tests/define.rs
  lib/tests/matches.rs
  lib/tests/remove.rs
Labels: feature

#3168 Ensure compression is only enabled when response is a certain size
  src/net/mod.rs
  tests/http_integration.rs
Labels: performance

#3184 Update the surrealml-core version
  .github/workflows/reusable_publish_version.yml
  Cargo.lock
  Cargo.toml
  lib/Cargo.toml
Labels: awaiting beta backport
