Repository surrealdb/surrealdb, pull requests merged in 2023-08, with the labels that each got.

#2327 Feat: Support of (un)flattened fields in indexing
  lib/src/api/opt/config.rs
  lib/src/doc/index.rs
  lib/src/idx/ft/analyzer/mod.rs
  lib/src/idx/ft/highlighter.rs
  lib/src/idx/ft/mod.rs
  lib/src/idx/planner/executor.rs
  lib/src/idx/planner/iterators.rs
  lib/src/idx/planner/plan.rs
  lib/src/idx/planner/tree.rs
  lib/src/key/index/mod.rs
  lib/src/sql/ending.rs
  lib/src/sql/idiom.rs
  lib/src/sql/part.rs
  lib/src/sql/value/get.rs
  lib/src/sql/value/walk.rs
  lib/tests/create.rs
  lib/tests/define.rs
  lib/tests/matches.rs
Labels: feature, topic:indexing

#2362 Feat: btree serialisation + generic read/write tree cache
  lib/benches/index_btree.rs
  lib/src/doc/index.rs
  lib/src/err/mod.rs
  lib/src/idx/ft/docids.rs
  lib/src/idx/ft/doclength.rs
  lib/src/idx/ft/mod.rs
  lib/src/idx/ft/postings.rs
  lib/src/idx/ft/terms.rs
  lib/src/idx/mod.rs
  lib/src/idx/planner/executor.rs
  lib/src/idx/trees/bkeys.rs
  lib/src/idx/trees/btree.rs
  lib/src/idx/trees/mod.rs
  lib/src/idx/trees/store.rs
  lib/src/key/index/bd.rs
  lib/src/key/index/bi.rs
  lib/src/key/index/bl.rs
  lib/src/key/index/bp.rs
  lib/src/key/index/bt.rs
  lib/src/sql/statements/analyze.rs
  lib/tests/define.rs
Labels: feature

#2402 Change kill id type to value
  lib/src/sql/statements/kill.rs
  src/net/rpc.rs
Labels: topic:surrealql, topic:api, topic:live

#2255 GC live queries when client disconnects
  lib/Cargo.toml
  lib/src/dbs/options.rs
  lib/src/key/node/lq.rs
  lib/src/key/table/lq.rs
  lib/src/kvs/ds.rs
  lib/src/kvs/tests/cluster_init.rs
  lib/src/kvs/tests/helper.rs
  lib/src/kvs/tests/lq.rs
  lib/src/kvs/tests/mod.rs
  lib/src/kvs/tests/multireader.rs
  lib/src/kvs/tests/multiwriter_different_keys.rs
  lib/src/kvs/tests/multiwriter_same_keys_allow.rs
  lib/src/kvs/tests/multiwriter_same_keys_conflict.rs
  lib/src/kvs/tests/nq.rs
  lib/src/kvs/tests/raw.rs
  lib/src/kvs/tests/snapshot.rs
  lib/src/kvs/tests/tb.rs
  lib/src/kvs/tests/timestamp_to_versionstamp.rs
  lib/src/kvs/tx.rs
  src/rpc/connection.rs
Labels: topic:live

#2464 Add tests for `DEFINE FIELD ... VALUE` clauses with references and with futures
  lib/tests/field.rs
Labels: topic:surrealql

#2465 Ensure permissions are enforced on edge `in` and `out` fields
  lib/src/dbs/session.rs
  lib/src/doc/relate.rs
  lib/src/iam/auth.rs
  lib/src/iam/entities/resources/level.rs
  lib/src/iam/signin.rs
  lib/tests/field.rs
Labels: topic:surrealql

#2466 Ensure records can be created correctly when using `INSERT` statement
  lib/src/doc/insert.rs
  lib/tests/create.rs
Labels: topic:surrealql

#2467 Ensure foreign tables are deleted fully when removed
  lib/src/sql/statements/remove/table.rs
  lib/tests/define.rs
Labels: topic:surrealql

#2468 Implement `DEFAULT` value clause on `DEFINE FIELD` statements
  lib/src/doc/field.rs
  lib/tests/field.rs
Labels: topic:surrealql

#2469 Delay Record ID generation when using functions
  lib/Cargo.toml
  lib/src/api/opt/mod.rs
  lib/src/sql/id.rs
  lib/src/sql/thing.rs
  lib/src/sql/value/value.rs
  lib/tests/create.rs
Labels: topic:surrealql

#2473 Support whitespace in JavaScript function definition
  lib/src/sql/function.rs
Labels: topic:surrealql

#2474 Ensure `ON DUPLICATE KEY UPDATE` clause is displayed on `INSERT` statement
  lib/src/sql/statements/insert.rs
Labels: topic:surrealql

#2369 Security - Limit parser depth.
  lib/src/cnf/mod.rs
  lib/src/sql/error.rs
  lib/src/sql/expression.rs
  lib/src/sql/geometry.rs
  lib/src/sql/parser.rs
  lib/src/sql/script.rs
  lib/src/sql/value/value.rs
  lib/tests/complex.rs
Labels: topic:surrealql, topic:security

#2487 Improve `id` field handling in the statement data clause
  lib/src/dbs/iterator.rs
  lib/src/doc/table.rs
  lib/src/err/mod.rs
  lib/src/sql/data.rs
  lib/src/sql/statements/create.rs
  lib/src/sql/statements/delete.rs
  lib/src/sql/statements/relate.rs
  lib/src/sql/statements/select.rs
  lib/src/sql/statements/update.rs
  lib/src/sql/value/generate.rs
  lib/src/sql/value/value.rs
  lib/tests/create.rs
Labels: topic:surrealql

#2490 Improve code blocks, foreach statements, and throw statements
  lib/Cargo.toml
  lib/src/err/mod.rs
  lib/src/sql/block.rs
  lib/src/sql/statements/break.rs
  lib/src/sql/statements/continue.rs
  lib/src/sql/statements/define/mod.rs
  lib/src/sql/statements/foreach.rs
  lib/src/sql/statements/ifelse.rs
  lib/src/sql/statements/remove/mod.rs
  lib/src/sql/statements/throw.rs
  lib/src/sql/value/serde/ser/block/entry/mod.rs
  lib/src/sql/value/serde/ser/statement/break.rs
  lib/src/sql/value/serde/ser/statement/continue.rs
  lib/src/sql/value/serde/ser/statement/define/mod.rs
  lib/src/sql/value/serde/ser/statement/mod.rs
  lib/src/sql/value/serde/ser/statement/remove/mod.rs
  lib/src/sql/value/serde/ser/statement/throw.rs
  lib/src/sql/value/value.rs
  lib/tests/foreach.rs
Labels: topic:surrealql

#2492 Ensure foreach range is computed before iterating over
  lib/src/sql/statements/foreach.rs
  lib/tests/foreach.rs
Labels: topic:surrealql

#2502 Default to `true` if a `WHEN` clause is omitted on `DEFINE EVENT` statements
  lib/src/sql/statements/define/event.rs
Labels: topic:surrealql

#2505 Improve output of `THROW` errors
  lib/src/err/mod.rs
  lib/tests/throw.rs
  lib/tests/transaction.rs
Labels: topic:surrealql

#2506 Ensure edge `in` and `out` fields are not overwritten
  lib/src/doc/reset.rs
  lib/tests/relate.rs
Labels: topic:surrealql

#2508 Enable parsing raw values at base of query
  lib/src/sql/statement.rs
  lib/tests/query.rs
Labels: topic:surrealql

#2520 Add more complete and complex test for SurrealQL functionality
  lib/src/sql/parser.rs
  lib/test.surql
Labels: topic:surrealql

#2524 Add `null` as a specific field type
  lib/src/sql/kind.rs
  lib/src/sql/value/value.rs
  lib/tests/typing.rs
Labels: topic:surrealql

#2526 Support arbitrary number of arrays in `array::concat()`
  lib/src/fnc/args.rs
  lib/src/fnc/array.rs
  lib/src/sql/array.rs
  lib/tests/function.rs
  src/rpc/args.rs
Labels: topic:surrealql

#2529 Add support for `OMIT` clause in `SELECT` statements
  lib/src/dbs/statement.rs
  lib/src/doc/pluck.rs
  lib/src/sql/idiom.rs
  lib/src/sql/mod.rs
  lib/src/sql/omit.rs
  lib/src/sql/statements/select.rs
  lib/src/sql/value/serde/ser/idiom/vec/mod.rs
  lib/src/sql/value/serde/ser/idiom/vec/opt.rs
  lib/src/sql/value/serde/ser/statement/select.rs
  lib/tests/select.rs
Labels: topic:surrealql

#2530 Make `patch` return the patched record
  lib/src/api/engine/mod.rs
  lib/tests/api/mod.rs
  src/rpc/processor.rs
  tests/ws_integration.rs
Labels: topic:rust, topic:api

#2552 Support variable field projection with `type::field()` and `type::fields()`
  Cargo.toml
  lib/src/dbs/options.rs
  lib/src/fnc/args.rs
  lib/src/fnc/mod.rs
  lib/src/fnc/script/modules/surrealdb/functions/mod.rs
  lib/src/fnc/script/modules/surrealdb/functions/type.rs
  lib/src/fnc/type.rs
  lib/src/sql/field.rs
  lib/src/sql/function.rs
  lib/src/sql/parser.rs
  lib/src/sql/statements/delete.rs
  lib/src/sql/statements/insert.rs
  lib/src/sql/statements/relate.rs
  lib/src/sql/statements/select.rs
  lib/src/sql/statements/update.rs
  lib/tests/field.rs
  src/net/key.rs
Labels: topic:surrealql

#2555 Refactor and improve `Surreal::export`
  lib/src/api/conn.rs
  lib/src/api/engine/local/mod.rs
  lib/src/api/engine/remote/http/mod.rs
  lib/src/api/method/export.rs
  lib/src/api/method/mod.rs
  lib/src/api/opt/export.rs
  lib/src/api/opt/mod.rs
  src/cli/export.rs
Labels: topic:api
