Repository surrealdb/surrealdb, pull requests merged in 2023-11, with the labels that each got.

#2967 Support of subfields for embedding indexing
  lib/src/err/mod.rs
  lib/src/idx/planner/executor.rs
  lib/src/idx/planner/iterators.rs
  lib/src/idx/trees/mtree.rs
  lib/src/idx/trees/vector.rs
  lib/tests/vector.rs
Labels: bug, feature

#2986 Bug fix: possible corruption of MTree and incomplete knn
  Cargo.lock
  lib/Cargo.toml
  lib/src/idx/trees/mtree.rs
  lib/src/idx/trees/vector.rs
Labels: bug

#3003 Env flag: `SURREAL_INSECURE_FORWARD_SCOPE_ERRORS`
  lib/src/cnf/mod.rs
  lib/src/iam/signin.rs
  lib/src/iam/signup.rs
Labels: topic:surrealql, topic:security, topic:api
