Repository surrealdb/surrealdb, pull requests merged in 2023-04, with the labels that each got.

#1813 Optimization/Bugfix - Make JSON parser 153 times faster on new benchmark/more secure
  lib/src/kvs/ds.rs
  lib/src/sql/array.rs
  lib/src/sql/object.rs
  lib/src/sql/parser.rs
  lib/src/sql/value/value.rs
  lib/tests/parse.rs
  src/net/key.rs
  src/net/rpc.rs
Labels: performance

#1824 Bugfix #22 - Ensure concurrent futures are limited.
  Cargo.lock
  lib/Cargo.toml
  lib/src/exe/mod.rs
  lib/src/exe/spawn.rs
  lib/src/exe/try_join_all_buffered.rs
  lib/src/sql/value/del.rs
  lib/src/sql/value/get.rs
  lib/src/sql/value/set.rs
  lib/tests/future.rs
Labels: performance

#1819 Refactor and reduce allocations in query executor.
  lib/src/dbs/executor.rs
  lib/src/sql/query.rs
  lib/src/sql/statement.rs
Labels: performance

#1837 Optimization - Store parsed regex::Regex in Value.
  lib/src/fnc/type.rs
  lib/src/sql/regex.rs
  lib/src/sql/value/serde/ser/value/mod.rs
  lib/src/sql/value/value.rs
Labels: performance

#1855 Fix #1848 - add array::slice function.
  lib/src/fnc/array.rs
  lib/src/fnc/mod.rs
  lib/src/sql/function.rs
Labels: feature

#1868 Refactor & Optimize - Number and Array
  lib/src/sql/array.rs
  lib/src/sql/number.rs
Labels: performance

#1854 Bugfix - make string::slice properly handle UTF-8 and reallocate less.
  lib/src/fnc/string.rs
Labels: bug, performance

#1865 Bugfix - Fix overflow in duration parser
  lib/src/sql/duration.rs
Labels: bug

#1867 Bugfix #1856 - ensure futures are evaluated in the course of Value::get.
  lib/src/sql/value/get.rs
Labels: bug

#1880 Optimization - Zero copy key deserialization.
  Cargo.lock
  lib/Cargo.toml
  lib/src/key/database.rs
  lib/src/key/db.rs
  lib/src/key/dl.rs
  lib/src/key/dt.rs
  lib/src/key/ev.rs
  lib/src/key/fc.rs
  lib/src/key/fd.rs
  lib/src/key/ft.rs
  lib/src/key/graph.rs
  lib/src/key/index.rs
  lib/src/key/ix.rs
  lib/src/key/lq.rs
  lib/src/key/lv.rs
  lib/src/key/namespace.rs
  lib/src/key/nl.rs
  lib/src/key/ns.rs
  lib/src/key/nt.rs
  lib/src/key/pa.rs
  lib/src/key/sc.rs
  lib/src/key/scope.rs
  lib/src/key/st.rs
  lib/src/key/table.rs
  lib/src/key/tb.rs
  lib/src/key/thing.rs
  lib/src/sql/statements/define.rs
  lib/src/sql/statements/remove.rs
  lib/src/sql/thing.rs
Labels: performance

#1890 Optimisation - only loop over document fields when processing PERMISSIONS clauses
  lib/src/dbs/options.rs
  lib/src/doc/allow.rs
  lib/src/doc/pluck.rs
Labels: performance

#1888 Bugfix #1702 - Unicode escape parser for Strand.
  lib/src/sql/strand.rs
Labels: bug
