Repository surrealdb/surrealdb, pull requests merged in 2023-07, with the labels that each got.

#2239 Add thing as scalar node for indexing
  lib/src/idx/planner/tree.rs
  lib/tests/select.rs
Labels: topic:indexing

#2234 Ensure index resources are properly deleted on index deletion
  lib/src/doc/index.rs
  lib/src/idx/planner/plan.rs
  lib/src/key/bc.rs
  lib/src/key/bd.rs
  lib/src/key/bf.rs
  lib/src/key/bi.rs
  lib/src/key/bk.rs
  lib/src/key/bl.rs
  lib/src/key/bo.rs
  lib/src/key/bp.rs
  lib/src/key/bt.rs
  lib/src/key/bu.rs
  lib/src/key/index.rs
  lib/src/lib.rs
  lib/src/sql/statements/define.rs
  lib/src/sql/statements/remove.rs
  lib/tests/remove.rs
Labels: topic:indexing

#2240 Improve index BTree insertion & search performance
  Cargo.lock
  lib/Cargo.toml
  lib/benches/index_btree.rs
  lib/src/doc/index.rs
  lib/src/idx/bkeys.rs
  lib/src/idx/btree/mod.rs
  lib/src/idx/btree/store.rs
  lib/src/idx/ft/docids.rs
  lib/src/idx/ft/doclength.rs
  lib/src/idx/ft/mod.rs
  lib/src/idx/ft/postings.rs
  lib/src/idx/ft/scorer.rs
  lib/src/idx/ft/terms.rs
  lib/src/idx/mod.rs
  lib/src/idx/planner/executor.rs
  lib/src/idx/planner/plan.rs
  lib/src/sql/statements/analyze.rs
Labels: topic:indexing

#2253 Bugfix #2175 - Allow escape characters in scripts
  lib/src/sql/script.rs
  lib/tests/script.rs
Labels: bug, topic:surrealql

#2137 Sur 191 self garbage collection 2
  lib/src/dbs/cl.rs
  lib/src/dbs/notification.rs
  lib/src/doc/lives.rs
  lib/src/err/mod.rs
  lib/src/key/cl.rs
  lib/src/key/debug.rs
  lib/src/key/hb.rs
  lib/src/key/lq.rs
  lib/src/key/lv.rs
  lib/src/key/mod.rs
  lib/src/kvs/ds.rs
  lib/src/kvs/tests/cluster_init.rs
  lib/src/kvs/tests/helper.rs
  lib/src/kvs/tests/lq.rs
  lib/src/kvs/tests/lv.rs
  lib/src/kvs/tests/mod.rs
  lib/src/kvs/tests/tb.rs
  lib/src/kvs/tx.rs
  lib/src/sql/constant.rs
  lib/src/sql/statements/live.rs
  src/dbs/mod.rs
Labels: topic:live

#1907 Feature: 1903 Basic Vector Functions
  lib/src/fnc/mod.rs
  lib/src/fnc/script/modules/surrealdb/functions/mod.rs
  lib/src/fnc/script/modules/surrealdb/functions/vector.rs
  lib/src/fnc/script/modules/surrealdb/functions/vector/distance.rs
  lib/src/fnc/script/modules/surrealdb/functions/vector/similarity.rs
  lib/src/fnc/util/math/dotproduct.rs
  lib/src/fnc/util/math/euclideandistance.rs
  lib/src/fnc/util/math/magnitude.rs
  lib/src/fnc/util/math/mod.rs
  lib/src/fnc/vector.rs
  lib/src/sql/function.rs
  lib/tests/function.rs
Labels: topic:indexing

#2250 Path processing improvements
  lib/src/sql/idiom.rs
  lib/src/sql/part.rs
  lib/src/sql/value/cut.rs
  lib/src/sql/value/del.rs
  lib/src/sql/value/get.rs
  lib/src/sql/value/pick.rs
  lib/src/sql/value/put.rs
  lib/src/sql/value/serde/ser/part/mod.rs
  lib/src/sql/value/set.rs
  lib/tests/select.rs
Labels: topic:surrealql

#2243 Make `what` parser to parse idioms as well
  lib/src/sql/value/value.rs
  lib/tests/delete.rs
Labels: topic:surrealql

#2266 Implements additional function for vectors
  lib/fuzz/fuzz_targets/fuzz_executor.dict
  lib/fuzz/fuzz_targets/fuzz_sql_parser.dict
  lib/src/fnc/mod.rs
  lib/src/fnc/script/modules/surrealdb/functions/vector.rs
  lib/src/fnc/util/math/deviation.rs
  lib/src/fnc/util/math/dotproduct.rs
  lib/src/fnc/util/math/euclideandistance.rs
  lib/src/fnc/util/math/magnitude.rs
  lib/src/fnc/util/math/mod.rs
  lib/src/fnc/util/math/variance.rs
  lib/src/fnc/util/math/vector.rs
  lib/src/fnc/vector.rs
  lib/src/sql/function.rs
  lib/src/sql/number.rs
  lib/tests/function.rs
Labels: feature

#2232 Live queries Response and Notifications Uuid serialization fixed
  lib/src/dbs/notification.rs
Labels: bug, topic:live

#2313 Unique index should ignore `none` or `null` values
  lib/src/doc/index.rs
  lib/src/sql/array.rs
  lib/tests/create.rs
Labels: bug

#2304 feat: WITH clause on SELECT statement
  lib/src/dbs/processor.rs
  lib/src/err/mod.rs
  lib/src/idx/planner/executor.rs
  lib/src/idx/planner/mod.rs
  lib/src/idx/planner/plan.rs
  lib/src/idx/planner/tree.rs
  lib/src/sql/mod.rs
  lib/src/sql/statements/select.rs
  lib/src/sql/value/serde/ser/mod.rs
  lib/src/sql/value/serde/ser/statement/select.rs
  lib/src/sql/value/serde/ser/with/mod.rs
  lib/src/sql/value/serde/ser/with/opt.rs
  lib/src/sql/with.rs
  lib/tests/planner.rs
Labels: feature

#2301 Fix Node LQ to reflect correct path
  lib/src/key/node/lq.rs
  lib/src/kvs/ds.rs
  lib/src/kvs/tests/lq.rs
  lib/src/kvs/tests/nq.rs
  lib/src/kvs/tx.rs
  lib/src/sql/statements/kill.rs
  lib/src/sql/statements/live.rs
Labels: topic:live

#2310 Run Github Actions on `ubuntu-latest`
  .github/workflows/bench.yml
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/nix.yml
  .github/workflows/release.yml
  flake.lock
  flake.nix
  pkg/nix/config.nix
  pkg/nix/spec/x86_64-unknown-linux-gnu.nix
Labels: nix

#2336 Don't skip running Nix on main
  .github/workflows/nix.yml
Labels: nix

#2349 Bugfix #2345 - allow keyword as ident prefix.
  lib/src/sql/ending.rs
  lib/src/sql/value/value.rs
Labels: bug, topic:surrealql
