Repository surrealdb/surrealdb, pull requests merged in 2023-09, with the labels that each got.

#2560 Add `diff` RPC method to WebSocket API
  src/rpc/processor.rs
  tests/ws_integration.rs
Labels: topic:api

#2565 Remove `RPC diff` and use third argument in `RPC patch` method
  src/rpc/args.rs
  src/rpc/processor.rs
Labels: topic:api

#2564 Add `PERMISSIONS` to `DEFINE PARAM` and `DEFINE FUNCTION` clauses
  lib/src/err/mod.rs
  lib/src/sql/function.rs
  lib/src/sql/param.rs
  lib/src/sql/permission.rs
  lib/src/sql/statements/define/field.rs
  lib/src/sql/statements/define/function.rs
  lib/src/sql/statements/define/param.rs
  lib/src/sql/value/serde/ser/statement/define/function.rs
  lib/src/sql/value/serde/ser/statement/define/param.rs
Labels: topic:surrealql

#2559 Ensure incorrect data causes error
  lib/src/api/method/content.rs
  lib/src/err/mod.rs
  lib/src/sql/value/merge.rs
  lib/src/sql/value/replace.rs
  lib/tests/update.rs
  src/rpc/processor.rs
Labels: topic:surrealql

#2614 Bugfix - Prevent niche parser recursion due to subqueries.
  lib/src/sql/subquery.rs
Labels: bug

#2613 Bugfix - `impl Try{Add, Sub, Mul, Div, Pow, Neg} for Number`.
  lib/src/sql/number.rs
  lib/src/sql/value/value.rs
Labels: bug, performance

#2616 Experimental Bugfix - consolidate execution depth limit.
  lib/src/sql/cast.rs
  lib/src/sql/function.rs
  lib/src/sql/future.rs
  lib/src/sql/subquery.rs
  lib/src/sql/value/value.rs
Labels: bug

#2615 Fix relative paths
  Cargo.lock
  lib/Cargo.toml
  lib/src/api/engine/any/mod.rs
  lib/src/api/engine/any/native.rs
  lib/src/api/engine/any/wasm.rs
  lib/src/api/engine/local/native.rs
  lib/src/api/engine/local/wasm.rs
  lib/src/api/engine/remote/http/native.rs
  lib/src/api/engine/remote/http/wasm.rs
  lib/src/api/engine/remote/ws/native.rs
  lib/src/api/engine/remote/ws/wasm.rs
  lib/src/api/method/tests/protocol.rs
  lib/src/api/opt/endpoint/fdb.rs
  lib/src/api/opt/endpoint/http.rs
  lib/src/api/opt/endpoint/indxdb.rs
  lib/src/api/opt/endpoint/mem.rs
  lib/src/api/opt/endpoint/mod.rs
  lib/src/api/opt/endpoint/rocksdb.rs
  lib/src/api/opt/endpoint/speedb.rs
  lib/src/api/opt/endpoint/tikv.rs
  lib/src/api/opt/endpoint/ws.rs
Labels: topic:rust, topic:api

#2624 Add `ONLY` keyword for single result outputs
  Makefile.local.toml
  lib/src/err/mod.rs
  lib/src/sql/statements/create.rs
  lib/src/sql/statements/delete.rs
  lib/src/sql/statements/insert.rs
  lib/src/sql/statements/relate.rs
  lib/src/sql/statements/select.rs
  lib/src/sql/statements/update.rs
  lib/src/sql/subquery.rs
  lib/src/sql/value/serde/ser/statement/create.rs
  lib/src/sql/value/serde/ser/statement/delete.rs
  lib/src/sql/value/serde/ser/statement/relate.rs
  lib/src/sql/value/serde/ser/statement/select.rs
  lib/src/sql/value/serde/ser/statement/update.rs
  lib/tests/create.rs
  lib/tests/return.rs
  lib/tests/script.rs
  lib/tests/select.rs
  lib/tests/subquery.rs
Labels: topic:surrealql

#2634 Bugfix #2633 - export `surrealdb::sql::With`
  lib/src/sql/mod.rs
Labels: bug

#2647 Feature: Add fallback reason to the explanation
  lib/src/dbs/explanation.rs
  lib/src/dbs/iterator.rs
  lib/src/doc/index.rs
  lib/src/err/mod.rs
  lib/src/fnc/string.rs
  lib/src/fnc/vector.rs
  lib/src/idx/planner/executor.rs
  lib/src/idx/planner/mod.rs
  lib/src/idx/planner/plan.rs
  lib/src/idx/planner/tree.rs
  lib/src/sql/statements/analyze.rs
  lib/tests/planner.rs
Labels: bug, feature

#2611 Cluster bootstrapping LQ GC now warns instead of panics
  lib/src/kvs/ds.rs
  lib/src/kvs/tests/cluster_init.rs
  lib/src/kvs/tests/helper.rs
  lib/src/kvs/tests/mod.rs
  lib/src/kvs/tests/multireader.rs
  lib/src/kvs/tests/multiwriter_different_keys.rs
  lib/src/kvs/tests/multiwriter_same_keys_allow.rs
  lib/src/kvs/tests/multiwriter_same_keys_conflict.rs
  lib/src/kvs/tests/nq.rs
  lib/src/kvs/tests/raw.rs
  lib/src/kvs/tests/snapshot.rs
  lib/src/kvs/tests/timestamp_to_versionstamp.rs
  lib/src/kvs/tx.rs
Labels: topic:live

#2652 Compute local variables before storing them
  lib/src/api/engine/local/mod.rs
Labels: topic:rust, topic:api

#2654 Ensure parameters are computed before being stored on WebSocket
  src/rpc/processor.rs
Labels: topic:surrealql, topic:net

#2662 Ensure `DEFAULT` clause is displayed on `DEFINE FIELD` statements
  lib/src/sql/statements/define/field.rs
Labels: topic:surrealql

#2663 Ensure scope `SIGNUP` and `SIGNIN` works with guest access disabled
  lib/src/iam/signin.rs
  lib/src/iam/signup.rs
  lib/src/kvs/ds.rs
Labels: topic:security, topic:net

#2661 Fix authentication issues with `LIVE SELECT` statements
  lib/src/doc/lives.rs
  lib/src/iam/signin.rs
  lib/src/iam/signup.rs
  lib/src/kvs/tests/cluster_init.rs
  lib/src/sql/statements/live.rs
  lib/src/sql/value/serde/ser/statement/live.rs
Labels: topic:security, topic:live

#2664 Support `FOR` statements inside code blocks
  lib/src/sql/block.rs
  lib/src/sql/statements/foreach.rs
  lib/tests/foreach.rs
Labels: topic:surrealql

#2665 Add `$before` and `$after` params to `RETURN` clauses
  lib/src/doc/lives.rs
  lib/src/doc/pluck.rs
  lib/tests/update.rs
Labels: topic:surrealql

#2672 Ensure invalid sessions do not cause live queries to fail
  lib/src/doc/lives.rs
Labels: topic:live

#2673 Add live queries to `INFO FOR TB` statement
  lib/src/sql/statements/info.rs
  lib/tests/define.rs
  lib/tests/info.rs
  lib/tests/remove.rs
  lib/tests/strict.rs
  lib/tests/table.rs
  src/rpc/processor.rs
Labels: topic:live

#2676 Ensure live queries are killed correctly
  lib/src/kvs/tx.rs
  src/rpc/connection.rs
  src/rpc/mod.rs
Labels: topic:live

#2674 Bugfix - avoid panics when displaying error snippets.
  lib/src/sql/error/mod.rs
  lib/src/sql/error/render.rs
Labels: bug

#2675 Bugfix - prevent infinite parser recursion in stmts & binary exprs.
  lib/src/sql/value/value.rs
Labels: bug, topic:surrealql, topic:security

#2703 Bugfix - parse error for invalid leading whitespace.
  lib/src/sql/error/render.rs
Labels: bug
