Repository surrealdb/surrealdb, pull requests merged in 2024-09, with the labels that each got.

#4659 Fix allowing `any` to be used for optional arguments
  core/src/sql/function.rs
  sdk/tests/function.rs
Labels: needs-documentation

#4661 Fix complex Record IDs from being output incorrectly within JavaScript functions
  core/src/fnc/script/classes/record.rs
  sdk/tests/script.rs
Labels: topic:scripting

#4660 Fix `cargo` dependency loading issue
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  sdk/Cargo.toml
  sdk/examples/actix/Cargo.toml
  sdk/examples/axum/Cargo.toml
  sdk/examples/rocket/Cargo.toml
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Labels: topic:rust

#4652 Overhaul the parser error type.
  core/src/kvs/version/fixes/v1_to_2_id_uuid.rs
  core/src/syn/error/location.rs
  core/src/syn/error/mac.rs
  core/src/syn/error/mod.rs
  core/src/syn/error/render.rs
  core/src/syn/lexer/byte.rs
  core/src/syn/lexer/char.rs
  core/src/syn/lexer/compound/js.rs
  core/src/syn/lexer/compound/mod.rs
  core/src/syn/lexer/ident.rs
  core/src/syn/lexer/js.rs
  core/src/syn/lexer/mod.rs
  core/src/syn/lexer/reader.rs
  core/src/syn/lexer/strand.rs
  core/src/syn/lexer/test.rs
  core/src/syn/mod.rs
  core/src/syn/parser/basic/datetime.rs
  core/src/syn/parser/basic/mod.rs
  core/src/syn/parser/basic/number.rs
  core/src/syn/parser/basic/uuid.rs
  core/src/syn/parser/builtin.rs
  core/src/syn/parser/error.rs
  core/src/syn/parser/expression.rs
  core/src/syn/parser/function.rs
  core/src/syn/parser/idiom.rs
  core/src/syn/parser/json.rs
  core/src/syn/parser/kind.rs
  core/src/syn/parser/mac.rs
  core/src/syn/parser/mod.rs
  core/src/syn/parser/object.rs
  core/src/syn/parser/prime.rs
  core/src/syn/parser/stmt/alter.rs
  core/src/syn/parser/stmt/define.rs
  core/src/syn/parser/stmt/if.rs
  core/src/syn/parser/stmt/mod.rs
  core/src/syn/parser/stmt/parts.rs
  core/src/syn/parser/stmt/relate.rs
  core/src/syn/parser/stmt/remove.rs
  core/src/syn/parser/stmt/select.rs
  core/src/syn/parser/test/streaming.rs
  core/src/syn/parser/thing.rs
  core/src/syn/parser/token.rs
  core/src/syn/parser/token_buffer.rs
  core/src/syn/token/mod.rs
  sdk/examples/fetch/main.rs
Labels: topic:parser

#4642 Add function returns to info structure
  core/src/sql/statements/define/function.rs
  sdk/tests/info.rs
Labels: topic:surrealql

#4669 Add ability to configure JavaScript runtime limits
  core/src/cnf/mod.rs
  core/src/fnc/script/main.rs
Labels: topic:scripting, needs-documentation

#4390 Added TryFloatDiv trait for MathMean in Aggregate function
  core/src/dbs/group.rs
  core/src/doc/table.rs
  core/src/sql/number.rs
  core/src/sql/value/value.rs
  sdk/tests/function.rs
  sdk/tests/table.rs
Labels: topic:surrealql

#4741 Add additional chained methods to number values
  core/src/fnc/mod.rs
Labels: needs-documentation

#4285 Select count table scan optimisation
  core/src/dbs/iterator.rs
  core/src/dbs/plan.rs
  core/src/dbs/processor.rs
  core/src/idx/planner/mod.rs
  core/src/idx/planner/plan.rs
  core/src/kvs/scanner.rs
  core/src/kvs/tx.rs
  core/src/sql/field.rs
  core/src/sql/function.rs
  core/src/sql/statements/select.rs
  sdk/tests/group.rs
Labels: topic:performance

#4780 Improve node membership processing and garbage collection
  core/src/cf/gc.rs
  core/src/cf/writer.rs
  core/src/dbs/lifecycle.rs
  core/src/dbs/mod.rs
  core/src/kvs/cf.rs
  core/src/kvs/ds.rs
  core/src/kvs/mod.rs
  core/src/kvs/node.rs
  core/src/kvs/tests/timestamp_to_versionstamp.rs
  core/src/options.rs
  sdk/Cargo.toml
  sdk/src/api/engine/local/mod.rs
  sdk/src/api/engine/local/native.rs
  sdk/src/api/engine/local/wasm.rs
  sdk/src/api/engine/tasks.rs
  sdk/src/api/opt/config.rs
  sdk/tests/api.rs
  sdk/tests/changefeeds.rs
  src/cli/config.rs
  src/cli/start.rs
  src/telemetry/mod.rs
  tests/cli_integration.rs
  tests/common/server.rs
Labels: needs-documentation

#4869 Add additional ULID and UUID utilities
  core/src/fnc/args.rs
  core/src/fnc/mod.rs
  core/src/fnc/script/modules/surrealdb/functions/string/is.rs
  core/src/fnc/script/modules/surrealdb/functions/time/from.rs
  core/src/fnc/string.rs
  core/src/fnc/time.rs
  core/src/syn/parser/builtin.rs
  sdk/fuzz/fuzz_targets/fuzz_executor.dict
  sdk/fuzz/fuzz_targets/fuzz_sql_parser.dict
  sdk/tests/function.rs
Labels: needs-documentation
