Repository surrealdb/surrealdb, pull requests merged in 2024-05, with the labels that each got.

#3353 Feature: Initial Hnsw implementation
  Cargo.lock
  cackle.toml
  core/Cargo.toml
  core/src/doc/index.rs
  core/src/idx/planner/executor.rs
  core/src/idx/planner/iterators.rs
  core/src/idx/planner/plan.rs
  core/src/idx/planner/tree.rs
  core/src/idx/trees/btree.rs
  core/src/idx/trees/dynamicset.rs
  core/src/idx/trees/graph.rs
  core/src/idx/trees/hnsw/heuristic.rs
  core/src/idx/trees/hnsw/layer.rs
  core/src/idx/trees/hnsw/mod.rs
  core/src/idx/trees/knn.rs
  core/src/idx/trees/mod.rs
  core/src/idx/trees/mtree.rs
  core/src/idx/trees/store/cache.rs
  core/src/idx/trees/store/hnsw.rs
  core/src/idx/trees/store/lru.rs
  core/src/idx/trees/store/mod.rs
  core/src/idx/trees/store/tree.rs
  core/src/idx/trees/vector.rs
  core/src/kvs/tx.rs
  core/src/sql/expression.rs
  core/src/sql/index.rs
  core/src/sql/number.rs
  core/src/sql/operator.rs
  core/src/syn/lexer/keywords.rs
  core/src/syn/parser/basic.rs
  core/src/syn/parser/expression.rs
  core/src/syn/parser/stmt/define.rs
  core/src/syn/parser/stmt/parts.rs
  core/src/syn/token/keyword.rs
  core/src/syn/token/mac.rs
  lib/Cargo.toml
  lib/benches/hashset_vs_vector.rs
  lib/benches/index_hnsw.rs
  lib/benches/index_mtree.rs
  lib/benches/move_vs_clone.rs
  lib/tests/remove.rs
  lib/tests/vector.rs
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
  tests/data/hnsw-random-5000-20-euclidean.gz
  tests/data/hnsw-random-9000-20-euclidean.gz
Labels: feature, topic:indexing, awaiting backport

#3999 Gh 3906 reduce polling rate
  core/src/kvs/tests/timestamp_to_versionstamp.rs
  core/src/options.rs
  tests/cli_integration.rs
Labels: awaiting backport

#4012 Fixes 3990
  core/src/idx/planner/executor.rs
  core/src/idx/planner/plan.rs
  core/src/idx/planner/tree.rs
  lib/tests/planner.rs
Labels: awaiting backport

#4017 Fixes math:min in foreign table
  core/src/dbs/group.rs
  core/src/fnc/operate.rs
  lib/tests/group.rs
  lib/tests/table.rs
Labels: awaiting backport

#4054 Bind to loopback address by default
  CONTRIBUTING.md
  src/cli/start.rs
Labels: topic:security

#4059 Require authentication by default
  Makefile.toml
  docker/DOCKER.md
  src/dbs/mod.rs
  tests/common/docker.rs
  tests/common/server.rs
Labels: topic:security

#4079 Make temporary table active only if the temporary directory is set
  core/src/ctx/context.rs
  core/src/dbs/result.rs
  core/src/kvs/ds.rs
  lib/src/api/engine/local/native.rs
  src/dbs/mod.rs
Labels: awaiting backport

#4084 [Feat] Add TEMPFILES clause to the SELECT statement
  core/Cargo.toml
  core/src/cnf/mod.rs
  core/src/ctx/context.rs
  core/src/dbs/iterator.rs
  core/src/dbs/result.rs
  core/src/dbs/statement.rs
  core/src/dbs/store.rs
  core/src/err/mod.rs
  core/src/kvs/ds.rs
  core/src/sql/statements/select.rs
  core/src/sql/value/serde/ser/statement/select.rs
  core/src/syn/lexer/keywords.rs
  core/src/syn/parser/stmt/select.rs
  core/src/syn/parser/test/stmt.rs
  core/src/syn/parser/test/streaming.rs
  core/src/syn/token/keyword.rs
  lib/src/api/engine/local/native.rs
  lib/src/api/opt/config.rs
  src/cli/validator/mod.rs
  src/dbs/mod.rs
  tests/common/server.rs
  tests/common/tests.rs
Labels: feature, topic:surrealql, topic:cli

#4036 [Feat] KNN filtering with limit and KNN distance function
  core/src/dbs/iterator.rs
  core/src/dbs/processor.rs
  core/src/doc/check.rs
  core/src/doc/compute.rs
  core/src/doc/document.rs
  core/src/doc/process.rs
  core/src/fnc/mod.rs
  core/src/fnc/operate.rs
  core/src/fnc/script/modules/surrealdb/functions/mod.rs
  core/src/fnc/script/modules/surrealdb/functions/vector/distance.rs
  core/src/fnc/search.rs
  core/src/fnc/vector.rs
  core/src/idx/docids.rs
  core/src/idx/ft/analyzer/mod.rs
  core/src/idx/ft/mod.rs
  core/src/idx/ft/scorer.rs
  core/src/idx/mod.rs
  core/src/idx/planner/checker.rs
  core/src/idx/planner/executor.rs
  core/src/idx/planner/iterators.rs
  core/src/idx/planner/knn.rs
  core/src/idx/planner/mod.rs
  core/src/idx/planner/plan.rs
  core/src/idx/planner/rewriter.rs
  core/src/idx/planner/tree.rs
  core/src/idx/trees/hnsw/docs.rs
  core/src/idx/trees/hnsw/elements.rs
  core/src/idx/trees/hnsw/flavor.rs
  core/src/idx/trees/hnsw/index.rs
  core/src/idx/trees/hnsw/layer.rs
  core/src/idx/trees/hnsw/mod.rs
  core/src/idx/trees/knn.rs
  core/src/idx/trees/mod.rs
  core/src/idx/trees/mtree.rs
  core/src/idx/trees/store/hnsw.rs
  core/src/idx/trees/store/lru.rs
  core/src/idx/trees/store/mod.rs
  core/src/idx/trees/vector.rs
  core/src/kvs/lq_v2_doc.rs
  core/src/sql/index.rs
  core/src/sql/operator.rs
  core/src/sql/value/serde/ser/index/mtreeparams.rs
  core/src/syn/parser/builtin.rs
  core/src/syn/parser/stmt/define.rs
  lib/benches/index_hnsw.rs
  lib/benches/index_mtree.rs
  lib/tests/vector.rs
Labels: topic:surrealql, topic:indexing

#4091 [Bug fix] Index creation schemafull checks
  core/src/sql/statements/define/index.rs
  lib/tests/define.rs
  lib/tests/helpers.rs
Labels: topic:indexing, topic:schema
