Repository surrealdb/surrealdb, pull requests merged in 2024-06, with the labels that each got.

#4132 [Feat] Implements a few math functions
  core/src/fnc/math.rs
  core/src/fnc/mod.rs
  core/src/fnc/script/modules/surrealdb/functions/math.rs
  core/src/sql/constant.rs
  core/src/sql/number.rs
  core/src/sql/value/serde/ser/constant/mod.rs
  core/src/sql/value/value.rs
  core/src/syn/parser/builtin.rs
  core/src/syn/parser/test/value.rs
  lib/tests/define.rs
  lib/tests/function.rs
  lib/tests/group.rs
  lib/tests/helpers.rs
  lib/tests/matches.rs
  lib/tests/planner.rs
  lib/tests/table.rs
  lib/tests/vector.rs
Labels: topic:surrealql

#4142 [Bug fix] Redefining HNSW index error
  core/src/idx/trees/hnsw/heuristic.rs
  core/src/idx/trees/hnsw/layer.rs
  core/src/idx/trees/hnsw/mod.rs
  core/src/sql/statements/define/index.rs
  lib/tests/define.rs
Labels: bug, topic:indexing

#4185 [Backport] Bug fix Redefining HNSW index
  core/src/sql/statements/define/index.rs
  lib/tests/define.rs
Labels: topic:indexing

#4186 [Backport] brute force is not working anymore when an index exists
  core/src/dbs/processor.rs
  core/src/idx/planner/executor.rs
  core/src/idx/planner/knn.rs
  core/src/idx/planner/mod.rs
  core/src/idx/planner/tree.rs
  lib/tests/vector.rs
Labels: topic:indexing

#4195 Fix cancelling task leading to an error
  lib/src/api/engine/tasks.rs
Labels: awaiting backport
