Repository surrealdb/surrealdb, pull requests merged in 2024-04, with the labels that each got.

#3615 Handle multiple file patterns in validate command
  src/cli/validate.rs
Labels: needs-documentation

#3826 Bug when using array::group in a group by query
  core/src/dbs/group.rs
  lib/tests/group.rs
  lib/tests/helpers.rs
  lib/tests/planner.rs
Labels: bug, awaiting backport

#3821 Bugfix: Fix problems with `if` in identifiers after remove and define statements
  core/src/syn/v1/stmt/define/analyzer.rs
  core/src/syn/v1/stmt/define/database.rs
  core/src/syn/v1/stmt/define/event.rs
  core/src/syn/v1/stmt/define/field.rs
  core/src/syn/v1/stmt/define/function.rs
  core/src/syn/v1/stmt/define/index.rs
  core/src/syn/v1/stmt/define/namespace.rs
  core/src/syn/v1/stmt/define/param.rs
  core/src/syn/v1/stmt/define/scope.rs
  core/src/syn/v1/stmt/define/table.rs
  core/src/syn/v1/stmt/define/token.rs
  core/src/syn/v1/stmt/define/user.rs
  core/src/syn/v1/stmt/remove.rs
Labels: awaiting backport

#3933 Feat: Introduce Rebuild command
  core/src/kvs/lq_v2_fut.rs
  core/src/sql/block.rs
  core/src/sql/statement.rs
  core/src/sql/statements/foreach.rs
  core/src/sql/statements/mod.rs
  core/src/sql/statements/rebuild.rs
  core/src/sql/subquery.rs
  core/src/sql/value/serde/ser/statement/mod.rs
  core/src/sql/value/serde/ser/statement/rebuild/index.rs
  core/src/sql/value/serde/ser/statement/rebuild/mod.rs
  core/src/syn/lexer/keywords.rs
  core/src/syn/parser/prime.rs
  core/src/syn/parser/stmt/mod.rs
  core/src/syn/parser/stmt/relate.rs
  core/src/syn/token/keyword.rs
  lib/tests/rebuild.rs
Labels: topic:surrealql, topic:indexing

#3932 Refactor core/idx/ft
  core/src/idx/ft/analyzer/filter.rs
  core/src/idx/ft/analyzer/tokenizer.rs
  core/src/idx/ft/highlighter.rs
  core/src/idx/ft/offsets.rs
Labels: topic:performance, topic:indexing
