Repository surrealdb/surrealdb, pull requests merged in 2024-02, with the labels that each got.

#3506 Improve `Surreal<Any>` documentation
  Makefile.local.toml
  lib/src/api/engine/any/mod.rs
  lib/src/api/engine/local/mod.rs
Labels: awaiting backport

#3515 Refactor lives for change feed lq v2
  core/src/doc/lives.rs
Labels: topic:live

#3516 Refactor LQ structs so they are available under a specific mod
  core/src/kvs/ds.rs
  core/src/kvs/lq_structs.rs
  core/src/kvs/mod.rs
  core/src/kvs/tests/cluster_init.rs
  core/src/kvs/tests/ndlq.rs
  core/src/kvs/tx.rs
Labels: topic:live

#3523 Adjust live statement to avoid storage on live query
  core/src/kvs/ds.rs
  core/src/kvs/lq_structs.rs
  core/src/kvs/tx.rs
  core/src/sql/v2/statements/live.rs
  lib/tests/live.rs
Labels: topic:live

#3480 Add notifications for LQ v2 on CF
  core/src/dbs/executor.rs
  core/src/kvs/ds.rs
  core/src/kvs/lq_structs.rs
  core/src/kvs/tests/mod.rs
  core/src/kvs/tests/tx_test.rs
  core/src/kvs/tx.rs
  core/src/lib.rs
  core/src/sql/v2/changefeed.rs
  lib/src/api/engine/local/native.rs
  lib/src/api/engine/local/wasm.rs
  lib/tests/changefeeds.rs
  lib/tests/helpers.rs
  lib/tests/live.rs
  src/cli/start.rs
  src/node/mod.rs
Labels: topic:live

#3581 Add `Surreal::wait_for`
  lib/src/api/engine/any/mod.rs
  lib/src/api/engine/any/native.rs
  lib/src/api/engine/any/wasm.rs
  lib/src/api/engine/local/mod.rs
  lib/src/api/engine/local/native.rs
  lib/src/api/engine/local/wasm.rs
  lib/src/api/engine/remote/http/mod.rs
  lib/src/api/engine/remote/http/native.rs
  lib/src/api/engine/remote/http/wasm.rs
  lib/src/api/engine/remote/ws/mod.rs
  lib/src/api/engine/remote/ws/native.rs
  lib/src/api/engine/remote/ws/wasm.rs
  lib/src/api/method/live.rs
  lib/src/api/method/mod.rs
  lib/src/api/method/query.rs
  lib/src/api/method/tests/protocol.rs
  lib/src/api/method/use_db.rs
  lib/src/api/mod.rs
  lib/src/api/opt/mod.rs
  lib/tests/api.rs
Labels: topic:rust, needs-documentation
