Repository surrealdb/surrealdb, pull requests merged in 2024-12, with the labels that each got.

#5202 Also accept datetimes for `rand::time`
  crates/core/src/fnc/rand.rs
  crates/core/src/sql/datetime.rs
  crates/core/src/sql/version.rs
Labels: needs-documentation

#5263 Drop id selection behaviour
  crates/core/src/sql/ident.rs
  crates/core/src/sql/value/get.rs
Labels: breaking-change

#5267 Grapth Path, collect and shortest
  crates/core/src/err/mod.rs
  crates/core/src/idx/planner/rewriter.rs
  crates/core/src/sql/part.rs
  crates/core/src/sql/value/get.rs
  crates/core/src/sql/value/idiom_recursion.rs
  crates/core/src/syn/parser/idiom.rs
  crates/core/src/syn/parser/mac.rs
  crates/sdk/tests/idiom.rs
Labels: needs-documentation

#5230 Implement refresh tokens for record users
  crates/core/src/iam/access.rs
  crates/core/src/iam/mod.rs
  crates/core/src/iam/signin.rs
  crates/core/src/iam/signup.rs
  crates/core/src/iam/verify.rs
  crates/core/src/rpc/rpc_context.rs
  crates/core/src/sql/access.rs
  crates/core/src/sql/access_type.rs
  crates/core/src/sql/statements/access.rs
  crates/core/src/sql/statements/define/deprecated/scope.rs
  crates/core/src/sql/statements/mod.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/stmt/mod.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
  crates/core/src/syn/token/keyword.rs
  crates/sdk/src/api/engine/local/mod.rs
  crates/sdk/src/api/method/tests/types.rs
  crates/sdk/tests/access.rs
  crates/sdk/tests/info.rs
  src/net/signin.rs
  src/net/signup.rs
Labels: topic:security, needs-documentation, release-notes, beta

#5305 Update `flake.lock`
  flake.lock
Labels: nix
