Repository surrealdb/surrealdb, pull requests merged in 2024-03, with the labels that each got.

#3561 Implement session expiration
  core/src/dbs/session.rs
  core/src/err/mod.rs
  core/src/iam/signin.rs
  core/src/iam/verify.rs
  core/src/kvs/ds.rs
  core/src/sql/v1/value/value.rs
  core/src/sql/v2/value/value.rs
  tests/common/tests.rs
Labels: topic:security, needs-documentation

#3617 Change KNN operator syntax.
  core/src/sql/v2/operator.rs
  core/src/syn/v1/operator.rs
  core/src/syn/v2/lexer/byte.rs
  core/src/syn/v2/lexer/keywords.rs
  core/src/syn/v2/parser/expression.rs
  core/src/syn/v2/token/keyword.rs
  core/src/syn/v2/token/mac.rs
  core/src/syn/v2/token/mod.rs
  lib/tests/vector.rs
Labels: needs-documentation

#3377 Implement `IF EXISTS` for additional `REMOVE`-statements
  core/src/err/mod.rs
  core/src/kvs/tx.rs
  core/src/sql/v1/statements/remove/param.rs
  core/src/sql/v2/statements/remove/analyzer.rs
  core/src/sql/v2/statements/remove/database.rs
  core/src/sql/v2/statements/remove/event.rs
  core/src/sql/v2/statements/remove/field.rs
  core/src/sql/v2/statements/remove/function.rs
  core/src/sql/v2/statements/remove/index.rs
  core/src/sql/v2/statements/remove/model.rs
  core/src/sql/v2/statements/remove/namespace.rs
  core/src/sql/v2/statements/remove/param.rs
  core/src/sql/v2/statements/remove/scope.rs
  core/src/sql/v2/statements/remove/table.rs
  core/src/sql/v2/statements/remove/token.rs
  core/src/sql/v2/statements/remove/user.rs
  core/src/sql/v2/value/serde/ser/statement/remove/analyzer.rs
  core/src/sql/v2/value/serde/ser/statement/remove/database.rs
  core/src/sql/v2/value/serde/ser/statement/remove/event.rs
  core/src/sql/v2/value/serde/ser/statement/remove/field.rs
  core/src/sql/v2/value/serde/ser/statement/remove/function.rs
  core/src/sql/v2/value/serde/ser/statement/remove/index.rs
  core/src/sql/v2/value/serde/ser/statement/remove/namespace.rs
  core/src/sql/v2/value/serde/ser/statement/remove/param.rs
  core/src/sql/v2/value/serde/ser/statement/remove/scope.rs
  core/src/sql/v2/value/serde/ser/statement/remove/token.rs
  core/src/sql/v2/value/serde/ser/statement/remove/user.rs
  core/src/syn/v1/stmt/remove.rs
  core/src/syn/v2/parser/stmt/remove.rs
  core/src/syn/v2/parser/test/stmt.rs
  core/src/syn/v2/parser/test/streaming.rs
  lib/tests/remove.rs
Labels: topic:surrealql, needs-documentation

#3614 Bug fix: Restore cosine distance on MTree indexes
  core/src/fnc/util/math/mod.rs
  core/src/idx/trees/mtree.rs
  core/src/idx/trees/vector.rs
  lib/tests/vector.rs
Labels: bug, topic:indexing

#3638 Update Nix dependencies
  flake.lock
  flake.nix
Labels: nix

#3584 Implement `IF NOT EXISTS`-clause on `DEFINE`-statements
  core/src/err/mod.rs
  core/src/kvs/tests/tb.rs
  core/src/kvs/tx.rs
  core/src/sql/v1/statements/define/database.rs
  core/src/sql/v2/statements/define/analyzer.rs
  core/src/sql/v2/statements/define/database.rs
  core/src/sql/v2/statements/define/event.rs
  core/src/sql/v2/statements/define/field.rs
  core/src/sql/v2/statements/define/function.rs
  core/src/sql/v2/statements/define/index.rs
  core/src/sql/v2/statements/define/mod.rs
  core/src/sql/v2/statements/define/model.rs
  core/src/sql/v2/statements/define/namespace.rs
  core/src/sql/v2/statements/define/param.rs
  core/src/sql/v2/statements/define/scope.rs
  core/src/sql/v2/statements/define/table.rs
  core/src/sql/v2/statements/define/token.rs
  core/src/sql/v2/statements/define/user.rs
  core/src/sql/v2/value/serde/ser/statement/define/analyzer.rs
  core/src/sql/v2/value/serde/ser/statement/define/database.rs
  core/src/sql/v2/value/serde/ser/statement/define/event.rs
  core/src/sql/v2/value/serde/ser/statement/define/field.rs
  core/src/sql/v2/value/serde/ser/statement/define/function.rs
  core/src/sql/v2/value/serde/ser/statement/define/index.rs
  core/src/sql/v2/value/serde/ser/statement/define/namespace.rs
  core/src/sql/v2/value/serde/ser/statement/define/param.rs
  core/src/sql/v2/value/serde/ser/statement/define/scope.rs
  core/src/sql/v2/value/serde/ser/statement/define/table.rs
  core/src/sql/v2/value/serde/ser/statement/define/token.rs
  core/src/sql/v2/value/serde/ser/statement/define/user.rs
  core/src/syn/v1/stmt/define/analyzer.rs
  core/src/syn/v1/stmt/define/database.rs
  core/src/syn/v1/stmt/define/event.rs
  core/src/syn/v1/stmt/define/field.rs
  core/src/syn/v1/stmt/define/function.rs
  core/src/syn/v1/stmt/define/index.rs
  core/src/syn/v1/stmt/define/namespace.rs
  core/src/syn/v1/stmt/define/param.rs
  core/src/syn/v1/stmt/define/scope.rs
  core/src/syn/v1/stmt/define/table.rs
  core/src/syn/v1/stmt/define/token.rs
  core/src/syn/v1/stmt/define/user.rs
  core/src/syn/v2/parser/stmt/define.rs
  core/src/syn/v2/parser/test/stmt.rs
  core/src/syn/v2/parser/test/streaming.rs
  lib/tests/define.rs
Labels: topic:surrealql, needs-documentation

#3649 Move JWKS cache storage to memory
  core/src/iam/jwks.rs
  core/src/kvs/ds.rs
  core/src/lib.rs
Labels: topic:security

#3651 Add JWT ID claim to tokens issued by SurrealDB
  core/src/iam/signin.rs
  core/src/iam/signup.rs
  core/src/iam/token.rs
Labels: topic:security

#3702 Fix `sprint_key` import
  core/src/kvs/tx.rs
Labels: nix

#3708 Update Github Actions
  .github/workflows/bench.yml
  .github/workflows/ci.yml
  .github/workflows/nix.yml
  .github/workflows/reusable_docker.yml
  .github/workflows/reusable_publish_version.yml
Labels: nix

#3719 search::highlight option to highlight only the searched characters (edgengram, ngram)
  core/src/fnc/args.rs
  core/src/fnc/search.rs
  core/src/idx/ft/analyzer/mod.rs
  core/src/idx/ft/analyzer/tokenizer.rs
  core/src/idx/ft/highlighter.rs
  core/src/idx/ft/mod.rs
  core/src/idx/ft/offsets.rs
  core/src/idx/planner/executor.rs
  lib/tests/matches.rs
  tests/database_upgrade.rs
Labels: needs-documentation

#3724 Fix Nix flake builds
  pkg/nix/drv/binary.nix
Labels: nix

#3725 bug fix: partial highlight with ngram and other cleanups
  core/src/idx/ft/analyzer/filter.rs
  core/src/idx/ft/analyzer/mod.rs
  core/src/idx/ft/analyzer/tokenizer.rs
  lib/tests/matches.rs
Labels: topic:indexing

#3745 Bug fix: empty array on index
  core/src/doc/index.rs
  lib/tests/define.rs
Labels: bug, topic:indexing

#3782 Update Nix dependencies
  flake.lock
  flake.nix
Labels: nix
