Repository surrealdb/surrealdb, pull requests merged in 2024-01, with the labels that each got.

#3258 Bugfix: Fix duration addition in timeout causing overflow
  Cargo.lock
  lib/Cargo.toml
  lib/src/ctx/context.rs
  lib/src/dbs/executor.rs
  lib/src/err/mod.rs
  lib/src/kvs/ds.rs
Labels: beta backported

#3279 Use Rust 1.74.1 to build binaries
  .github/workflows/reusable_publish_version.yml
  docker/Dockerfile.binary
Labels: awaiting beta backport

#3280 Fix leaking module and re-add lost documentation
  lib/src/sql/mod.rs
  lib/src/syn/v1/mod.rs
Labels: awaiting beta backport

#3043 Feat: knn brute force
  lib/src/ctx/canceller.rs
  lib/src/ctx/context.rs
  lib/src/dbs/distinct.rs
  lib/src/dbs/iterator.rs
  lib/src/dbs/processor.rs
  lib/src/err/mod.rs
  lib/src/fnc/operate.rs
  lib/src/fnc/vector.rs
  lib/src/idx/planner/executor.rs
  lib/src/idx/planner/knn.rs
  lib/src/idx/planner/mod.rs
  lib/src/idx/planner/tree.rs
  lib/src/idx/trees/mtree.rs
  lib/src/sql/expression.rs
  lib/src/sql/index.rs
  lib/src/sql/operator.rs
  lib/src/sql/value/value.rs
  lib/src/syn/v1/operator.rs
  lib/tests/complex.rs
  lib/tests/field.rs
  lib/tests/helpers.rs
  lib/tests/matches.rs
  lib/tests/vector.rs
Labels: feature

#3328 Fix: Missing custom claims from token parameter
  lib/src/iam/token.rs
  lib/src/iam/verify.rs
Labels: awaiting beta backport

#3314 Fix WebSocket notification sending format
  lib/src/dbs/notification.rs
  src/net/mod.rs
  src/rpc/connection.rs
  src/rpc/mod.rs
Labels: bug, awaiting beta backport

#3332 Bump rquickjs version
  Cargo.lock
  lib/Cargo.toml
Labels: topic:security
