Repository surrealdb/surrealdb, pull requests merged in 2024-11, with the labels that each got.

#4916 Improvements to experimental bearer access
  core/src/err/mod.rs
  core/src/iam/signin.rs
  core/src/sql/access_type.rs
  core/src/sql/statement.rs
  core/src/sql/statements/access.rs
  core/src/syn/lexer/keywords.rs
  core/src/syn/parser/stmt/define.rs
  core/src/syn/parser/stmt/mod.rs
  core/src/syn/parser/test/stmt.rs
  core/src/syn/token/keyword.rs
  sdk/tests/access.rs
Labels: topic:security, beta

#5041 chore: update skv to 0.5.0
  Cargo.lock
  core/Cargo.toml
Labels: needs-documentation, beta

#5112 Add logging for RocksDB config options
  core/src/kvs/rocksdb/cnf.rs
  core/src/kvs/rocksdb/mod.rs
Labels: needs-documentation

#5131 Allow customising record exporting
  core/src/kvs/export.rs
Labels: needs-documentation

#5086 Recursive idiom/graph processing
  Makefile
  Makefile.local.toml
  core/src/cnf/mod.rs
  core/src/err/mod.rs
  core/src/idx/planner/rewriter.rs
  core/src/sql/part.rs
  core/src/sql/value/get.rs
  core/src/sql/value/idiom_recursion.rs
  core/src/sql/value/mod.rs
  core/src/syn/parser/idiom.rs
  core/src/syn/parser/prime.rs
  sdk/tests/idiom.rs
Labels: needs-documentation

#5125 SDK export config
  core/src/kvs/export.rs
  sdk/src/api/conn/cmd.rs
  sdk/src/api/engine/local/mod.rs
  sdk/src/api/engine/remote/http/mod.rs
  sdk/src/api/method/export.rs
  sdk/src/api/method/mod.rs
  sdk/tests/api/backup.rs
Labels: needs-documentation

#5135 Object improvements
  core/src/sql/value/cut.rs
  core/src/sql/value/each.rs
  core/src/sql/value/fetch.rs
  core/src/sql/value/get.rs
  core/src/sql/value/pick.rs
  core/src/sql/value/put.rs
  core/src/sql/value/set.rs
  core/src/sql/value/value.rs
  core/src/sql/value/walk.rs
  sdk/tests/expression.rs
  sdk/tests/idiom.rs
Labels: needs-documentation

#5045 Add cross-transaction caching to the document processing layer
  core/src/cnf/mod.rs
  core/src/ctx/context.rs
  core/src/doc/document.rs
  core/src/doc/mod.rs
  core/src/kvs/api.rs
  core/src/kvs/cache/ds/entry.rs
  core/src/kvs/cache/ds/key.rs
  core/src/kvs/cache/ds/lookup.rs
  core/src/kvs/cache/ds/mod.rs
  core/src/kvs/cache/ds/weight.rs
  core/src/kvs/cache/mod.rs
  core/src/kvs/cache/tx/entry.rs
  core/src/kvs/cache/tx/key.rs
  core/src/kvs/cache/tx/lookup.rs
  core/src/kvs/cache/tx/mod.rs
  core/src/kvs/cache/tx/weight.rs
  core/src/kvs/ds.rs
  core/src/kvs/mod.rs
  core/src/kvs/tr.rs
  core/src/kvs/tx.rs
  core/src/sql/statements/define/event.rs
  core/src/sql/statements/define/field.rs
  core/src/sql/statements/define/index.rs
  core/src/sql/statements/define/table.rs
  core/src/sql/statements/kill.rs
  core/src/sql/statements/live.rs
  core/src/sql/statements/remove/event.rs
  core/src/sql/statements/remove/field.rs
  core/src/sql/statements/remove/index.rs
  core/src/sql/statements/remove/table.rs
  core/src/sql/version.rs
  core/src/syn/parser/test/stmt.rs
  core/src/syn/parser/test/streaming.rs
  sdk/tests/define.rs
  sdk/tests/table.rs
Labels: needs-documentation

#5155 Add support for data expunge
  core/src/kvs/api.rs
  core/src/kvs/surrealkv/mod.rs
  core/src/kvs/tr.rs
  core/src/kvs/tx.rs
  core/src/sql/statements/remove/database.rs
  core/src/sql/statements/remove/namespace.rs
  core/src/sql/statements/remove/table.rs
Labels: needs-documentation

#5190 Document running in Docker as a non-root user
  docker/DOCKER.md
Labels: needs-documentation

#5205 Add default limit for max open files with `rocksdb` storage engine
  Makefile.toml
  crates/core/src/dbs/statement.rs
  crates/core/src/fflags.rs
  crates/core/src/fnc/script/from.rs
  crates/core/src/idx/ft/analyzer/filter.rs
  crates/core/src/kvs/cache/ds/lookup.rs
  crates/core/src/kvs/cache/tx/lookup.rs
  crates/core/src/kvs/clock.rs
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/scanner.rs
  crates/core/src/sql/bytes.rs
  crates/core/src/sql/duration.rs
  crates/core/src/sql/number.rs
  crates/core/src/sql/regex.rs
  crates/core/src/sql/strand.rs
  crates/core/src/sql/value/value.rs
  crates/core/src/syn/lexer/byte.rs
  crates/core/src/syn/lexer/char.rs
  crates/core/src/syn/lexer/compound/mod.rs
  crates/core/src/syn/lexer/ident.rs
  crates/core/src/syn/lexer/reader.rs
  crates/sdk/src/api/method/export.rs
  crates/sdk/src/api/method/import.rs
  crates/sdk/src/api/method/query.rs
  crates/sdk/src/api/method/run.rs
  crates/sdk/src/api/method/select.rs
  crates/sdk/src/api/value/obj.rs
  tests/http_integration.rs
Labels: needs-documentation

#5203 Add `type::is::range()` method and idiom `.is_range()` method
  crates/core/src/fnc/mod.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/type/is.rs
  crates/core/src/fnc/type.rs
  crates/core/src/syn/parser/builtin.rs
  crates/fuzz/fuzz_targets/fuzz_executor.dict
  crates/fuzz/fuzz_targets/fuzz_sql_parser.dict
  crates/sdk/tests/function.rs
Labels: needs-documentation

#5206 Improve RPC implementation
  crates/core/src/rpc/basic_context.rs
  crates/core/src/rpc/method.rs
  crates/core/src/rpc/mod.rs
  crates/core/src/rpc/rpc_context.rs
  src/net/rpc.rs
  src/net/sql.rs
  src/net/tracer.rs
  src/rpc/connection.rs
  src/rpc/mod.rs
  src/rpc/post_context.rs
Labels: needs-documentation
