Repository surrealdb/surrealdb, pull requests merged in 2024-08, with the labels that each got.

#4488 Fix JWT 'aud' array
  core/src/iam/token.rs
  core/src/iam/verify.rs
Labels: topic:security

#4302 Add `BEARER` access type and its basic grant management
  Cargo.lock
  core/Cargo.toml
  core/src/cnf/mod.rs
  core/src/dbs/statement.rs
  core/src/err/mod.rs
  core/src/iam/entities/action.rs
  core/src/iam/entities/resources/resource.rs
  core/src/iam/entities/schema.rs
  core/src/iam/issue.rs
  core/src/iam/signin.rs
  core/src/iam/signup.rs
  core/src/iam/token.rs
  core/src/iam/verify.rs
  core/src/key/category.rs
  core/src/key/database/access/ac.rs
  core/src/key/database/access/all.rs
  core/src/key/database/access/gr.rs
  core/src/key/database/access/mod.rs
  core/src/key/database/mod.rs
  core/src/key/mod.rs
  core/src/key/namespace/access/ac.rs
  core/src/key/namespace/access/all.rs
  core/src/key/namespace/access/gr.rs
  core/src/key/namespace/access/mod.rs
  core/src/key/namespace/mod.rs
  core/src/key/root/access/ac.rs
  core/src/key/root/access/all.rs
  core/src/key/root/access/gr.rs
  core/src/key/root/access/mod.rs
  core/src/key/root/mod.rs
  core/src/kvs/cache.rs
  core/src/kvs/ds.rs
  core/src/kvs/tx.rs
  core/src/sql/access_type.rs
  core/src/sql/statement.rs
  core/src/sql/statements/access.rs
  core/src/sql/statements/define/access.rs
  core/src/sql/statements/mod.rs
  core/src/sql/statements/remove/access.rs
  core/src/sql/value/value.rs
  core/src/syn/lexer/keywords.rs
  core/src/syn/parser/stmt/define.rs
  core/src/syn/parser/stmt/mod.rs
  core/src/syn/parser/test/stmt.rs
  core/src/syn/token/keyword.rs
  lib/tests/access.rs
Labels: topic:security

#4434 feat-4429: Blake3 Hash
  Cargo.lock
  cackle.toml
  core/Cargo.toml
  core/src/fnc/crypto.rs
  core/src/fnc/mod.rs
  core/src/fnc/script/modules/surrealdb/functions/crypto.rs
  core/src/syn/parser/builtin.rs
  deny.toml
  lib/fuzz/fuzz_targets/fuzz_executor.dict
  lib/fuzz/fuzz_targets/fuzz_sql_parser.dict
  lib/tests/function.rs
  supply-chain/config.toml
  supply-chain/imports.lock
Labels: topic:security

#3797 Add graphql support
  .gitignore
  Cargo.lock
  Cargo.toml
  cackle.toml
  core/Cargo.toml
  core/src/cnf/mod.rs
  core/src/gql/cache.rs
  core/src/gql/error.rs
  core/src/gql/ext.rs
  core/src/gql/mod.rs
  core/src/gql/schema.rs
  core/src/gql/utils.rs
  core/src/lib.rs
  core/src/rpc/basic_context.rs
  core/src/rpc/method.rs
  core/src/rpc/rpc_context.rs
  core/src/rpc/rpc_error.rs
  core/src/sql/query.rs
  core/src/sql/value/value.rs
  deny.toml
  lib/Cargo.toml
  src/cnf/mod.rs
  src/gql/mod.rs
  src/main.rs
  src/net/gql.rs
  src/net/mod.rs
  src/rpc/connection.rs
  src/rpc/post_context.rs
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Labels: topic:graphql, needs-documentation

#4480 [Feat] Asynchronous indexing
  core/src/cnf/mod.rs
  core/src/ctx/context.rs
  core/src/doc/index.rs
  core/src/err/mod.rs
  core/src/idx/index.rs
  core/src/idx/mod.rs
  core/src/kvs/ds.rs
  core/src/kvs/index.rs
  core/src/kvs/mod.rs
  core/src/kvs/node.rs
  core/src/sql/statements/define/index.rs
  core/src/sql/statements/info.rs
  core/src/syn/lexer/keywords.rs
  core/src/syn/parser/stmt/define.rs
  core/src/syn/parser/stmt/mod.rs
  core/src/syn/parser/test/stmt.rs
  core/src/syn/parser/test/streaming.rs
  core/src/syn/token/keyword.rs
  lib/tests/define.rs
Labels: topic:indexing

#4602 Change `meta` functions to `record` and add `record::exists()` function
  core/src/fnc/meta.rs
  core/src/fnc/mod.rs
  core/src/fnc/record.rs
  core/src/fnc/script/modules/surrealdb/functions/mod.rs
  core/src/fnc/script/modules/surrealdb/functions/record.rs
  core/src/iam/signin.rs
  core/src/iam/signup.rs
  core/src/iam/verify.rs
  core/src/syn/parser/builtin.rs
  sdk/fuzz/fuzz_targets/fuzz_executor.dict
  sdk/fuzz/fuzz_targets/fuzz_sql_parser.dict
  sdk/tests/function.rs
Labels: needs-documentation

#4608 Add `value::diff()` and `value::patch()` functions
  core/src/fnc/mod.rs
  core/src/fnc/object.rs
  core/src/fnc/script/modules/surrealdb/functions/mod.rs
  core/src/fnc/script/modules/surrealdb/functions/value.rs
  core/src/fnc/value.rs
  core/src/sql/value/value.rs
  core/src/syn/parser/builtin.rs
  sdk/tests/api/mod.rs
  sdk/tests/function.rs
  sdk/tests/planner.rs
Labels: needs-documentation

#4612 Improve `array` function implementations, and improve `value::diff()` and `value::patch()` functions
  core/src/fnc/array.rs
  core/src/fnc/mod.rs
  core/src/fnc/script/modules/surrealdb/functions/array.rs
  core/src/fnc/script/modules/surrealdb/functions/string.rs
  core/src/fnc/script/modules/surrealdb/functions/value.rs
  core/src/fnc/shared.rs
  core/src/fnc/string.rs
  core/src/fnc/value.rs
  core/src/sql/array.rs
  core/src/sql/value/value.rs
  core/src/syn/parser/builtin.rs
  sdk/fuzz/fuzz_targets/fuzz_executor.dict
  sdk/fuzz/fuzz_targets/fuzz_sql_parser.dict
  sdk/tests/function.rs
Labels: needs-documentation

#4629 [Bug] Concurrent indexing fails on record updates
  core/src/key/category.rs
  core/src/key/index/ip.rs
  core/src/key/index/mod.rs
  core/src/kvs/index.rs
  sdk/tests/define.rs
Labels: bug, topic:indexing
