Repository surrealdb/surrealdb, pull requests merged in 2024-10, with the labels that each got.

#4935 Update Nix dependencies
  flake.lock
  flake.nix
  pkg/nix/drv/binary.nix
Labels: nix

#4512 Capabilities to limit the HTTP and WebSocket APIs
  core/src/dbs/capabilities.rs
  core/src/kvs/ds.rs
  core/src/rpc/method.rs
  core/src/rpc/rpc_context.rs
  core/src/rpc/rpc_error.rs
  sdk/src/api/opt/capabilities.rs
  src/cli/validator/mod.rs
  src/dbs/mod.rs
  src/err/mod.rs
  src/gql/mod.rs
  src/net/export.rs
  src/net/health.rs
  src/net/import.rs
  src/net/key.rs
  src/net/ml.rs
  src/net/rpc.rs
  src/net/signin.rs
  src/net/signup.rs
  src/net/sql.rs
  src/net/sync.rs
  src/net/version.rs
  tests/common/server.rs
  tests/common/tests.rs
  tests/http_integration.rs
Labels: needs-documentation

#4987 Require credentials when specifying auth level
  src/cli/abstraction/mod.rs
  tests/cli_integration.rs
Labels: needs-documentation

#5007 Use SurrealKV for in-memory storage engine
  Cargo.lock
  core/Cargo.toml
  core/src/err/mod.rs
  core/src/kvs/mem/mod.rs
  core/src/kvs/mod.rs
  core/src/kvs/surrealkv/mod.rs
  core/src/kvs/tr.rs
Labels: beta

#5004 Improve UPSERT behaviour
  core/src/dbs/iterator.rs
  core/src/dbs/processor.rs
  core/src/dbs/result.rs
  core/src/dbs/statement.rs
  core/src/doc/alter.rs
  core/src/doc/changefeeds.rs
  core/src/doc/check.rs
  core/src/doc/compute.rs
  core/src/doc/document.rs
  core/src/doc/edges.rs
  core/src/doc/field.rs
  core/src/doc/insert.rs
  core/src/doc/process.rs
  core/src/doc/store.rs
  core/src/doc/upsert.rs
  core/src/err/mod.rs
  sdk/tests/upsert.rs
  src/net/key.rs
Labels: needs-documentation
