Repository surrealdb/surrealdb, pull requests merged in 2025-05, with the labels that each got.

#5858 Optimise index iterators: stop scanning after LIMIT
  crates/core/src/idx/planner/mod.rs
  crates/core/src/idx/planner/plan.rs
  crates/language-tests/tests/language/planner/select_from_standard_index.surql
  crates/language-tests/tests/language/planner/select_from_unique_index.surql
  crates/sdk/tests/planner.rs
Labels: topic:performance, topic:indexing

#5870 Expose `QueryType` for `live` and `kill` responses
  crates/core/src/dbs/response.rs
  revision.lock
  tests/ws_integration.rs
Labels: needs-documentation

#5878 Add rpc live statement options
  crates/core/src/rpc/protocol/v2.rs
  crates/core/src/rpc/statement_options.rs
  crates/core/src/syn/mod.rs
  crates/core/src/syn/parser/stmt/parts.rs
Labels: needs-documentation

#5883 Fix invalid revision on update statement
  crates/core/src/sql/statements/update.rs
  revision.lock
Labels: pr:awaiting-backport

#5887 Fixes invalid "*" value for SURREAL_CAPS_[ALLOW_ARBITRARY_QUERY | ALLOW_EXPERIMENTAL]
  crates/core/src/dbs/capabilities.rs
  crates/core/src/kvs/ds.rs
  src/cli/validator/mod.rs
  src/dbs/mod.rs
Labels: pr:awaiting-backport

#5876 Add lq `KILLED` notification
  crates/core/src/dbs/notification.rs
  crates/core/src/sql/statements/kill.rs
  crates/core/src/sql/statements/remove/table.rs
  crates/sdk/src/api/value/mod.rs
  revision.lock
  tests/ws_integration.rs
Labels: needs-documentation

#5863 Introduce `ALTER FIELD`, update `ALTER TABLE`
  crates/core/src/sql/statements/alter/field.rs
  crates/core/src/sql/statements/alter/mod.rs
  crates/core/src/sql/statements/alter/table.rs
  crates/core/src/sql/statements/define/field.rs
  crates/core/src/syn/parser/stmt/alter.rs
  crates/language-tests/tests/language/statements/alter/define_field.surql
  crates/language-tests/tests/language/statements/alter/define_table.surql
  revision.lock
Labels: needs-documentation, breaking-change

#5947 Update Nix dependencies
  flake.lock
  flake.nix
  pkg/nix/util.nix
Labels: nix

#5966 Bug fix: User needs UPDATE permission to CREATE record
  crates/core/src/idx/planner/mod.rs
  crates/sdk/tests/create.rs
Labels: pr:awaiting-backport
