Repository surrealdb/surrealdb, pull requests merged in 2025-10, with the labels that each got.

#6021 Note that SINCE 0 can be used in SHOW statement
  crates/core/src/cf/reader.rs
Labels: topic:output and errors and testing

#6416 Make WebSocket limits configurable and enforce max message size
  Cargo.lock
  Cargo.toml
  Makefile.ci.toml
  cackle.toml
  crates/sdk/src/api/engine/any/native.rs
  crates/sdk/src/api/engine/remote/ws/native.rs
  crates/sdk/src/api/err/mod.rs
  crates/sdk/src/api/opt/config.rs
  crates/sdk/src/api/opt/mod.rs
  crates/sdk/src/api/opt/websocket.rs
  crates/sdk/tests/api_integration/mod.rs
  src/cnf/mod.rs
  src/net/api.rs
  src/net/client_ip.rs
  src/net/key.rs
  src/net/ml.rs
  src/net/rpc.rs
  src/net/sql.rs
  src/rpc/format.rs
  src/rpc/websocket.rs
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
  tests/common/socket.rs
Labels: needs-documentation

#6451 Rename `rand::guid()` function to `rand::id()`
  crates/core/src/fnc/mod.rs
  crates/core/src/fnc/rand.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/rand.rs
  crates/core/src/syn/parser/builtin.rs
  crates/core/tests/planner.rs
  crates/fuzz/fuzz_targets/fuzz_executor.dict
  crates/fuzz/fuzz_targets/fuzz_sql_parser.dict
  crates/language-tests/tests/language/functions/rand/id.surql
  crates/sdk/benches/order.rs
Labels: needs-documentation, breaking-change

#6457 Expose and tune RocksDB BlobDB options via environment variables
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/mod.rs
Labels: pr:awaiting-backport, needs-documentation

#6455 Support variables in closures and live queries
  crates/core/src/catalog/mod.rs
  crates/core/src/catalog/subscription.rs
  crates/core/src/dbs/variables.rs
  crates/core/src/doc/lives.rs
  crates/core/src/expr/cond.rs
  crates/core/src/expr/expression.rs
  crates/core/src/expr/fetch.rs
  crates/core/src/expr/field.rs
  crates/core/src/expr/literal.rs
  crates/core/src/expr/output.rs
  crates/core/src/expr/statements/live.rs
  crates/core/src/fnc/array.rs
  crates/core/src/fnc/value.rs
  crates/core/src/sql/closure.rs
  crates/core/src/val/closure.rs
  crates/core/src/val/value/get.rs
  crates/core/tests/live.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/closure/capture.surql
  crates/language-tests/tests/language/idiom/fallback_function.surql
  revision.lock
Labels: needs-documentation, breaking-change
