Repository surrealdb/surrealdb, pull requests merged in 2025-04, with the labels that each got.

#5765 default WS buffer size to 0, reactive RocksDB mapped R/W
  crates/core/src/kvs/rocksdb/mod.rs
  src/cnf/mod.rs
Labels: pr:awaiting-backport, needs-documentation

#5773 Update nix flake (rust 1.85)
  .github/labeler.yml
  flake.lock
  flake.nix
Labels: nix

#5796 RPC v2 implementations and changes
  crates/core/src/rpc/args.rs
  crates/core/src/rpc/mod.rs
  crates/core/src/rpc/protocol/v2.rs
  crates/core/src/rpc/statement_options.rs
  crates/core/src/syn/mod.rs
  crates/core/src/syn/parser/idiom.rs
Labels: needs-documentation

#5825 CI improvements and fixes
  .github/workflows/nightly.yml
  .github/workflows/publish-version.yml
  .github/workflows/release.yml
  cackle.toml
  crates/language-tests/Cargo.toml
Labels: nix

#5781 Rework subqueries/covered expressions
  crates/core/src/sql/expression.rs
  crates/core/src/sql/function.rs
  crates/core/src/sql/operator.rs
  crates/core/src/sql/range.rs
  crates/core/src/sql/value/value.rs
  crates/core/src/syn/parser/expression.rs
  crates/core/src/syn/parser/prime.rs
  crates/core/src/syn/parser/stmt/relate.rs
  crates/language-tests/tests/language/param/select_this.surql
  crates/language-tests/tests/language/param/special/parent_covered_expression.surql
  crates/language-tests/tests/language/param/special/parent_nested_where_clause.surql
  crates/language-tests/tests/language/param/special/this_covered_expression.surql
  crates/language-tests/tests/language/planner/select_with_in_operator_multiple_indexes.surql
  crates/sdk/tests/planner.rs
Labels: breaking-change
