Repository surrealdb/surrealdb, pull requests merged in 2025-08, with the labels that each got.

#6189 Implements Reciprocal Rank Fusion and Weighted Linear functions
  crates/core/src/dbs/group.rs
  crates/core/src/fnc/mod.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/search.rs
  crates/core/src/fnc/search.rs
  crates/core/src/syn/parser/builtin.rs
  crates/fuzz/fuzz_targets/fuzz_executor.dict
  crates/fuzz/fuzz_targets/fuzz_sql_parser.dict
  crates/language-tests/tests/language/functions/search/search-linear-errors.surql
  crates/language-tests/tests/language/functions/search/search-linear.surql
  crates/language-tests/tests/language/functions/search/search-rrf-errors.surql
  crates/language-tests/tests/language/functions/search/search-rrf.surql
Labels: topic:indexing

#6212 Ensure logging CLI options are consistent
  .github/workflows/ci.yml
  src/cli/mod.rs
  src/telemetry/console/mod.rs
  src/telemetry/logs/mod.rs
  src/telemetry/logs/socket.rs
  src/telemetry/mod.rs
Labels: needs-documentation, Modifies env vars or commands

#6210 Support range scans on compound indexes (prefix + range)
  crates/core/src/idx/planner/executor.rs
  crates/core/src/idx/planner/iterators.rs
  crates/core/src/idx/planner/plan.rs
  crates/core/src/idx/planner/tree.rs
  crates/core/src/key/index/mod.rs
  crates/core/src/key/value.rs
  crates/language-tests/tests/language/planner/select_compound_index_array.surql
  crates/language-tests/tests/language/planner/select_compound_index_object.surql
  crates/language-tests/tests/language/planner/select_compound_unique_array.surql
  crates/language-tests/tests/language/planner/select_compound_unique_object.surql
Labels: pr:awaiting-backport
