Repository surrealdb/surrealdb, pull requests merged in 2025-06, with the labels that each got.

#6027 Improve import memory usage
  crates/core/src/dbs/executor.rs
  crates/core/src/kvs/ds.rs
Labels: pr:awaiting-backport

#6051 [Backport 2.3] Avoid using commit pool in wasm for skv in-memory
  crates/core/src/kvs/mem/mod.rs
Labels: topic:surrealkv, 2.x

#6073 Improve metrics and make consistent
  src/telemetry/metrics/http/mod.rs
  src/telemetry/metrics/http/tower_layer.rs
  src/telemetry/metrics/ws/mod.rs
Labels: pr:awaiting-backport

#6034 [Backport 2.1] Add environment variable to lower import memory usage
  crates/core/src/cnf/mod.rs
  crates/core/src/dbs/executor.rs
  crates/core/src/kvs/ds.rs
  crates/sdk/src/api/engine/local/mod.rs
Labels: Modifies env vars or commands

#6010 TIKV client update to 0.3.0-surreal.3
  Cargo.lock
  Cargo.toml
  crates/core/src/kvs/tikv/cnf.rs
  crates/core/src/kvs/tikv/mod.rs
Labels: pr:awaiting-backport, needs-documentation, Modifies env vars or commands

#6048 Add support for log files, json log format, and advanced log span filtering
  Cargo.lock
  Cargo.toml
  cackle.toml
  crates/core/src/kvs/ds.rs
  doc/TELEMETRY.md
  src/cli/mod.rs
  src/cli/validator/parser/env_filter.rs
  src/cli/validator/parser/mod.rs
  src/cli/validator/parser/tracing.rs
  src/dbs/mod.rs
  src/telemetry/logs/mod.rs
  src/telemetry/mod.rs
  src/telemetry/traces/mod.rs
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Labels: Modifies env vars or commands
