Repository surrealdb/surrealdb, pull requests merged in 2025-09, with the labels that each got.

#6379 Fix Nix builds
  flake.nix
  pkg/nix/drv/binary.nix
Labels: nix

#6364 Live queries: Decouple notifications via broker and evaluate subscriptions concurrently
  crates/core/src/dbs/executor.rs
  crates/core/src/dbs/mod.rs
  crates/core/src/dbs/options.rs
  crates/core/src/doc/lives.rs
  crates/core/src/doc/mod.rs
  crates/core/src/expr/statements/kill.rs
  crates/core/src/expr/statements/live.rs
  crates/core/src/expr/statements/remove/table.rs
  crates/core/src/sql/statements/live.rs
Labels: topic:live

#6344 fix: insert ignore with unique index still creates a record when index violated
  crates/core/src/doc/insert.rs
  crates/core/tests/insert.rs
Labels: pr:awaiting-backport
