Repository surrealdb/surrealdb, pull requests merged in 2025-02, with the labels that each got.

#5507 Enable `default` features for nix builds
  pkg/nix/spec/aarch64-apple-darwin.nix
  pkg/nix/spec/x86_64-apple-darwin.nix
  pkg/nix/spec/x86_64-pc-windows-gnu.nix
  pkg/nix/spec/x86_64-unknown-linux-gnu.nix
Labels: nix

#5532 Add literal bools
  crates/core/src/sql/kind.rs
  crates/core/src/syn/parser/kind.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/expression/operators/casting/basic_literal_kind.surql
  revision.lock
Labels: needs-documentation

#5552 Reset SurrealKV to 0.8.1
  Cargo.toml
Labels: topic:surrealkv

#5556 CLI Export customisation
  crates/core/src/kvs/export.rs
  src/cli/export.rs
  src/cli/validator/mod.rs
  tests/cli_integration.rs
Labels: needs-documentation
