Repository surrealdb/surrealdb, pull requests merged in 2025-01, with the labels that each got.

#5325 Improve HTTP database function error messages
  crates/core/src/fnc/util/http/mod.rs
  crates/sdk/tests/function.rs
Labels: needs-documentation

#5330 Support variables in shortest path
  crates/core/src/sql/part.rs
  crates/core/src/syn/parser/idiom.rs
  crates/sdk/tests/idiom.rs
Labels: needs-documentation

#5369 Add `SURREAL_COUNT_BATCH_SIZE` environment variable
  crates/core/src/cnf/mod.rs
  crates/core/src/kvs/api.rs
Labels: needs-documentation

#5300 Record references
  .cargo/config.toml
  .github/workflows/ci.yml
  crates/core/src/dbs/capabilities.rs
  crates/core/src/doc/field.rs
  crates/core/src/doc/purge.rs
  crates/core/src/err/mod.rs
  crates/core/src/fnc/mod.rs
  crates/core/src/fnc/record.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/record.rs
  crates/core/src/gql/schema.rs
  crates/core/src/gql/tables.rs
  crates/core/src/idx/planner/rewriter.rs
  crates/core/src/key/category.rs
  crates/core/src/key/mod.rs
  crates/core/src/key/ref/mod.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/tx.rs
  crates/core/src/sql/kind.rs
  crates/core/src/sql/mod.rs
  crates/core/src/sql/reference.rs
  crates/core/src/sql/statements/define/field.rs
  crates/core/src/sql/thing.rs
  crates/core/src/sql/value/get.rs
  crates/core/src/sql/value/into_json.rs
  crates/core/src/sql/value/serde/de/mod.rs
  crates/core/src/sql/value/value.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/mod.rs
  crates/core/src/syn/parser/builtin.rs
  crates/core/src/syn/parser/kind.rs
  crates/core/src/syn/parser/mod.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/stmt/parts.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
  crates/core/src/syn/token/keyword.rs
  crates/fuzz/fuzz_targets/fuzz_executor.dict
  crates/fuzz/fuzz_targets/fuzz_sql_parser.dict
  crates/language-tests/revision.lock
  crates/language-tests/src/cmd/run/mod.rs
  crates/language-tests/src/tests/schema/mod.rs
  crates/language-tests/tests/language/reference/array.surql
  crates/language-tests/tests/language/reference/example_blog.surql
  crates/language-tests/tests/language/reference/multi-references.surql
  crates/sdk/src/api/opt/config.rs
  revision.lock
  src/cli/sql.rs
  src/cli/validator/mod.rs
  src/dbs/mod.rs
  tests/cli_integration.rs
Labels: needs-documentation

#5419 Update Nix dependencies
  Cargo.toml
  flake.lock
  flake.nix
  pkg/nix/spec/x86_64-unknown-linux-gnu.nix
Labels: nix

#5424 Implement graph clauses
  crates/core/src/sql/field.rs
  crates/core/src/sql/graph.rs
  crates/core/src/sql/value/fetch.rs
  crates/core/src/sql/value/get.rs
  crates/core/src/syn/parser/idiom.rs
  crates/core/src/syn/parser/stmt/select.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
  crates/language-tests/tests/language/graph/graph_clauses.surql
  revision.lock
Labels: needs-documentation

#5433 Transpose add none when item not found
  crates/core/src/sql/array.rs
  crates/sdk/tests/function.rs
Labels: breaking-change

#5452 Remove naive concurrency rate limiter in WebSocket
  Cargo.toml
  src/cnf/mod.rs
  src/net/mod.rs
  src/rpc/connection.rs
Labels: needs-documentation

#5456 `DEFAULT ALWAYS` clause
  crates/core/src/doc/field.rs
  crates/core/src/sql/statements/define/field.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
  crates/core/src/syn/token/keyword.rs
  crates/language-tests/tests/language/statements/define/field/default_always.surql
  revision.lock
Labels: needs-documentation

#5461 Disallow mismatched field types
  crates/core/src/err/mod.rs
  crates/core/src/sql/kind.rs
  crates/core/src/sql/statements/define/field.rs
  crates/language-tests/tests/language/statements/define/field/mismatch.surql
Labels: needs-documentation

#5466 Enable data durability configuration on RocksDB and SurrealKV
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/surrealkv/cnf.rs
  crates/core/src/kvs/surrealkv/mod.rs
Labels: needs-documentation, topic:surrealkv

#5469 Enable background flushing functionality
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/surrealkv/cnf.rs
  crates/core/src/kvs/surrealkv/mod.rs
Labels: needs-documentation, topic:surrealkv

#5475 Optimise storage configuration options
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/mod.rs
Labels: needs-documentation
