Repository surrealdb/surrealdb, pull requests merged in 2025-07, with the labels that each got.

#5978 Fix COMMIT/CANCEL on its own error output
  crates/core/src/err/mod.rs
  crates/core/src/expr/statement.rs
  crates/language-tests/tests/language/control_flow/transaction/cancel_behaviour.surql
  crates/language-tests/tests/language/control_flow/transaction/commit_behaviour.surql
Labels: topic:output and errors and testing

#5987 Clarify the ideal "steps to reproduce" section
  .github/ISSUE_TEMPLATE/1-bug.yml
Labels: topic:output and errors and testing

#5742 Add hint to use option when user tries to define type as NONE
  crates/core/src/syn/parser/kind.rs
  crates/language-tests/tests/language/statements/define/field/type_none_suggests_option.surql
Labels: topic:output and errors and testing

#6155 Bug fix: The standard index should not fail if a value already exists
  crates/core/src/doc/index.rs
  crates/core/src/idx/index.rs
  crates/language-tests/tests/language/statements/create/create_with_std_index_with_flattened_field.surql
Labels: pr:awaiting-backport

#6168 Yield during CF/GC collection
  .github/workflows/ci.yml
  crates/core/src/kvs/tr.rs
Labels: pr:awaiting-backport

#6169 Add configurable user agent to http requests
  crates/core/src/cnf/mod.rs
  crates/core/src/fnc/util/http/mod.rs
  crates/core/src/iam/jwks.rs
  crates/sdk/src/api/engine/any/native.rs
  crates/sdk/src/api/engine/remote/http/native.rs
Labels: pr:awaiting-backport, Modifies env vars or commands

#6172 Update Docker and Nix dependencies
  .github/workflows/build.yml
  crates/macros/Cargo.toml
  docker/Dockerfile
  flake.lock
  flake.nix
  pkg/nix/config.nix
  pkg/nix/spec/x86_64-unknown-linux-gnu.nix
  pkg/nix/util.nix
Labels: nix

#6201 Fix START clause with WHERE conditions and improve optimization safety
  crates/core/src/dbs/iterator.rs
  crates/core/src/idx/planner/executor.rs
  crates/language-tests/tests/language/statements/select/select_start_where.surql
Labels: topic:indexing, pr:awaiting-backport
